Templates/SIDOCSEntity/resources/common_exceptions.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.7.0.201206291233 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company/TIP_Soap_Generator(1.1) (1.1)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) 2010-2012 Members of the TIP Open Source Community

Licensed to Members of the TIP Open Source Community under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
Members of the TIP Open Source Community licences this file to You under the Apache License,
Version 2.0 (the 'License'); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an 'AS IS' BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/tip/common/exceptions" xmlns:exceptions="http://www.tmforum.org/xml/tip/internal/exceptions" targetNamespace="http://www.tmforum.org/xml/tip/common/exceptions" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.1">
   <xsd:annotation>
      <xsd:documentation>
         <pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: TIP_Common_Model
                        at version: 1.1
      for all artifacts in package: org.tmforum.tip.common.exceptions
      Model Description:
      TIP Framework Common Model
      Package Description:
      
      Package data summary information:
            entities: 0
 Association Classes: 0
           datatypes: 0
        enumerations: 0
              events: 0
          exceptions: 11
      </pre>
      </xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/exceptions" schemaLocation="internal_exceptions.xsd"/><!-- ******************************* --><!-- Package Enumeration definitions --><!-- ******************************* --><!-- **************************** --><!-- Package Datatype definitions --><!-- **************************** --><!-- ************************** --><!-- package Entity definitions --><!-- ************************** --><!-- ************************************* --><!-- Package Association Class definitions --><!-- ************************************* --><!-- ************************** --><!-- package Event definitions --><!-- ************************** --><!-- ************************** --><!-- package Exception definitions --><!-- ************************** -->
   <xsd:complexType name="AlreadyInPostCondition">
      <xsd:annotation>
         <xsd:documentation>
            <p>in case the operation does not support idempotence, this exception is used to indicate that the server is already in the post-condition that the operation is attempting to define.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="tns:CommonException">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="AtomicTransactionFailure">
      <xsd:annotation>
         <xsd:documentation>
            <p>This exception is raised when an atomic operation does not succeed due to the failure of one of its sub-part. The details would indicate which object/ part failed.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="tns:CommonException">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CapacityExceeded">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is the type of exception raised when the operation fails due to resources being created or activated beyond the capacity supported by the NE or target OS (the OS to which the operation is directed).</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="tns:CommonException">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CommonException">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is the root of the TIP Framework user modifiable Exception Heirarchy. All exceptions defined by an interface designer using the TIP Framework should extend from CommonException</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="exceptions:ExceptionBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="Duplicate">
      <xsd:annotation>
         <xsd:documentation>
            <p>This exception is thrown if an entity cannot be created because an object with the same identifier/name already exists.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="tns:CommonException">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="EntityNotFound">
      <xsd:annotation>
         <xsd:documentation>
            <p>This exception is thrown to indicate that the specified entity does not exist.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="tns:CommonException">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="FilterNotSupported">
      <xsd:annotation>
         <xsd:documentation>
            <p>This exception is raised when a filter definition is not supported by the filter. The details might provide more precise reason.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="tns:CommonException">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="InventoryOutOfSync">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is the type of exception raised when the operation fails due to out of synchronization of inventory between requesting OS (the OS which invokes the operation) and target OS (the OS to which the operation is directed).</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="tns:CommonException">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="NotInValidState">
      <xsd:annotation>
         <xsd:documentation>
            <p>The state of the specified object is such that the target OS (the OS to which the operation is directed) cannot perform the request. In other words, the environment or the application is not in an appropriate state for the requested operation.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="tns:CommonException">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ObjectInUse">
      <xsd:annotation>
         <xsd:documentation>
            <p>The object identified in the request is currently in use.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="tns:CommonException">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="UnableToNotify">
      <xsd:annotation>
         <xsd:documentation>
            <p>The target OS (the OS to which the operation is directed) is unable to connect to the Notification Service.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="tns:CommonException">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
</xsd:schema>