Templates/SIDOCSEntity/resources/common_resource_res_nrb.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.7.0.201206291233 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company, Optare Solutions/TIP_Soap_Generator(1.2) (1.2)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) 2010-2012 Members of the TIP Open Source Community

Licensed to Members of the TIP Open Source Community under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
Members of the TIP Open Source Community licences this file to You under the Apache License,
Version 2.0 (the 'License'); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an 'AS IS' BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/tip/resource/res/nrb" xmlns:base="http://www.tmforum.org/xml/tip/cbe/base" targetNamespace="http://www.tmforum.org/xml/tip/resource/res/nrb" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.2">
   <xsd:import namespace="http://www.tmforum.org/xml/tip/cbe/base" schemaLocation="common_cbe_base.xsd"/><!-- ******************************* --><!-- Package Enumeration definitions --><!-- ******************************* -->
   <xsd:simpleType name="AdministrativeState">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="0">
         </xsd:enumeration>
         <xsd:enumeration value="2">
         </xsd:enumeration>
         <xsd:enumeration value="1">
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfAdministrativeState">
      <xsd:sequence>
         <xsd:element name="item" type="tns:AdministrativeState" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="AvailabilityStatus">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="0">
         </xsd:enumeration>
         <xsd:enumeration value="4">
         </xsd:enumeration>
         <xsd:enumeration value="3">
         </xsd:enumeration>
         <xsd:enumeration value="9">
         </xsd:enumeration>
         <xsd:enumeration value="8">
         </xsd:enumeration>
         <xsd:enumeration value="7">
         </xsd:enumeration>
         <xsd:enumeration value="2">
         </xsd:enumeration>
         <xsd:enumeration value="1">
         </xsd:enumeration>
         <xsd:enumeration value="6">
         </xsd:enumeration>
         <xsd:enumeration value="5">
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfAvailabilityStatus">
      <xsd:sequence>
         <xsd:element name="item" type="tns:AvailabilityStatus" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="ControlState">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="LOCKED">
         </xsd:enumeration>
         <xsd:enumeration value="UNLOCKED">
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfControlState">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ControlState" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="ControlStatus">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="0">
         </xsd:enumeration>
         <xsd:enumeration value="3">
         </xsd:enumeration>
         <xsd:enumeration value="1">
         </xsd:enumeration>
         <xsd:enumeration value="2">
         </xsd:enumeration>
         <xsd:enumeration value="4">
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfControlStatus">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ControlStatus" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="HolderStatus">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="1">
         </xsd:enumeration>
         <xsd:enumeration value="2">
         </xsd:enumeration>
         <xsd:enumeration value="3">
         </xsd:enumeration>
         <xsd:enumeration value="0">
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfHolderStatus">
      <xsd:sequence>
         <xsd:element name="item" type="tns:HolderStatus" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="ObjectSource">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="0">
         </xsd:enumeration>
         <xsd:enumeration value="1">
         </xsd:enumeration>
         <xsd:enumeration value="2">
         </xsd:enumeration>
         <xsd:enumeration value="3">
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfObjectSource">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ObjectSource" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="OperationalState">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="0">
         </xsd:enumeration>
         <xsd:enumeration value="1">
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfOperationalState">
      <xsd:sequence>
         <xsd:element name="item" type="tns:OperationalState" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="ResourceFulfillmentState">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="IN_SERVICE">
         </xsd:enumeration>
         <xsd:enumeration value="OUT_OF_SERVICE">
         </xsd:enumeration>
         <xsd:enumeration value="OUT_OF_SERVICE_BY_MAINTENANCE">
         </xsd:enumeration>
         <xsd:enumeration value="SERVICE_STATE_NOT_APPLICABLE">
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfResourceFulfillmentState">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ResourceFulfillmentState" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="ResourceState">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="4">
         </xsd:enumeration>
         <xsd:enumeration value="3">
         </xsd:enumeration>
         <xsd:enumeration value="1">
         </xsd:enumeration>
         <xsd:enumeration value="7">
         </xsd:enumeration>
         <xsd:enumeration value="2">
         </xsd:enumeration>
         <xsd:enumeration value="6">
         </xsd:enumeration>
         <xsd:enumeration value="5">
         </xsd:enumeration>
         <xsd:enumeration value="8">
         </xsd:enumeration>
         <xsd:enumeration value="11">
         </xsd:enumeration>
         <xsd:enumeration value="9">
         </xsd:enumeration>
         <xsd:enumeration value="12">
         </xsd:enumeration>
         <xsd:enumeration value="10">
         </xsd:enumeration>
         <xsd:enumeration value="14">
         </xsd:enumeration>
         <xsd:enumeration value="20">
         </xsd:enumeration>
         <xsd:enumeration value="15">
         </xsd:enumeration>
         <xsd:enumeration value="17">
         </xsd:enumeration>
         <xsd:enumeration value="18">
         </xsd:enumeration>
         <xsd:enumeration value="16">
         </xsd:enumeration>
         <xsd:enumeration value="19">
         </xsd:enumeration>
         <xsd:enumeration value="13">
         </xsd:enumeration>
         <xsd:enumeration value="0">
         </xsd:enumeration>
         <xsd:enumeration value="21">
         </xsd:enumeration>
         <xsd:enumeration value="22">
         </xsd:enumeration>
         <xsd:enumeration value="23">
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfResourceState">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ResourceState" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="State">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="0">
         </xsd:enumeration>
         <xsd:enumeration value="8">
         </xsd:enumeration>
         <xsd:enumeration value="6">
         </xsd:enumeration>
         <xsd:enumeration value="10">
         </xsd:enumeration>
         <xsd:enumeration value="5">
         </xsd:enumeration>
         <xsd:enumeration value="7">
         </xsd:enumeration>
         <xsd:enumeration value="4">
         </xsd:enumeration>
         <xsd:enumeration value="1">
         </xsd:enumeration>
         <xsd:enumeration value="3">
         </xsd:enumeration>
         <xsd:enumeration value="2">
         </xsd:enumeration>
         <xsd:enumeration value="9">
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfState">
      <xsd:sequence>
         <xsd:element name="item" type="tns:State" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="UsageState">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="2">
         </xsd:enumeration>
         <xsd:enumeration value="0">
         </xsd:enumeration>
         <xsd:enumeration value="1">
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfUsageState">
      <xsd:sequence>
         <xsd:element name="item" type="tns:UsageState" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- **************************** --><!-- Package Datatype definitions --><!-- **************************** -->
   <xsd:element name="ituStateAndStatusList" type="tns:ItuStateAndStatusList"/>
   <xsd:complexType name="ItuStateAndStatusList">
      <xsd:sequence>
         <xsd:element name="m3100_CIRCUIT_PACK_TYPE" type="xsd:string" minOccurs="0" maxOccurs="1">
         </xsd:element>
         <xsd:element name="m3100_HOLDER_STATUS" type="tns:HolderStatus" minOccurs="0" maxOccurs="1">
         </xsd:element>
         <xsd:element name="x721_ADMINISTRATIVE_STATE" type="tns:AdministrativeState" minOccurs="0" maxOccurs="1">
         </xsd:element>
         <xsd:element name="x721_AVAILABILITY_STATUS" type="tns:ArrayOfAvailabilityStatus" minOccurs="0" maxOccurs="1">
         </xsd:element>
         <xsd:element name="x721_CONTROL_STATUS" type="tns:ArrayOfControlStatus" minOccurs="0" maxOccurs="1">
         </xsd:element>
         <xsd:element name="x721_OPERATIONAL_STATE" type="tns:OperationalState" minOccurs="0" maxOccurs="1">
         </xsd:element>
         <xsd:element name="x721_STATE" type="tns:ArrayOfState" minOccurs="0" maxOccurs="1">
         </xsd:element>
         <xsd:element name="x721_UNKNOWN_STATUS" type="xsd:boolean" minOccurs="0" maxOccurs="1">
         </xsd:element>
         <xsd:element name="x721_USAGE_STATE" type="tns:UsageState" minOccurs="0" maxOccurs="1">
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfItuStateAndStatusList">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ItuStateAndStatusList" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="layerRate" type="tns:LayerRate"/>
   <xsd:complexType name="LayerRate">
      <xsd:sequence>
         <xsd:element name="layerRateValues" type="xsd:int" minOccurs="0" maxOccurs="1">
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfLayerRate">
      <xsd:sequence>
         <xsd:element name="item" type="tns:LayerRate" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="transmissionParameterList" type="tns:TransmissionParameterList"/>
   <xsd:complexType name="TransmissionParameterList">
      <xsd:sequence>
         <xsd:element name="layerRate" type="tns:LayerRate" minOccurs="0" maxOccurs="1">
         </xsd:element>
         <xsd:element name="transmissionParameterList" type="base:ArrayOfAttributeValuePair" minOccurs="0" maxOccurs="1">
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfTransmissionParameterList">
      <xsd:sequence>
         <xsd:element name="item" type="tns:TransmissionParameterList" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- ************************** --><!-- package Entity definitions --><!-- ************************** --><!-- ************************************* --><!-- Package Association Class definitions --><!-- ************************************* --><!-- ************************** --><!-- package Event definitions --><!-- ************************** --><!-- ************************** --><!-- package Exception definitions --><!-- ************************** -->
</xsd:schema>