Templates/SIDOCSEntity/resources/common_cbe_time_sched.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.7.0.201206291233 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company/TIP_Soap_Generator(1.1) (1.1)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) 2010-2012 Members of the TIP Open Source Community

Licensed to Members of the TIP Open Source Community under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
Members of the TIP Open Source Community licences this file to You under the Apache License,
Version 2.0 (the 'License'); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an 'AS IS' BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/tip/cbe/time/sched" xmlns:primitives="http://www.tmforum.org/xml/tip/internal/primitives" xmlns:base="http://www.tmforum.org/xml/tip/cbe/base" targetNamespace="http://www.tmforum.org/xml/tip/cbe/time/sched" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.1">
   <xsd:annotation>
      <xsd:documentation>
         <pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: TIP_Common_Model
                        at version: 1.1
      for all artifacts in package: org.tmforum.tip.cbe.time.sched
      Model Description:
      TIP Framework Common Model
      Package Description:
      
      Package data summary information:
            entities: 0
 Association Classes: 0
           datatypes: 10
        enumerations: 0
              events: 0
          exceptions: 0
      </pre>
      </xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/primitives" schemaLocation="internal_primitives.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/cbe/base" schemaLocation="common_cbe_base.xsd"/><!-- ******************************* --><!-- Package Enumeration definitions --><!-- ******************************* --><!-- **************************** --><!-- Package Datatype definitions --><!-- **************************** -->
   <xsd:element name="dateScheduleDefinition" type="tns:DateScheduleDefinition"/>
   <xsd:complexType name="DateScheduleDefinition">
      <xsd:annotation>
         <xsd:documentation>
            <p>The date schedule is used to define a schedule that is based on specific dates, such as December 31st 2015, Feberaury 28th 2013, etc.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="tns:ScheduleDefinition">
            <xsd:sequence>
               <xsd:element name="scheduledDates" type="primitives:ArrayOfDateTime" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The list of dates when the date schedule definition is active on, e.g.November 1st 2022.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfDateScheduleDefinition">
      <xsd:sequence>
         <xsd:element name="item" type="tns:DateScheduleDefinition" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="fixedScheduleDefinition" type="tns:FixedScheduleDefinition"/>
   <xsd:complexType name="FixedScheduleDefinition">
      <xsd:annotation>
         <xsd:documentation>
            <p>The FixedScheduleDefinition entity holds ta list of fixed executions in the sense that each execution has specific time parameters (i.e. starts at a certain date and time).</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="tns:ScheduleDefinition">
            <xsd:sequence>
               <xsd:element name="havingFixedScheduleItem" type="tns:ArrayOfFixedScheduleItem" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfFixedScheduleDefinition">
      <xsd:sequence>
         <xsd:element name="item" type="tns:FixedScheduleDefinition" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="fixedScheduleItem" type="tns:FixedScheduleItem"/>
   <xsd:complexType name="FixedScheduleItem">
      <xsd:annotation>
         <xsd:documentation>
            <p>The FixedScheduleItem entity holds a list of specific parameters (e.g. start date and time) related to a single execution .</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="fixedScheduleStartTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>The date and time to start a job/activity.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="havingScheduledDuration" type="tns:ScheduledDuration" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfFixedScheduleItem">
      <xsd:sequence>
         <xsd:element name="item" type="tns:FixedScheduleItem" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="monthlyScheduleDayofMonthDefinition" type="tns:MonthlyScheduleDayofMonthDefinition"/>
   <xsd:complexType name="MonthlyScheduleDayofMonthDefinition" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>The monthly schedule by days of month is used to define a schedule that is based on specifying which days of month are requited, e.g. the10th, 20th, 30th of each month.</p>
            <p>This datatype  is  abstract</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="tns:ScheduleDefinition">
            <xsd:sequence>
               <xsd:element name="daysOfMonthRecurrence" type="base:ArrayOfDaysOfMonth" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The list of days of month when the monthly schedule definition is active on, e.g. 10th , 15th , 20th.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfMonthlyScheduleDayofMonthDefinition">
      <xsd:sequence>
         <xsd:element name="item" type="tns:MonthlyScheduleDayofMonthDefinition" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="monthlyScheduleDayofWeekDefinition" type="tns:MonthlyScheduleDayofWeekDefinition"/>
   <xsd:complexType name="MonthlyScheduleDayofWeekDefinition">
      <xsd:annotation>
         <xsd:documentation>
            <p>The monthly schedule by days of week is used to define a monthly schedule based on the sequnce of day in a month by specifying its instance, e.g. the 1st Monday of the month.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="tns:ScheduleDefinition">
            <xsd:sequence>
               <xsd:element name="daysOfWeek" type="base:ArrayOfDaysOfWeek" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The list of days of week when the monthly schedule definition is active on, e.g. Monday, Tuesday, etc. This works with the weekly instance (1-5, last) as sprecified in the monthlyDaysOfWeekInstance attribute. For example: the 2nd Monday in a month.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="monthlyDaysOfWeekInstance" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The instance of a selected day in the monthly schedule definition, 1-5 or "last" instance. For example: the 2nd Monday in a month.This works in conjunction with the daysOfWeek attribute.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfMonthlyScheduleDayofWeekDefinition">
      <xsd:sequence>
         <xsd:element name="item" type="tns:MonthlyScheduleDayofWeekDefinition" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="recurringScheduleDefinition" type="tns:RecurringScheduleDefinition"/>
   <xsd:complexType name="RecurringScheduleDefinition" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>The RecurringScheduleDefinition entity holds the parameters related to a schedule that defines recurrent executions.</p>
            <p>This datatype  is  abstract</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="tns:ScheduleDefinition">
            <xsd:sequence>
               <xsd:element name="scheduleDefinitionStartTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The Start time of the Schedule Definition. If the attribute is empty the Schedule will be active immediately.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="scheduleDefinitionEndTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The Endtime of the Schedule Definition. If the attribute is empty the Schedule run forever, not having a time constraint.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="scheduleDefinitionHoursRange" type="base:TimePeriod" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A list of time ranges within a specific day that the schedule will be active on, for example 08:00-12:00, 16:00-19:00.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="recurringFrequency" type="base:RecurrentInterval" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A recurring frequency to run a job within day that is included in schedule definition, for example: every 5 minutes, 15 minuute, 30 minutes, 1 hour.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="scheduleStartOffset" type="base:Duration" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>This is an offeset relating to the recurring interval. For example, if the recurring interval is 1 hour and the offset is 10 minutes, a job will be executed at 1:10, 2:10, 3:10, etc.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="scheduleDefinitionExcludedDates" type="tns:ScheduleDefinitionExcludedDates" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A list of specific dates that should be excluded from the Schedule Definition.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfRecurringScheduleDefinition">
      <xsd:sequence>
         <xsd:element name="item" type="tns:RecurringScheduleDefinition" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="scheduleDefinition" type="tns:ScheduleDefinition"/>
   <xsd:complexType name="ScheduleDefinition" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>The Schedule Definition base Entity holds the required parameters for the definition of a schedule that will be attached to jobs.</p>
            <p>This datatype  is  abstract</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence/>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfScheduleDefinition">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ScheduleDefinition" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="scheduleDefinitionExcludedDates" type="tns:ScheduleDefinitionExcludedDates"/>
   <xsd:complexType name="ScheduleDefinitionExcludedDates">
      <xsd:annotation>
         <xsd:documentation>
            <p>Excluded dates are dates that should be excluded from the Schedule definition, e.g. the schedule definition will not be active on May 1st 2014.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="excludedDates" type="primitives:ArrayOfDateTime" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  mandatory</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfScheduleDefinitionExcludedDates">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ScheduleDefinitionExcludedDates" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="scheduledDuration" type="tns:ScheduledDuration"/>
   <xsd:complexType name="ScheduledDuration">
      <xsd:annotation>
         <xsd:documentation>
            <p>The Scheduled Duration entity defines a set of parameters related to the duration of a job/activity, such as the planned base duration and possible extensions.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="baseDuration" type="base:Duration" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>The expected duration of a job (amount and units).</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="extensionDuration" type="base:Duration" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>The duration of the expected extensions.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="meanExtensions" type="xsd:int" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>The mean number of expected extensions.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="maxExtensions" type="xsd:int" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>The maximal number of expected extensions.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfScheduledDuration">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ScheduledDuration" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="weeklyScheduleDefinition" type="tns:WeeklyScheduleDefinition"/>
   <xsd:complexType name="WeeklyScheduleDefinition">
      <xsd:annotation>
         <xsd:documentation>
            <p>The weekly schedule is used to define a schedule that is based on the days of the week, e.g. a schedule that will be active only on Monday, Tuesday.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="tns:ScheduleDefinition">
            <xsd:sequence>
               <xsd:element name="daysOfWeekRecurrence" type="base:ArrayOfDaysOfWeek" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The list of days of week when the weekly schedule definition is active on: e.g. Monday, Tuesday, Wednesday.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfWeeklyScheduleDefinition">
      <xsd:sequence>
         <xsd:element name="item" type="tns:WeeklyScheduleDefinition" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- ************************** --><!-- package Entity definitions --><!-- ************************** --><!-- ************************************* --><!-- Package Association Class definitions --><!-- ************************************* --><!-- ************************** --><!-- package Event definitions --><!-- ************************** --><!-- ************************** --><!-- package Exception definitions --><!-- ************************** -->
</xsd:schema>