Templates/SIDOCSEntity/resources/OCS_Configuration_Service_v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://www.telefonica.com/schemas/SOAP/OCSConfiguration/v1/services" 
				  xmlns:tns="http://www.telefonica.com/schemas/SOAP/OCSConfiguration/v1/services" 
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
				  xmlns:oco="http://www.telefonica.com/schemas/SOAP/OCSConfigurationOperation/v1/types" 
				  xmlns:oo="http://www.telefonica.com/schemas/SOAP/OCSOperation/v1/types" 
				  xmlns:uct="http://www.telefonica.com/schemas/UNICA/SOAP/common/v2"
				  targetNamespace="http://www.telefonica.com/schemas/SOAP/OCSConfiguration/v1/services">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.telefonica.com/schemas/SOAP/OCSConfiguration/v1/services" elementFormDefault="qualified">
			<xsd:import namespace="http://www.telefonica.com/schemas/SOAP/OCSConfigurationOperation/v1/types" schemaLocation="OCS_Configuration_Operation_v1.xsd"/>
			<xsd:import namespace="http://www.telefonica.com/schemas/SOAP/OCSOperation/v1/types" schemaLocation="OCS_Operation_v1.xsd"/>
			<xsd:import namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="http://schemas.xmlsoap.org/soap/envelope/"/>
			<xsd:import namespace="http://www.telefonica.com/schemas/UNICA/SOAP/common/v2" schemaLocation="UNICA_API_SOAP_common_types_v2_1.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="StartConfiguration">
		<wsdl:part name="parameters" element="oco:StartConfiguration"/>
	</wsdl:message>
	<wsdl:message name="StartConfigurationResponse">
		<wsdl:part name="parameters" element="oco:StartConfigurationResponse"/>
	</wsdl:message>
	<wsdl:message name="EndConfiguration">
		<wsdl:part name="parameters" element="oco:EndConfiguration"/>
	</wsdl:message>
	<wsdl:message name="EndConfigurationResponse">
		<wsdl:part name="parameters" element="oco:EndConfigurationResponse"/>
	</wsdl:message>
	<wsdl:message name="CreateEntity">
		<wsdl:part name="parameters" element="oco:CreateEntity"/>
	</wsdl:message>
	<wsdl:message name="CreateEntityResponse">
		<wsdl:part name="parameters" element="oco:CreateEntityResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteEntity">
		<wsdl:part name="parameters" element="oco:DeleteEntity"/>
	</wsdl:message>
	<wsdl:message name="DeleteEntityResponse">
		<wsdl:part name="parameters" element="oco:DeleteEntityResponse"/>
	</wsdl:message>
	<wsdl:message name="ChangeEntity">
		<wsdl:part name="parameters" element="oco:ChangeEntity"/>
	</wsdl:message>
	<wsdl:message name="ChangeEntityResponse">
		<wsdl:part name="parameters" element="oco:ChangeEntityResponse"/>
	</wsdl:message>
	<wsdl:message name="QueryEntityStatus">
		<wsdl:part name="parameters" element="oco:QueryEntityStatus"/>
	</wsdl:message>
	<wsdl:message name="QueryEntityStatusResponse">
		<wsdl:part name="parameters" element="oco:QueryEntityStatusResponse"/>
	</wsdl:message>
	<wsdl:message name="QueryEntity">
		<wsdl:part name="parameters" element="oco:QueryEntity"/>
	</wsdl:message>
	<wsdl:message name="QueryEntityResponse">
		<wsdl:part name="parameters" element="oco:QueryEntityResponse"/>
	</wsdl:message>
	<wsdl:message name="QueryConfigurationStatus">
		<wsdl:part name="parameters" element="oco:QueryConfigurationStatus"/>
	</wsdl:message>
	<wsdl:message name="QueryConfigurationStatusResponse">
		<wsdl:part name="parameters" element="oco:QueryConfigurationStatusResponse"/>
	</wsdl:message>
	<wsdl:message name="SendNotification">
		<wsdl:part name="parameters" element="oco:SendNotification"/>
	</wsdl:message>
	<wsdl:message name="SendNotificationResponse">
		<wsdl:part name="parameters" element="oco:SendNotificationResponse"/>
	</wsdl:message>
	<wsdl:message name="ServerException">
      <wsdl:part name="ServerException" element="uct:serverException"/>
    </wsdl:message>
    <wsdl:message name="ClientException">
      <wsdl:part name="ClientException" element="uct:clientException"/>
    </wsdl:message>
	<wsdl:portType name="OCSConfigurationPort_v1">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="startConfiguration">
			<wsdl:input message="StartConfiguration"/>
			<wsdl:output message="StartConfigurationResponse"/>
			<wsdl:fault name="ClientException" message="tns:ClientException"/> 
			<wsdl:fault name="ServerException" message="tns:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="endConfiguration">
			<wsdl:input message="EndConfiguration"/>
			<wsdl:output message="EndConfigurationResponse"/>
			<wsdl:fault name="ClientException" message="tns:ClientException"/> 
			<wsdl:fault name="ServerException" message="tns:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="createEntity">
			<wsdl:input message="CreateEntity"/>
			<wsdl:output message="CreateEntityResponse"/>
			<wsdl:fault name="ClientException" message="tns:ClientException"/> 
			<wsdl:fault name="ServerException" message="tns:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="deleteEntity">
			<wsdl:input message="DeleteEntity"/>
			<wsdl:output message="DeleteEntityResponse"/>
			<wsdl:fault name="ClientException" message="tns:ClientException"/> 
			<wsdl:fault name="ServerException" message="tns:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="changeEntity">
			<wsdl:input message="ChangeEntity"/>
			<wsdl:output message="ChangeEntityResponse"/>
			<wsdl:fault name="ClientException" message="tns:ClientException"/> 
			<wsdl:fault name="ServerException" message="tns:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="queryEntityStatus">
			<wsdl:input message="QueryEntityStatus"/>
			<wsdl:output message="QueryEntityStatusResponse"/>
			<wsdl:fault name="ClientException" message="tns:ClientException"/> 
			<wsdl:fault name="ServerException" message="tns:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="queryEntity">
			<wsdl:input message="QueryEntity"/>
			<wsdl:output message="QueryEntityResponse"/>
			<wsdl:fault name="ClientException" message="tns:ClientException"/> 
			<wsdl:fault name="ServerException" message="tns:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="queryConfigurationStatus">
			<wsdl:input message="QueryConfigurationStatus"/>
			<wsdl:output message="QueryConfigurationStatusResponse"/>
			<wsdl:fault name="ClientException" message="tns:ClientException"/> 
			<wsdl:fault name="ServerException" message="tns:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="sendNotification">
			<wsdl:input message="SendNotification"/>
			<wsdl:output message="SendNotificationResponse"/>
			<wsdl:fault name="ClientException" message="tns:ClientException"/> 
			<wsdl:fault name="ServerException" message="tns:ServerException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OCSConfigurationSOAPBinding_v1" type="OCSConfigurationPort_v1">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="startConfiguration">
			<soap:operation soapAction="startConfiguration" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ClientException">
				<soap:fault name="ClientException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServerException">
				<soap:fault name="ServerException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="endConfiguration">
			<soap:operation soapAction="endConfiguration" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ClientException">
				<soap:fault name="ClientException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServerException">
				<soap:fault name="ServerException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createEntity">
			<soap:operation soapAction="createEntity" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ClientException">
				<soap:fault name="ClientException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServerException">
				<soap:fault name="ServerException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteEntity">
			<soap:operation soapAction="deleteEntity" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ClientException">
				<soap:fault name="ClientException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServerException">
				<soap:fault name="ServerException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="changeEntity">
			<soap:operation soapAction="changeEntity" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ClientException">
				<soap:fault name="ClientException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServerException">
				<soap:fault name="ServerException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryEntityStatus">
			<soap:operation soapAction="queryEntityStatus" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ClientException">
				<soap:fault name="ClientException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServerException">
				<soap:fault name="ServerException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryEntity">
			<soap:operation soapAction="queryEntity" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ClientException">
				<soap:fault name="ClientException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServerException">
				<soap:fault name="ServerException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryConfigurationStatus">
			<soap:operation soapAction="queryConfigurationStatus" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ClientException">
				<soap:fault name="ClientException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServerException">
				<soap:fault name="ServerException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="sendNotification">
			<soap:operation soapAction="sendNotification" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ClientException">
				<soap:fault name="ClientException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServerException">
				<soap:fault name="ServerException" use="literal"/>
			</wsdl:fault>>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="OCSConfigurationService_v1">
		<wsdl:port name="OCSConfigurationPort_v1" binding="tns:OCSConfigurationSOAPBinding_v1">
			<soap:address location="http://localhost/SOAP/OCSConfiguration/v1/services"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
