Templates/SIDOCSEntity/resources/OCS_Configuration_Operation_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.telefonica.com/schemas/SOAP/OCSConfigurationOperation/v1/types" xmlns:oo="http://www.telefonica.com/schemas/SOAP/OCSOperation/v1/types" xmlns:oe="http://www.telefonica.com/schemas/SOAP/OCSEntity/v1/types" targetNamespace="http://www.telefonica.com/schemas/SOAP/OCSConfigurationOperation/v1/types" elementFormDefault="qualified">
	<xsd:import namespace="http://www.telefonica.com/schemas/SOAP/OCSOperation/v1/types" schemaLocation="OCS_Operation_v1.xsd"/>
	<xsd:import namespace="http://www.telefonica.com/schemas/SOAP/OCSEntity/v1/types" schemaLocation="OCS_Entity_v1.xsd"/>
	
<!-- <xsd:annotation><xsd:documentation><p>

	XSD FOR OCS CONFIGURATION OPERATION
	=========================================================================

	Last changes (2014-07-10)
	- oCSEntityStatus element  changes to oCSEntityStatusList (QueryEntityStatusResponseType).
	- ConfigurationStatusType removed
	- <xsd:element name="configurationStatus" type="ConfigurationStatusType"/> changed to 
	  <xsd:element name="configurationStatus" type="oe:ConfigurationStatusType"/>
    - Telefonica namespaces URI corrected
	
	</p></xsd:documentation></xsd:annotation> -->
	
	<!-- main type definition -->
	<xsd:element name="StartConfiguration" type="StartConfigurationType"/>
	<xsd:complexType name="StartConfigurationType">
		<xsd:sequence>
			<xsd:element name="sessionCommonInfo" type="oo:SessionCommonInfoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="StartConfigurationResponse" type="StartConfigurationResponseType"/>
	<xsd:complexType name="StartConfigurationResponseType">
		<xsd:sequence>
			<xsd:element name="sessionCommonInfoResult" type="oo:SessionCommonInfoResultType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="EndConfiguration" type="EndConfigurationType"/>
	<xsd:complexType name="EndConfigurationType">
		<xsd:sequence>
			<xsd:element name="sessionCommonInfo" type="oo:SessionCommonInfoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="EndConfigurationResponse" type="EndConfigurationResponseType"/>
	<xsd:complexType name="EndConfigurationResponseType">
		<xsd:sequence>
			<xsd:element name="sessionCommonInfoResult" type="oo:SessionCommonInfoResultType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="QueryConfigurationStatus" type="QueryConfigurationStatusType"/>
	<xsd:complexType name="QueryConfigurationStatusType">
		<xsd:sequence>
			<xsd:element name="queryCommonInfo" type="oo:QueryCommonInfoType"/>
			<xsd:element name="sessionId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="QueryConfigurationStatusResponse" type="QueryConfigurationStatusResponseType"/>
	<xsd:complexType name="QueryConfigurationStatusResponseType">
		<xsd:sequence>
			<xsd:element name="queryCommonInfoResult" type="oo:QueryCommonInfoResultType"/>
			<xsd:element name="configurationStatus" type="oe:ConfigurationStatusType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SendNotification" type="SendNotificationType"/>
	<xsd:complexType name="SendNotificationType">
		<xsd:sequence>
			<xsd:element name="notificationCommonInfo" type="oo:NotificationCommonInfoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SendNotificationResponse" type="SendNotificationResponseType"/>
	<xsd:complexType name="SendNotificationResponseType">
		<xsd:sequence>
			<xsd:element name="notificationCommonInfoResult" type="oo:NotificationCommonInfoResultType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CreateEntity" type="CreateEntityType"/>
	<xsd:complexType name="CreateEntityType">
		<xsd:sequence>
			<xsd:element name="actionCommonInfo" type="oo:ActionCommonInfoType"/>
			<xsd:element name="oCSEntity" type="oe:OCSEntityType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CreateEntityResponse" type="CreateEntityResponseType"/>
	<xsd:complexType name="CreateEntityResponseType">
		<xsd:sequence>
			<xsd:element name="actionCommonInfoResult" type="oo:ActionCommonInfoResultType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DeleteEntity" type="DeleteEntityType"/>
	<xsd:complexType name="DeleteEntityType">
		<xsd:sequence>
			<xsd:element name="actionCommonInfo" type="oo:ActionCommonInfoType"/>
			<xsd:element name="oCSEntity" type="oe:OCSEntityType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DeleteEntityResponse" type="DeleteEntityResponseType"/>
	<xsd:complexType name="DeleteEntityResponseType">
		<xsd:sequence>
			<xsd:element name="actionCommonInfoResult" type="oo:ActionCommonInfoResultType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ChangeEntity" type="ChangeEntityType"/>
	<xsd:complexType name="ChangeEntityType">
		<xsd:sequence>
			<xsd:element name="actionCommonInfo" type="oo:ActionCommonInfoType"/>
			<xsd:element name="oCSEntity" type="oe:OCSEntityType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ChangeEntityResponse" type="ChangeEntityResponseType"/>
	<xsd:complexType name="ChangeEntityResponseType">
		<xsd:sequence>
			<xsd:element name="actionCommonInfoResult" type="oo:ActionCommonInfoResultType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="QueryEntityStatus" type="QueryEntityStatusType"/>
	<xsd:complexType name="QueryEntityStatusType">
		<xsd:sequence>
			<xsd:element name="queryCommonInfo" type="oo:QueryCommonInfoType"/>
			<xsd:element name="oCSEntity" type="oe:OCSEntityType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="QueryEntityStatusResponse" type="QueryEntityStatusResponseType"/>
	<xsd:complexType name="QueryEntityStatusResponseType">
		<xsd:sequence>
			<xsd:element name="queryCommonInfoResult" type="oo:QueryCommonInfoResultType"/>
			<xsd:element name="oCSEntityStatusList" type="oe:ArrayOfOCSEntityStatusType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="QueryEntity" type="QueryEntityType"/>
	<xsd:complexType name="QueryEntityType">
		<xsd:sequence>
			<xsd:element name="queryCommonInfo" type="oo:QueryCommonInfoType"/>
			<xsd:element name="oCSEntity" type="oe:OCSEntityType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="QueryEntityResponse" type="QueryEntityResponseType"/>
	<xsd:complexType name="QueryEntityResponseType">
		<xsd:sequence>
			<xsd:element name="queryCommonInfoResult" type="oo:QueryCommonInfoResultType"/>
			<xsd:element name="oCSEntityList" type="oe:ArrayOfOCSEntityType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
