Templates/SIDOCSEntity/resources/sid_org_tmforum_tip_resource_trouble_alarm.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.7.0.201207021234 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company, Optare Solutions/TIP_Soap_Generator(1.2) (1.2)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) TeleManagement Forum 2012. All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published, and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this section are included on all such copies and derivative works. However, this document itself may not be modified in any way, including by removing the copyright notice or references to TM FORUM, except as needed for the purpose of developing any document or deliverable produced by a TM FORUM Collaboration Project Team (in which case the rules applicable to copyrights, as set forth in the TM FORUM IPR Policy, must be followed) or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by TM FORUM or its successors or assigns. 

This document and the information contained herein is provided on an "AS IS" basis and TM FORUM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY OWNERSHIP RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. 


Direct inquiries to the TM Forum office: 
 
240 Headquarters Plaza,
East Tower - 10th Floor,
Morristown, NJ  07960 USA
Tel No.  +1 973 944 5100
Fax No.  +1 973 944 5110
TM Forum Web Page: www.tmforum.org
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/trouble/alarm" xmlns:nrb="http://www.tmforum.org/xml/tip/resource/res/nrb" xmlns:mon="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf/mon" xmlns:problem="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/problem" xmlns:entity="http://www.tmforum.org/xml/tip/internal/entity" xmlns:base="http://www.tmforum.org/xml/tip/cbe/base" targetNamespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/trouble/alarm" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13.0">
   <xsd:annotation>
      <xsd:documentation>
         <pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: SID_Model
                        at version: 13.0
      for all artifacts in package: org.tmforum.tip.resource.trouble.alarm
      Model Description:
      Model Project for SID xsd generation
      Package Description:
      
      Package data summary information:
            entities: 1
 Association Classes: 0
           datatypes: 2
        enumerations: 6
              events: 0
          exceptions: 0
      </pre>
      </xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/resource/res/nrb" schemaLocation="common_resource_res_nrb.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf/mon" schemaLocation="sid_org_tmforum_tip_cbe_perf_mon.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/problem" schemaLocation="sid_org_tmforum_tip_cbe_problem.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/entity" schemaLocation="internal_entity.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/cbe/base" schemaLocation="common_cbe_base.xsd"/><!-- ******************************* --><!-- Package Enumeration definitions --><!-- ******************************* -->
   <xsd:simpleType name="AlarmType">
      <xsd:annotation>
         <xsd:documentation>
            <p>This datatype defines the possible alarm values. It is aligned with the NGCOR aalrm type definition.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="PROCESSING_ERROR_ALARM">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An alarm of this type is associated with a software or processing fault (ITU T Recommendation X.733).</p>
                  <p>This literal  has  value "PROCESSING_ERROR_ALARM"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="EQUIPMENT_ALARM">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An alarm of this type is associated with an equipment fault (ITU-T Recommendation X.733).</p>
                  <p>This literal  has  value "EQUIPMENT_ALARM"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="EQUIPMENT_RELAY_AND_TRANSMISSION_ALARM">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An alarm of this type is associated with relay and transmission failure, e.g. printer un-reachable. It is a subtype of Equipment Alarm.</p>
                  <p>This literal  has  value "EQUIPMENT_RELAY_AND_TRANSMISSION_ALARM"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="INTEGRITY_VIOLATION">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An indication that information may have been illegally modified, inserted or deleted.</p>
                  <p>This literal  has  value "INTEGRITY_VIOLATION"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="ENVIRONMENTAL_ALARM">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An alarm of this type is associated with a condition related to an enclosure in which the equipment resides (ITU-T Recommendation X.733).</p>
                  <p>This literal  has  value "ENVIRONMENTAL_ALARM"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="UNKNOWN">
            <xsd:annotation>
               <xsd:documentation>
                  <p>Event type that cannot be supported by the above definitions.</p>
                  <p>This literal  has  value "UNKNOWN"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="COMMUNICATIONS_ALARM">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An alarm of this type is associated with the procedure and/or process required conveying information from one point to another (ITU-T Recommendation X.733).</p>
                  <p>This literal  has  value "COMMUNICATIONS_ALARM"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="COMMUNICATIONS_SIGNALLING_AND_IP_ALARM">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An alarm of this type is associated with signalling and IP failure, e.g.SS7 protocol error. It is a subtype of Communications Alarm.</p>
                  <p>This literal  has  value "COMMUNICATIONS_SIGNALLING_AND_IP_ALARM"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="TIME_DOMAIN_VIOLATION">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An indication that an event has occurred at an unexpected or prohibited time.</p>
                  <p>This literal  has  value "TIME_DOMAIN_VIOLATION"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="OPERATIONAL_VIOLATION">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An indication that the provision of the requested service was not possible due to the unavailability, malfunction or incorrect invocation of the service.</p>
                  <p>This literal  has  value "OPERATIONAL_VIOLATION"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="PHYSICAL_VIOLATION">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An indication that a physical resource has been violated in a way that suggests a security attack.</p>
                  <p>This literal  has  value "PHYSICAL_VIOLATION"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="EQUIPMENT_EQUIPMENT_POWER_ALARM">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An alarm of this type is associated with equipment power problem, e.g. power supply failure. It is a subtype of Equipment Alarm.</p>
                  <p>This literal  has  value "EQUIPMENT_EQUIPMENT_POWER_ALARM"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="EQUIPMENT_CHARGING_SYSTEM_ALARM">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An alarm of this type is associated with charging system fault, e.g.billing file error etc. It is a subtype of Equipment Alarm.</p>
                  <p>This literal  has  value "EQUIPMENT_CHARGING_SYSTEM_ALARM"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="INTEGRITY_VIOLATION_DATA_CONFIGURATION">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An alarm of this type is associated with data configuration failure. e.g. switch data configuration error. It is a subtype of Integrity Violation.</p>
                  <p>This literal  has  value "INTEGRITY_VIOLATION_DATA_CONFIGURATION"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="EQUIPMENT_EXTERNAL_IO_EQUIPMENT_ALARM">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An alarm of this type is associated with an external I/O equipment failure, e.g. disk problem. It is a subtype of Equipment Alarm.</p>
                  <p>This literal  has  value "EQUIPMENT_EXTERNAL_IO_EQUIPMENT_ALARM"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="QUALITY_OF_SERVICE_EQUIPMENT_PERFORMANCE_ALARM">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An alarm of this type is associated with degradation of equipment performance. e.g. system resources overload. It is a subtype of Quality of Service Alarm</p>
                  <p>This literal  has  value "QUALITY_OF_SERVICE_EQUIPMENT_PERFORMANCE_ALARM"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="INTEGRITY_VIOLATION_DATABASE_SYSTEM">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An alarm of this type is associated with database system failure. e.g. database out of service. It is a subtype of Integrity Violation.</p>
                  <p>This literal  has  value "INTEGRITY_VIOLATION_DATABASE_SYSTEM"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="EQUIPMENT_TRAFFIC_EQUIPMENT_ALARM">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An alarm of this type is associated with traffic related equipment fault, e.g. antenna, receiver, transmitter, and switch fault etc. It is a subtype of Equipment Alarm.</p>
                  <p>This literal  has  value "EQUIPMENT_TRAFFIC_EQUIPMENT_ALARM"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="QUALITY_OF_SERVICE_TRAFFIC_PERFORMANCE_ALARM">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An alarm of this type is associated with degradation of traffic performance. e.g. excessive retransmission rate. It is a subtype of Quality of Service Alarm.</p>
                  <p>This literal  has  value "QUALITY_OF_SERVICE_TRAFFIC_PERFORMANCE_ALARM"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="SECURITY_SERVICE_OR_MECHANISM_VIOLATION">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An indication that a security attack has been detected by a security service or mechanism.</p>
                  <p>This literal  has  value "SECURITY_SERVICE_OR_MECHANISM_VIOLATION"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="COMMUNICATIONS_INTERFACE_ALARM">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An alarm of this type is associated with interface error, e.g. physical interface of communication error. It is a subtype of Communications Alarm.</p>
                  <p>This literal  has  value "COMMUNICATIONS_INTERFACE_ALARM"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="QUALITY_OF_SERVICE_ALARM">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An alarm of this type is associated with degradation in the quality of a service (ITU T Recommendation X.733).</p>
                  <p>This literal  has  value "QUALITY_OF_SERVICE_ALARM"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfAlarmType">
      <xsd:sequence>
         <xsd:element name="item" type="tns:AlarmType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PerceivedSeverity">
      <xsd:annotation>
         <xsd:documentation>
            <p>This datatype lists the possible severities that can be allocated to a Alarm. The values are consistent with ITU-T Recommendation X.733. This specification does not recommend the use of indeterminate.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="CRITICAL">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "CRITICAL"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="MAJOR">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "MAJOR"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="MINOR">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "MINOR"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="WARNING">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "WARNING"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="INDETERMINATE">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "INDETERMINATE"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="CLEARED">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "CLEARED"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfPerceivedSeverity">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PerceivedSeverity" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PlannedOutageIndicator">
      <xsd:annotation>
         <xsd:documentation>
            <p>This datatype indicates that the Managed Object (related to the alarm) is in planned outage (out-of-service or in planned maintenance). This might also be used when an equipment is being commissioned to avoid the alarms propagating to other systems.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="IN_SERVICE">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "IN_SERVICE"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="OUT_OF_SERVICE">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "OUT_OF_SERVICE"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfPlannedOutageIndicator">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PlannedOutageIndicator" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="ServiceAffectingIndicator">
      <xsd:annotation>
         <xsd:documentation>
            <p>This datatype provides the alarm-owning system determination of whether or not the alarm affects service. The possible values for this attribute are: service affecting, not service affecting, unknown as to whether it is service affecting.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="SERVICE_AFFECTING">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "SERVICE_AFFECTING"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="NOT_SERVICE_AFFECTING">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "NOT_SERVICE_AFFECTING"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="UNKNOWN">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "UNKNOWN"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfServiceAffectingIndicator">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ServiceAffectingIndicator" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="ThresholdCrossingDirection">
      <xsd:annotation>
         <xsd:documentation>
            <p>This datatype specifies the possible crossing directions: up or down.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="UP">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "UP"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="DOWN">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "DOWN"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfThresholdCrossingDirection">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ThresholdCrossingDirection" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="TrendIndicator">
      <xsd:annotation>
         <xsd:documentation>
            <p>This datatype indicates the current severity trend of the Managed Object (related to the alarm).</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="LESS_SEVERE">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "LESS_SEVERE"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="NO_CHANGE">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "NO_CHANGE"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="MORE_SEVERE">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "MORE_SEVERE"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfTrendIndicator">
      <xsd:sequence>
         <xsd:element name="item" type="tns:TrendIndicator" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- **************************** --><!-- Package Datatype definitions --><!-- **************************** -->
   <xsd:element name="crossedThreshold" type="tns:CrossedThreshold"/>
   <xsd:complexType name="CrossedThreshold">
      <xsd:annotation>
         <xsd:documentation>
            <p>This class provides crossed threshold information when the alarm is a result of crossing a threshold.
It is an implementation-oriented object, since the information it provides is a summary of information contained in other SID entities.

It consists of :
- Threshold Id, identifying the threshold that caused the alarm
- Indicator Name, identifying the name of performance indicator which crossed the threshold
- Observed Value, providing the value of the performance indicator which crossed the threshold
- Granularity, providing the granularity at which the indicator is evaluated for threshold crossing
- Direction, providing the threshold crossing direction: up or down
- ThresholdQualifier, qualifying the crossed threshold
- Threshold Crossing Description, containing further information on the threshold crossing alarm.

Note that some of the information present in the Threshold object , like indicator name or granularity is repeated here in order to have a contained alarm report.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="indicatorUnit" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>This attribute identifies the unit of the measurement of the indicator corresponding to the threshold that has been crossed in a free format string.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="thresholdCrossingDescription" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>Contains further information on the threshold crossing alarm. Vendors should avoid using this field to put additional information identifying the indicator or the threshold id. The corresponding fields should be use for better alarm quality.

For complex thresholds involving multiple indicators, this field is required to provide a textual description of the threshold crossing condition.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="indicatorName" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>Indicates the name of performance indicator, KPI, gauge or counter which crossed the threshold.

If the threshold applies to a single indicator, then this attribute is mandatory. It can only be omitted for complex threshold involving multiple indicators.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="direction" type="tns:ThresholdCrossingDirection" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>Indicates the threshold crossing direction: up or down.

If the threshold applies to a single indicator, then this attribute is mandatory. It can only be omitted for complex threshold involving multiple indicators.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="observedValue" type="xsd:float" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>Indicates the observed value: the value of the indicator which crossed the threshold. This may be different from the threshold value if, for example, the indicator is a gauge and this gauge only takes on discrete values.

If the threshold applies to a single indicator, then this attribute is mandatory. It can only be omitted for complex threshold involving multiple indicators.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="granularity" type="mon:Granularity" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>Indicates the granularity at which the indicator is evaluated for threshold crossing.

If the threshold applies to a single indicator, then this attribute is mandatory. It can only be omitted for complex threshold involving multiple indicators.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="thresholdQualifier" type="base:ArrayOfAttributeValuePair" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>This attribute contains a set of name/ value pairs used to qualify the crossed threshold.

When migrating from MTOSI, this attribute can contain the pmLocation and the thresholdType.
For pmLocation, the name would be pmLocation and the values would be Contra_Near_End_Rx, Contra_Far_End_Rx, Near_End_Rx, Near_End_Tx, Far_End_Rx, Far_End_Tx, Bidirectional.
For thresholdType, the name is thresholdType and the possible values are Low, Lowest, Highest and High.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="thresholdId" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>Indicates the identifier of the threshold that caused the alarm.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  mandatory</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfCrossedThreshold">
      <xsd:sequence>
         <xsd:element name="item" type="tns:CrossedThreshold" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="mTOSIAlarmAttributes" type="tns:MTOSIAlarmAttributes"/>
   <xsd:complexType name="MTOSIAlarmAttributes">
      <xsd:annotation>
         <xsd:documentation>
            <p>This datatype contains wireline specific alarm attributes coming from MTOSI.

It is present to ease migration from MTOSI RTM implementation and can be considered as conditional for MTOSI.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="affectedPtpRefList" type="entity:EntityIdentifier" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>This attribute identifies all affected associated PTP names.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="layerRate" type="nrb:LayerRate" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>This attribute identifies the layer rate to which the Alarm is relevant to.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="nativeProbableCause" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>Represents the probable cause attribute as defined at the source, before any normalization.
It might be different from the probable cause if the latter has been normalized by an OSS (EMS or NMS) receiving the alarm.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="isEdgePointRelated" type="xsd:boolean" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>This attribute indicates whether the event is related to a Termination Point (TP) at the edge of a subnetwork.
It is True for edge points and their contained CTPs although it is always False as a CTP's attribute if the CTP doesn't terminate a Topological Link.
Note that the value is True for all notifications reporting a value change of the TP's attribute 'isEdgePoint' even if the new value is False.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfMTOSIAlarmAttributes">
      <xsd:sequence>
         <xsd:element name="item" type="tns:MTOSIAlarmAttributes" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- ************************** --><!-- package Entity definitions --><!-- ************************** -->
   <xsd:element name="resourceAlarm" type="tns:ResourceAlarm"/>
   <xsd:complexType name="ResourceAlarm">
      <xsd:annotation>
         <xsd:documentation>
            <p>The ResourceAlarm entity contains information about a given alarm condition of an alarmed Managed Object.
Note that the automatic Object Creation notification generation is disabled as a specific New Alarm notification is generated for a new alarm.</p>
            <p>This entity  is  mandatory</p>
            <p>This entity  is  extendable</p>
            <p>This entity   does not generate Object Creation notifications</p>
            <p>This entity   does not generate Object Deletion notifications</p>
            <p>This entity   does not generate Object Discovery notifications</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="proposedRepairActions" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Indicates proposed repair actions, if known to the system emitting the alarm.

This attribute is optional in all 3 profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="alarmReportingTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Indicates the time (as a date + time) at which the alarm was reported by the owning system.

It might be different from the alarmRaisedTime. For instance, if the alarm list is maintained by an EMS, the alarmRaisedtime would be the time the alarm was detected by the NE, while the alarmReportingTime would be the time this alarm was stored in the alarm list of the EMS.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  invariant</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="additionalText" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Contains further information on the alarm. Vendors should avoid using this field to put additional information identifying the alarmed object or the specific problem. The corresponding fields should be use for better alarm quality.

This attribute is optional in all 3 profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ackUserId" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Provides the id of the user who has last changed the ack state of the alarm, i.e. acknowledged or unacknowledged the alarm.
Note that the automatic AVC notification generation is disabled for this attribute as a specific notification is generated for acknowledgement state change.
If the acknowledgeResourceAlarms is supported, then this attribute shall also be supported.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="alarmRaisedTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Indicates the time (as a date + time) at which the alarm occurred.

This attribute is mandatory in all 3 profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  invariant</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="alarmClearedTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Indicates the time (as a date + time) at which the alarm is cleared.
Note that the automatic AVC notification generation is disabled for this attribute as a specific notification is generated for alarm clearance.

It is not filled on an alarm for which the clearance has not been received, but it is mandatory for a cleared alarm.
This attribute is mandatory in all 3 profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="alarmEscalation" type="xsd:int" minOccurs="0" maxOccurs="1" default="0">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Indicates if this alarm has been escalated or not. Possible values are 0 to 10. A value of zero means no escalation.
The meanings of values 1-10 are to be determined by the user of the interface, but they show increasing levels of escalation.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="backedUpStatus" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Indicates if the Managed Object (related to this alarm) has a back up or has been backed up.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="specificProblem" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Further qualifies the alarm in addition to the probableCause. This attribute is defined as a string. Values are defined by vendors.

This attribute is optional in all 3 profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="perceivedSeverity" type="tns:PerceivedSeverity" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Lists the possible severities that can be allocated to an Alarm. The values are consistent with ITU-T Recommendation X.733.
Once an alarm has been cleared, its perceived severity is set to Cleared and can no longer be set.

This attribute is mandatory in all 3 profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="crossedThresholdInformation" type="tns:ArrayOfCrossedThreshold" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Identifies the details of the threshold that has been crossed.
Multiple values are possible in case of multiple threshold crossing applying to the same threshold id. The ThresholdInfo corresponding to the clearance can also be recorded in the original alarm for completeness.

This attribute is optional in all 3 profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="mtosiSpecificAlarmAttributes" type="tns:MTOSIAlarmAttributes" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>This attribute groups wireline specific alarm attributes coming from MTOSI.

It is present to ease migration from MTOSI RTM implementation and can be considered as conditional for MTOSI.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="serviceAffecting" type="tns:ServiceAffectingIndicator" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Provides the alarm-owning system determination of whether or not the alarm affects service.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="systemDN" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Identifies the alarm-owning system, i.e. the one owning the alarm list.

This attribute is not supported in the Simple Alarm Reporting profile, optional in the Standard profile and mandatory in the Enhanced profile.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  invariant</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="alarmChangedTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Indicates the last date and time when the alarm is changed on the alarm-owning system. Any change to the alarm whether coming from the alarmed resource, or triggered by a change from the client is changing this time.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="managedObjectClass" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Identifies, in terms of object class, the resource that is in alarm.

This attribute is mandatory in all 3 profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  invariant</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="trendIndication" type="tns:TrendIndicator" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Indicates the current severity trend of the Managed Object (related to this alarm).

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="alarmId" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Local identifier of the Alarm. Note that this identifier is local to the server side of the interface, i.e. the alarm-owning system.
Only EntityIdentifier can be considered as global.

This attribute is mandatory in all 3 profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  invariant</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="plannedOutageIndication" type="tns:PlannedOutageIndicator" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Indicates that the Managed Object (related to this alarm) is in planned outage (in planned maintenance, or out-of-service). This might also be used when an equipment is being commissioned to avoid the alarms propagating to other systems.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ackState" type="problem:AckStatus" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Provides the Acknowledgement State of the alarm.
Note that the automatic AVC notification generation is disabled for this attribute as a specific notification is generated for acknowledgement state change.
If the acknowledgeResourceAlarms is supported, then this attribute shall also be supported.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ackSystemId" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Provides the name of the system that last changed the ackState of an alarm, i.e. acknowledged or unacknowledged the alarm.
Note that the automatic AVC notification generation is disabled for this attribute as a specific notification is generated for acknowledgement state change.
If the acknowledgeResourceAlarms is supported, then this attribute is optional.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="probableCause" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Further qualifies the alarm in complement of the alarmType. This specification does not use an enumeration, but a string with qualified text. Recommended values are specified in TMF063 Probable Causes Technical Specification.

This attribute is mandatory in all 3 profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  invariant</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="clearUserId" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Provides the id of the user who invoked the clearResourceAlarm operation.
Note that the automatic AVC notification generation is disabled for this attribute as a specific notification is generated for alarm clearance.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="clearSystemId" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Provides the id of the system where the user who invoked the clearResourceAlarm operation is located. This might be different from the alarm-owning system.
Note that the automatic AVC notification generation is disabled for this attribute as a specific notification is generated for alarm clearance.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="potentialRootCauseIndication" type="xsd:boolean" minOccurs="0" maxOccurs="1" default="false">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Indicates whether an alarm is a raw (uncorrelated) alarm (when false) or a potential root cause alarm indication (when true).

A fault has typically one root cause, but identifying the true root cause of a fault might be difficult. However, with the scope of an alarm-owning system, it might possible to identify a potential root cause indication that might be useful for client systems.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="alarmType" type="tns:AlarmType" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Categorizes the alarm.

This attribute is mandatory in all 3 profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  invariant</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="comments" type="problem:ArrayOfComment" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Indicates the comments entered on the alarm, as a list.
If the commentResourceAlarms is supported, then this attribute shall also be supported.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ackTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Provides the time when the alarm has been last acknowledged or unacknowledged.
Note that the automatic AVC notification generation is disabled for this attribute as a specific notification is generated for acknowledgement state change.
If the acknowledgeResourceAlarms is supported, then this attribute shall also be supported.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="alarmDetector" type="entity:EntityIdentifier" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Provides the identity of the detector of the alarm.
This attribute can also be used for non security alarms, when the object detecting the problem is not the Managed Object related to the alarm.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association AlarmHasAlarmDectector</p>
                        <p>This association end  is  passed by id</p>
                        <p>This association end  is  optional</p>
                        <p>This association end  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="backUpObject" type="entity:EntityIdentifier" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>In case the Managed Object (related to this alarm) has a back up, it specifies the value of the object providing the back-up.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association AlarmHasBackupObject</p>
                        <p>This association end  is  passed by id</p>
                        <p>This association end  is  optional</p>
                        <p>This association end  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="managedObjectInstance" type="entity:EntityIdentifier" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Identifies, in terms of object instance, the resource that is in alarm.

This attribute is mandatory in all 3 profiles.</p>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association AlarmHasManagedObject</p>
                        <p>This association end  is  invariant</p>
                        <p>This association end  is  passed by id</p>
                        <p>This association end  is  mandatory</p>
                        <p>This association end  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="monitoredAttributes" type="entity:ArrayOfEntityIdentifier" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The Monitored Attributes parameter, when present, defines one or more attributes of the Managed Object (related to this alarm) and their corresponding values at the time of the alarm. Managed object definers may specify the set of attributes which are of interest, if any. This allows, for example, the timely reporting of changing conditions prevalent at the time of the alarm.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association AlarmHasMonitoredAttributes</p>
                        <p>This association end  is  passed by id</p>
                        <p>This association end  is  optional</p>
                        <p>This association end  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="securityServiceProvider" type="entity:EntityIdentifier" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Identifies the service provider whose service request provokes the generation of the security alarm.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association AlarmHasSecurityServiceProvider</p>
                        <p>This association end  is  passed by id</p>
                        <p>This association end  is  optional</p>
                        <p>This association end  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="securityServiceUser" type="entity:EntityIdentifier" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Identifies the service user whose request for service led to the generation of the security alarm.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association AlarmHasSecurityServiceUser</p>
                        <p>This association end  is  passed by id</p>
                        <p>This association end  is  optional</p>
                        <p>This association end  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="trackingRecord" type="problem:ArrayOfTrackingRecord" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Allows the tracking of modifications on the alarm. The tracking records should not be returned by default with the alarm to allow retrieving the alarm without the tracking records. Whether the tracking records is stored with the alarm or outside of it is implementation specific.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association AlarmHasTrackingRecords</p>
                        <p>This association end  is  passed by value</p>
                        <p>This association end  is  optional</p>
                        <p>This association end  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="underlyingAlarms" type="entity:ArrayOfEntityIdentifier" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>It indicates the alarms attached to this alarm as underlying alarms from a correlation point of view.
An alarm can be correlated to one or more underlying alarms. There might be multiple levels of alarm correlation and an underlying alarm in one relation can be itself a parent alarm for other underlying alarms.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association AlarmHasUnderlyingAlarms</p>
                        <p>This association end  is  passed by id</p>
                        <p>This association end  is  optional</p>
                        <p>This association end  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="parentAlarms" type="entity:ArrayOfEntityIdentifier" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>It indicates the parent alarms for this alarm from a correlation point of view.
An alarm can be correlated to one or more underlying alarms. There might be multiple levels of alarm correlation and an underlying alarm in one relation can be itself a parent alarm for other underlying alarms.

This attribute is not supported in the Simple Alarm Reporting profile and optional in the Standard and Enhanced profiles.</p>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association AlarmHasUnderlyingAlarms</p>
                        <p>This association end  is  passed by id</p>
                        <p>This association end  is  optional</p>
                        <p>This association end  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfResourceAlarm">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ResourceAlarm" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- ************************************* --><!-- Package Association Class definitions --><!-- ************************************* --><!-- ************************** --><!-- package Event definitions --><!-- ************************** --><!-- ************************** --><!-- package Exception definitions --><!-- ************************** -->
</xsd:schema>