Templates/SIDOCSEntity/resources/sid_org_tmforum_tip_resource_res_log_itf_assoc.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.7.0.201207021234 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company, Optare Solutions/TIP_Soap_Generator(1.2) (1.2)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) TeleManagement Forum 2012. All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published, and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this section are included on all such copies and derivative works. However, this document itself may not be modified in any way, including by removing the copyright notice or references to TM FORUM, except as needed for the purpose of developing any document or deliverable produced by a TM FORUM Collaboration Project Team (in which case the rules applicable to copyrights, as set forth in the TM FORUM IPR Policy, must be followed) or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by TM FORUM or its successors or assigns. 

This document and the information contained herein is provided on an "AS IS" basis and TM FORUM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY OWNERSHIP RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. 


Direct inquiries to the TM Forum office: 
 
240 Headquarters Plaza,
East Tower - 10th Floor,
Morristown, NJ  07960 USA
Tel No.  +1 973 944 5100
Fax No.  +1 973 944 5110
TM Forum Web Page: www.tmforum.org
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/log/itf/assoc" xmlns:entity="http://www.tmforum.org/xml/tip/internal/entity" targetNamespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/log/itf/assoc" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13.0">
   <xsd:annotation>
      <xsd:documentation>
         <pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: SID_Model
                        at version: 13.0
      for all artifacts in package: org.tmforum.tip.resource.res.log.itf.assoc
      Model Description:
      Model Project for SID xsd generation
      Package Description:
      
      Package data summary information:
            entities: 7
 Association Classes: 3
           datatypes: 0
        enumerations: 0
              events: 0
          exceptions: 0
      </pre>
      </xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/entity" schemaLocation="internal_entity.xsd"/><!-- ******************************* --><!-- Package Enumeration definitions --><!-- ******************************* --><!-- **************************** --><!-- Package Datatype definitions --><!-- **************************** --><!-- ************************** --><!-- package Entity definitions --><!-- ************************** -->
   <xsd:element name="interfaceBridgingProtocolDetails" type="tns:InterfaceBridgingProtocolDetails"/>
   <xsd:complexType name="InterfaceBridgingProtocolDetails">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfInterfaceBridgingProtocolDetails">
      <xsd:sequence>
         <xsd:element name="item" type="tns:InterfaceBridgingProtocolDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="interfaceHybridRoutingDetails" type="tns:InterfaceHybridRoutingDetails"/>
   <xsd:complexType name="InterfaceHybridRoutingDetails">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfInterfaceHybridRoutingDetails">
      <xsd:sequence>
         <xsd:element name="item" type="tns:InterfaceHybridRoutingDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="interfaceLANProtocolDetails" type="tns:InterfaceLANProtocolDetails"/>
   <xsd:complexType name="InterfaceLANProtocolDetails">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfInterfaceLANProtocolDetails">
      <xsd:sequence>
         <xsd:element name="item" type="tns:InterfaceLANProtocolDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="interfaceLSRoutingDetails" type="tns:InterfaceLSRoutingDetails"/>
   <xsd:complexType name="InterfaceLSRoutingDetails">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfInterfaceLSRoutingDetails">
      <xsd:sequence>
         <xsd:element name="item" type="tns:InterfaceLSRoutingDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="interfaceRoutedProtocolDetails" type="tns:InterfaceRoutedProtocolDetails"/>
   <xsd:complexType name="InterfaceRoutedProtocolDetails">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfInterfaceRoutedProtocolDetails">
      <xsd:sequence>
         <xsd:element name="item" type="tns:InterfaceRoutedProtocolDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="interfaceSwitchingProtocolDetails" type="tns:InterfaceSwitchingProtocolDetails"/>
   <xsd:complexType name="InterfaceSwitchingProtocolDetails">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfInterfaceSwitchingProtocolDetails">
      <xsd:sequence>
         <xsd:element name="item" type="tns:InterfaceSwitchingProtocolDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="interfaceWANProtocolDetails" type="tns:InterfaceWANProtocolDetails"/>
   <xsd:complexType name="InterfaceWANProtocolDetails">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfInterfaceWANProtocolDetails">
      <xsd:sequence>
         <xsd:element name="item" type="tns:InterfaceWANProtocolDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- ************************************* --><!-- Package Association Class definitions --><!-- ************************************* -->
   <xsd:element name="deviceInterfacePPortDetails" type="tns:DeviceInterfacePPortDetails"/>
   <xsd:complexType name="DeviceInterfacePPortDetails">
      <xsd:annotation>
         <xsd:documentation>
            <p>This aggregation defines the set of logical interfaces that have been established on this particular PhysicalPort. Please refer to the DEN-ng physical model for more details on the characteristics of a PhysicalPort.

Note the difference between this aggregation and the LogicalDeviceGovernsDeviceInterfaces aggregation - this aggregation represents physical containment, whereas the latter represents administrative management. This flexibility enables complex devices that have multiple LogicalDevices to be modeled, where a particular LogicalDevice can be assigned to manage a given DeviceInterface.</p>
            <p>This association class  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence/>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfDeviceInterfacePPortDetails">
      <xsd:sequence>
         <xsd:element name="item" type="tns:DeviceInterfacePPortDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="deviceInterfaceTPDetails" type="tns:DeviceInterfaceTPDetails"/>
   <xsd:complexType name="DeviceInterfaceTPDetails">
      <xsd:annotation>
         <xsd:documentation>
            <p>This association defines the set of TerminationPoints that are "programmed" using this particular DeviceInterface. This enables a direct mapping to the language used to build the TerminationPoints, such as CLI, SNMP, or TL1.</p>
            <p>This association class  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence/>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfDeviceInterfaceTPDetails">
      <xsd:sequence>
         <xsd:element name="item" type="tns:DeviceInterfaceTPDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="protocolDeviceInterfaceDetails" type="tns:ProtocolDeviceInterfaceDetails"/>
   <xsd:complexType name="ProtocolDeviceInterfaceDetails">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is an association class, and represents the semantics of a specific Protocol running on a particular DeviceInterace.</p>
            <p>This association class  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence/>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfProtocolDeviceInterfaceDetails">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ProtocolDeviceInterfaceDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- ************************** --><!-- package Event definitions --><!-- ************************** --><!-- ************************** --><!-- package Exception definitions --><!-- ************************** -->
</xsd:schema>