Templates/SIDOCSEntity/resources/sid_org_tmforum_tip_cbe_perf_mon.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.7.0.201207021234 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company, Optare Solutions/TIP_Soap_Generator(1.2) (1.2)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) TeleManagement Forum 2012. All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published, and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this section are included on all such copies and derivative works. However, this document itself may not be modified in any way, including by removing the copyright notice or references to TM FORUM, except as needed for the purpose of developing any document or deliverable produced by a TM FORUM Collaboration Project Team (in which case the rules applicable to copyrights, as set forth in the TM FORUM IPR Policy, must be followed) or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by TM FORUM or its successors or assigns. 

This document and the information contained herein is provided on an "AS IS" basis and TM FORUM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY OWNERSHIP RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. 


Direct inquiries to the TM Forum office: 
 
240 Headquarters Plaza,
East Tower - 10th Floor,
Morristown, NJ  07960 USA
Tel No.  +1 973 944 5100
Fax No.  +1 973 944 5110
TM Forum Web Page: www.tmforum.org
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf/mon" xmlns:filter="http://www.tmforum.org/xml/tip/internal/filter" xmlns:nrb="http://www.tmforum.org/xml/tip/resource/res/nrb" xmlns:job="http://www.tmforum.org/xml/tip/cbe/job" xmlns:problem="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/problem" xmlns:sched="http://www.tmforum.org/xml/tip/cbe/time/sched" xmlns:entity="http://www.tmforum.org/xml/tip/internal/entity" targetNamespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf/mon" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13.0">
   <xsd:annotation>
      <xsd:documentation>
         <pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: SID_Model
                        at version: 13.0
      for all artifacts in package: org.tmforum.tip.cbe.perf.mon
      Model Description:
      Model Project for SID xsd generation
      Package Description:
      
      Package data summary information:
            entities: 1
 Association Classes: 0
           datatypes: 3
        enumerations: 2
              events: 0
          exceptions: 0
      </pre>
      </xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/filter" schemaLocation="internal_filter.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/resource/res/nrb" schemaLocation="common_resource_res_nrb.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/cbe/job" schemaLocation="common_cbe_job.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/problem" schemaLocation="sid_org_tmforum_tip_cbe_problem.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/cbe/time/sched" schemaLocation="common_cbe_time_sched.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/entity" schemaLocation="internal_entity.xsd"/><!-- ******************************* --><!-- Package Enumeration definitions --><!-- ******************************* -->
   <xsd:simpleType name="Granularity">
      <xsd:annotation>
         <xsd:documentation>
            <p>Sampling rate of the collection or production of perfomance indicators.

Supported values are : 1mn, 5mn, 15mn, 30mn, 1h, 24h, not applicable. The values 1 month and 1 year are also defined even if not used for collection.
Note that litterals cannot start by a digit, so they are prefixed by a letter.
For current instantaneous measurements the granularity does not apply which is indicated by the value "NA" (Not Applicable).</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="G_1MN">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "G_1MN"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="G_5MN">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "G_5MN"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="G_15MN">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "G_15MN"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="G_30MN">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "G_30MN"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="G_1H">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "G_1H"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="G_24H">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "G_24H"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="G_1M">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "G_1M"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="G_1Y">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "G_1Y"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="NA">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "NA"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfGranularity">
      <xsd:sequence>
         <xsd:element name="item" type="tns:Granularity" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="ReportingPeriod">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="R_1MN">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "R_1MN"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="R_5MN">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "R_5MN"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="R_15MN">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "R_15MN"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="R_30MN">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "R_30MN"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="R_1H">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "R_1H"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="R_24H">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "R_24H"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="NA">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "NA"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfReportingPeriod">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ReportingPeriod" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- **************************** --><!-- Package Datatype definitions --><!-- **************************** -->
   <xsd:element name="monitoredClassCriteria" type="tns:MonitoredClassCriteria"/>
   <xsd:complexType name="MonitoredClassCriteria">
      <xsd:annotation>
         <xsd:documentation>
            <p>A criteria for specifying what monitored objects are referenced by a PM query, specifying a monitored object class in conjunction with a filter.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="tns:MonitoredObjectsCriteria">
            <xsd:sequence>
               <xsd:element name="monitoredObjectClass" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A monitored object class for specifying the set of instances that are referenced by a PM query.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="objectInstanceFilter" type="filter:XPathQueryFilter" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A filter that can be used in conjunction with the monitored object class for specifying the set of instancesthat are referenced by a PM query.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfMonitoredClassCriteria">
      <xsd:sequence>
         <xsd:element name="item" type="tns:MonitoredClassCriteria" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="monitoredInstancesCriteria" type="tns:MonitoredInstancesCriteria"/>
   <xsd:complexType name="MonitoredInstancesCriteria">
      <xsd:annotation>
         <xsd:documentation>
            <p>A criteria for specifying what monitored objects are referenced by a PM query, specifying a list of monitored object instances.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="tns:MonitoredObjectsCriteria">
            <xsd:sequence>
               <xsd:element name="moniitoredObjectInstances" type="entity:ArrayOfEntityIdentifier" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A list of object identifiers for specifying what monitored objects need to be referenced by a PM query.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfMonitoredInstancesCriteria">
      <xsd:sequence>
         <xsd:element name="item" type="tns:MonitoredInstancesCriteria" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="monitoredObjectsCriteria" type="tns:MonitoredObjectsCriteria"/>
   <xsd:complexType name="MonitoredObjectsCriteria" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>A criteria for specifying what monitored objects are referenced by a PM query, both scheduled or ad-hoc.</p>
            <p>This datatype  is  abstract</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence/>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfMonitoredObjectsCriteria">
      <xsd:sequence>
         <xsd:element name="item" type="tns:MonitoredObjectsCriteria" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- ************************** --><!-- package Entity definitions --><!-- ************************** -->
   <xsd:element name="measurementJob" type="tns:MeasurementJob"/>
   <xsd:complexType name="MeasurementJob" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>A job for scheduling PM related activities: the collection of performance indicators or the production of performance indicators.</p>
            <p>This entity  is  abstract</p>
            <p>This entity  is  optional</p>
            <p>This entity  is  extendable</p>
            <p>This entity   does not generate Object Creation notifications (NA)</p>
            <p>This entity   does not generate Object Deletion notifications (NA)</p>
            <p>This entity   does not generate Object Discovery notifications (NA)</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="job:ManagementJob">
            <xsd:sequence>
               <xsd:element name="consumingApplicationId" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The identifier of the application that produces performance indicators.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  invariant</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="producingApplicationId" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The identifier of the application that consumes performance indicators.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  invariant</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="granularity" type="tns:Granularity" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The sampling rate of Performance Indicators as determined when they are produced. In many cases a different granularity of an indicator will be reflected in a different indicator value (e.g. a gauge)</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="monitoredObjectsCriteria" type="tns:MonitoredObjectsCriteria" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Monitored objects are specified by the MonitoredObjectsCriteria.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="performanceIndicatorGroupSpecification" type="entity:ArrayOfEntityIdentifier" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The requested indicator groups are specified using PerformanceIndicatorGroupSpecification.</p>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association MeasurementJobSpecificesIndicatorGroup</p>
                        <p>This association end  is  invariant</p>
                        <p>This association end  is  passed by id</p>
                        <p>This association end  is  optional</p>
                        <p>This association end  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="performanceIndicatorSpecification" type="entity:ArrayOfEntityIdentifier" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The requested indicators are specified using PerformanceIndicatorSpecification.</p>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association MeasurementJobSpecifiesIndicator</p>
                        <p>This association end  is  invariant</p>
                        <p>This association end  is  passed by id</p>
                        <p>This association end  is  optional</p>
                        <p>This association end  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="trackingRecord" type="problem:ArrayOfTrackingRecord" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Allows the tracking of modifications on the measurement job.
The tracking records should not be returned by default with the measurement job to allow retrieving the job without the tracking records.
Whether the tracking records is stored with the measurement job or outside of it is implementation specific.</p>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association MeasurementJobUsesTrackingRecord</p>
                        <p>This association end  is  passed by value</p>
                        <p>This association end  is  optional</p>
                        <p>This association end  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfMeasurementJob">
      <xsd:sequence>
         <xsd:element name="item" type="tns:MeasurementJob" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- ************************************* --><!-- Package Association Class definitions --><!-- ************************************* --><!-- ************************** --><!-- package Event definitions --><!-- ************************** --><!-- ************************** --><!-- package Exception definitions --><!-- ************************** -->
</xsd:schema>