Templates/SIDOCSEntity/resources/sid_org_tmforum_tip_cbe_policy_appli.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.7.0.201207021234 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company, Optare Solutions/TIP_Soap_Generator(1.2) (1.2)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) TeleManagement Forum 2012. All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published, and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this section are included on all such copies and derivative works. However, this document itself may not be modified in any way, including by removing the copyright notice or references to TM FORUM, except as needed for the purpose of developing any document or deliverable produced by a TM FORUM Collaboration Project Team (in which case the rules applicable to copyrights, as set forth in the TM FORUM IPR Policy, must be followed) or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by TM FORUM or its successors or assigns. 

This document and the information contained herein is provided on an "AS IS" basis and TM FORUM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY OWNERSHIP RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. 


Direct inquiries to the TM Forum office: 
 
240 Headquarters Plaza,
East Tower - 10th Floor,
Morristown, NJ  07960 USA
Tel No.  +1 973 944 5100
Fax No.  +1 973 944 5110
TM Forum Web Page: www.tmforum.org
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/policy/appli" xmlns:fmk="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/policy/fmk" xmlns:entity="http://www.tmforum.org/xml/tip/internal/entity" xmlns:server="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/policy/appli/server" xmlns:role="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/policy/appli/role" xmlns:base="http://www.tmforum.org/xml/tip/cbe/base" targetNamespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/policy/appli" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13.0">
   <xsd:annotation>
      <xsd:documentation>
         <pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: SID_Model
                        at version: 13.0
      for all artifacts in package: org.tmforum.tip.cbe.policy.appli
      Model Description:
      Model Project for SID xsd generation
      Package Description:
      The Policy Application ABE defines concepts and application components that can use policy entities to manage the behavior and configuration of other entities. This consists of entities to provide policy decision-making capabilities, as well as entities to enforce and execute policies. It also includes entities required to build an NGOSS policy system. These include entities to coordinate management and usage aspects of policy as well as entities to enable policy components to scale to large distributed systems.
      Package data summary information:
            entities: 3
 Association Classes: 2
           datatypes: 0
        enumerations: 0
              events: 0
          exceptions: 0
      </pre>
      </xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/policy/fmk" schemaLocation="sid_org_tmforum_tip_cbe_policy_fmk.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/entity" schemaLocation="internal_entity.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/policy/appli/server" schemaLocation="sid_org_tmforum_tip_cbe_policy_appli_server.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/policy/appli/role" schemaLocation="sid_org_tmforum_tip_cbe_policy_appli_role.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/cbe/base" schemaLocation="common_cbe_base.xsd"/><!-- ******************************* --><!-- Package Enumeration definitions --><!-- ******************************* --><!-- **************************** --><!-- Package Datatype definitions --><!-- **************************** --><!-- ************************** --><!-- package Entity definitions --><!-- ************************** -->
   <xsd:element name="policyApplication" type="tns:PolicyApplication"/>
   <xsd:complexType name="PolicyApplication" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>A PolicyApplication is a special type of entity (usually a Product) for use in policy-based management applications. This class is used as a convenient place for defining relationships to different managed entities. It has four principal subclasses: PolicyServer, PolicyDecisionPoint (PDP), PolicyExecutionPoint (PXP) and PolicyEnforcementPoint (PEP).

The principal role of a PolicyApplication is to define generic relationships that its subclasses can participate in.</p>
            <p>This entity  is  abstract</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="policyApplicationRole" type="role:ArrayOfPolicyApplicationRole" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association PolicyAppHasRoles</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="policy" type="fmk:ArrayOfPolicy" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association PolicyAppUsesPolicy</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="policyDomain" type="fmk:ArrayOfPolicyDomain" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation shared</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association ScopedPolicyDetails</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="policyServer" type="server:PolicyServer" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation shared</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association ContainsPolicyApps</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPolicyApplication">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PolicyApplication" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="policyBroker" type="tns:PolicyBroker"/>
   <xsd:complexType name="PolicyBroker">
      <xsd:annotation>
         <xsd:documentation>
            <p>PolicyServers affect ManagedEntities in a particular PolicyDomain, and are coordinated through a PolicyBroker. The purpose of the PolicyBroker is to control how different PolicyServers interact with each other. In this regard, it has two different functions.

The first function is to ensure that conflicts between different policy rules don't exist when different Policy Servers are asked to work together. The second is to coordinate the application of different policies in different Policy Servers.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="policyServer2" type="server:ArrayOfPolicyServer" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association BrokerCoordinationDetails</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPolicyBroker">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PolicyBroker" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="policyRepository" type="tns:PolicyRepository"/>
   <xsd:complexType name="PolicyRepository">
      <xsd:annotation>
         <xsd:documentation>
            <p>This class represents an administratively-defined logical container for storing reusable policy-related information. This is defined as PolicyGroups, PolicyRules, PolicyConditions, PolicyActions, and PolicyStatements. It can also store metadata about these policy-related objects.

For the purposes of this definition:
- administratively-defined means that it resides in a single
policy domain
- logical container means that it may be implemented as either
separate data store, or a special area of a data store that is
used expressly to contain policy information
- policy information means policy rules and groups, their
constituent elements, and related data that may be used in
the evaluation and/or execution of policy conditions,
actions, and other policy components.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="policyRepository" type="tns:ArrayOfPolicyRepository" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association PolicyRepositoryInPolicyRepository</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="policyRepository1" type="tns:PolicyRepository" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation shared</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association PolicyRepositoryInPolicyRepository</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="policy" type="fmk:Policy" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association PolicyStoredIn</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPolicyRepository">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PolicyRepository" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- ************************************* --><!-- Package Association Class definitions --><!-- ************************************* -->
   <xsd:element name="brokerCoordinationDetails" type="tns:BrokerCoordinationDetails"/>
   <xsd:complexType name="BrokerCoordinationDetails">
      <xsd:annotation>
         <xsd:documentation>
            <p>This class implements the semantics of the BrokerCoordinates association, which defines which PolicyServers are coordinated by which PolicyBrokers.

The semantics of this class will be more fully defined in the next version of the DEN-ng specification.
This association defines the set of PolicyServers that this PolicyBroker coordinates the actions of.</p>
            <p>This association class  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="brokerCoordinationTimePeriod" type="base:TimePeriod" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>This attribute defines the start and end times (in the form of time stamps) in which this PolicyBroker has the authority to coordinate the actions of this PolicyServer.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="brokerCommMethod" type="xsd:int" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>This is an enumerated integer that defines the communication method used between the PolicyBroker and the PolicyServers that it coordinates the actions of. Values include:

0: Not yet established
1: Telnet
2: COPS
3: Proprietary Protocol</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfBrokerCoordinationDetails">
      <xsd:sequence>
         <xsd:element name="item" type="tns:BrokerCoordinationDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="scopedPolicyDetails" type="tns:ScopedPolicyDetails"/>
   <xsd:complexType name="ScopedPolicyDetails">
      <xsd:annotation>
         <xsd:documentation>
            <p>This class implements the semantics of the ScopesPolicyApplication aggregation. This can be thought of as the This aggregation defines which PolicyApplications are scoped by a particular PolicyDomain.</p>
            <p>This association class  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence/>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfScopedPolicyDetails">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ScopedPolicyDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- ************************** --><!-- package Event definitions --><!-- ************************** --><!-- ************************** --><!-- package Exception definitions --><!-- ************************** -->
</xsd:schema>