Templates/SIDOCSEntity/resources/sid_org_tmforum_tip_resource_res_phy_role.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.7.0.201207021234 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company, Optare Solutions/TIP_Soap_Generator(1.2) (1.2)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) TeleManagement Forum 2012. All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published, and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this section are included on all such copies and derivative works. However, this document itself may not be modified in any way, including by removing the copyright notice or references to TM FORUM, except as needed for the purpose of developing any document or deliverable produced by a TM FORUM Collaboration Project Team (in which case the rules applicable to copyrights, as set forth in the TM FORUM IPR Policy, must be followed) or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by TM FORUM or its successors or assigns. 

This document and the information contained herein is provided on an "AS IS" basis and TM FORUM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY OWNERSHIP RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. 


Direct inquiries to the TM Forum office: 
 
240 Headquarters Plaza,
East Tower - 10th Floor,
Morristown, NJ  07960 USA
Tel No.  +1 973 944 5100
Fax No.  +1 973 944 5110
TM Forum Web Page: www.tmforum.org
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/phy/role" xmlns:phy="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/phy" xmlns:device="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/phy/device" xmlns:role="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/spec/phy/role" xmlns:phy1="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/spec/phy" xmlns:role1="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/log/role" xmlns:serv="http://www.tmforum.org/xml/sid/org/tmforum/tip/service/serv" xmlns:entity="http://www.tmforum.org/xml/tip/internal/entity" targetNamespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/phy/role" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13.0">
   <xsd:annotation>
      <xsd:documentation>
         <pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: SID_Model
                        at version: 13.0
      for all artifacts in package: org.tmforum.tip.resource.res.phy.role
      Model Description:
      Model Project for SID xsd generation
      Package Description:
      
      Package data summary information:
            entities: 12
 Association Classes: 0
           datatypes: 0
        enumerations: 0
              events: 0
          exceptions: 0
      </pre>
      </xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/phy" schemaLocation="sid_org_tmforum_tip_resource_res_phy.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/phy/device" schemaLocation="sid_org_tmforum_tip_resource_res_phy_device.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/spec/phy/role" schemaLocation="sid_org_tmforum_tip_resource_spec_phy_role.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/spec/phy" schemaLocation="sid_org_tmforum_tip_resource_spec_phy.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/log/role" schemaLocation="sid_org_tmforum_tip_resource_res_log_role.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/service/serv" schemaLocation="sid_org_tmforum_tip_service_serv.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/entity" schemaLocation="internal_entity.xsd"/><!-- ******************************* --><!-- Package Enumeration definitions --><!-- ******************************* --><!-- **************************** --><!-- Package Datatype definitions --><!-- **************************** --><!-- ************************** --><!-- package Entity definitions --><!-- ************************** -->
   <xsd:element name="cPEPhysicalDeviceRole" type="tns:CPEPhysicalDeviceRole"/>
   <xsd:complexType name="CPEPhysicalDeviceRole">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is a concrete class that defines the basic physical characteristics of a CPE (Customer Premise Edge) device. For example, what types of line cards are needed for this device to perform its role of a CPE device.

Please see the DEN-ng PhysicalResource model for more details.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfCPEPhysicalDeviceRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:CPEPhysicalDeviceRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="hardwareRole" type="tns:HardwareRole"/>
   <xsd:complexType name="HardwareRole" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is an abstract base class for representing the different types of roles that various physical resources can take on. For this first iteration, two specialized roles have been defined: holder and adapter. This enables a single object, such as a Card, to have additional functions. For example, a Card may also serve as a motherboard or hosting board for another Card. In this situation, there isn't a separate EquipmentHolder - rather, the Card acts as a holder in addition to providing its normal functions. This class is the base class for defining different types of physical resource roles. Attributes are TBD.</p>
            <p>This entity  is  abstract</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfHardwareRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:HardwareRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="pEPhysicalDeviceRole" type="tns:PEPhysicalDeviceRole"/>
   <xsd:complexType name="PEPhysicalDeviceRole">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is a concrete class that defines the basic physical characteristics of a PE Provider Edge) device. For example, what types of line cards are needed for this device to perform its role of a PE device.

Please see the DEN-ng PhysicalResource model for more details.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPEPhysicalDeviceRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PEPhysicalDeviceRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="pPhysicalDeviceRole" type="tns:PPhysicalDeviceRole"/>
   <xsd:complexType name="PPhysicalDeviceRole">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is a concrete class that defines the basic characteristics of a P (Provider Core) device. For example, what types of line cards are needed for this device to perform its role of a P device.

Please see the DEN-ng PhysicalResource model for more details.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPPhysicalDeviceRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PPhysicalDeviceRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="physicalAdapterRole" type="tns:PhysicalAdapterRole"/>
   <xsd:complexType name="PhysicalAdapterRole">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is a concrete class that represents any type of physical resource that can play a physical adapter role. The Adapter role enables a piece of Hardware to adapt its use. For example, sometimes Cards and Chassis evolve along separate paths, causing future versions of one to no longer be physically compatible with present and/or future versions of the other. The solution to this is to use an intermediate piece of Hardware, called an Adapter, to extend the existing physical structure of an EquipmentHolder to enable otherwise incompatible Equipment to be plugged into an EquipmentHolder. The Adapter conceptually creates a new type of EquipmentHolder that fits into the existing EquipmentHolder. This enables Cards that would otherwise be physically and/or electrically incompatible with the existing EquipmentHolder to be supported, by interfacing to the old EquipmentHolder via the new Adapter.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="typeOfAdapterRole" type="xsd:int" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>This is an enumerated integer that defines the various types of adapter roles that this object can play. Values include:

0: undefined;
1: host (e.g., a motherboard)
2: client (e.g., a daughterboard)

This is a REQUIRED attribute.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPhysicalAdapterRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PhysicalAdapterRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="physicalDeviceRole" type="tns:PhysicalDeviceRole"/>
   <xsd:complexType name="PhysicalDeviceRole" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is an abstract base class that defines the different types of physical roles that a PhysicalDevice can take on. This enables us to correlate different logical roles to physical hardware. For example, the logical capability of encryption may need dedicated physical hardware. The PhysicalDeviceRole Encryption enables us to model this dependency.</p>
            <p>This entity  is  abstract</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="_physicalDeviceRoleSpec" type="role:PhysicalDeviceRoleSpec" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="logicalDeviceRole" type="role1:ArrayOfLogicalDeviceRole" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association RequiresHardwareSupportFor</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="physicalDevice" type="device:PhysicalDevice" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation shared</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association HasPhysicalDeviceRoles</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPhysicalDeviceRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PhysicalDeviceRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="physicalEncryptionRole" type="tns:PhysicalEncryptionRole"/>
   <xsd:complexType name="PhysicalEncryptionRole">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is a physical role that a device has. It enables us to correlate physical components that are used to encrypt traffic with the logical capability of encrypting.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPhysicalEncryptionRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PhysicalEncryptionRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="physicalFirewallRole" type="tns:PhysicalFirewallRole"/>
   <xsd:complexType name="PhysicalFirewallRole">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is a physical role that a device can play. It enables us to correlate physical components that are used to perform firewall functions with the logical capability of acting as a firewall.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPhysicalFirewallRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PhysicalFirewallRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="physicalHolderRole" type="tns:PhysicalHolderRole"/>
   <xsd:complexType name="PhysicalHolderRole">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is a concrete class that represents any type of physical resource that can play a holding role. A common example is a Card that can also serve as a motherboard, or a Card that can serve as a daughter card that attaches to a motherboard. This class enables a single Entity, such as a Line Card, to have multiple roles - it can function as a Router Processor as well as a Holder.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="typeOfHolderRole" type="xsd:int" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>This is an enumerated integer that defines the various types of holding roles that this object can play. Values include:

0: undefined;
1: host (e.g., a motherboard)
2: client (e.g., a daughterboard)

This is a REQUIRED attribute.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPhysicalHolderRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PhysicalHolderRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="physicalResourceRole" type="tns:PhysicalResourceRole"/>
   <xsd:complexType name="PhysicalResourceRole" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is an abstract base class that defines the concept of various types of roles that can be associated with PhysicalResources.</p>
            <p>This entity  is  abstract</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="physicalResource" type="phy:PhysicalResource" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation shared</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association RolesDescribePhysicalResourceDetails</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="physicalResourceSpec" type="phy1:PhysicalResourceSpec" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation shared</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association SpecifiesPhysicalResourceRoles</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="service" type="serv:ArrayOfService" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association ServiceHostedOn</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPhysicalResourceRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PhysicalResourceRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="physicalRouterRole" type="tns:PhysicalRouterRole"/>
   <xsd:complexType name="PhysicalRouterRole">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is a physical role that a device has. It enables us to correlate physical components that are used to route traffic with the logical capability of routing traffic.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPhysicalRouterRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PhysicalRouterRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="physicalSwitchRole" type="tns:PhysicalSwitchRole"/>
   <xsd:complexType name="PhysicalSwitchRole">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is a physical role that a device has. It enables us to correlate physical components that are used to forward traffic with the logical capability of forwarding traffic.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPhysicalSwitchRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PhysicalSwitchRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- ************************************* --><!-- Package Association Class definitions --><!-- ************************************* --><!-- ************************** --><!-- package Event definitions --><!-- ************************** --><!-- ************************** --><!-- package Exception definitions --><!-- ************************** -->
</xsd:schema>