Templates/SIDOCSEntity/resources/sid_org_tmforum_tip_service_spec_cfs.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.7.0.201207021234 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company, Optare Solutions/TIP_Soap_Generator(1.2) (1.2)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) TeleManagement Forum 2012. All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published, and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this section are included on all such copies and derivative works. However, this document itself may not be modified in any way, including by removing the copyright notice or references to TM FORUM, except as needed for the purpose of developing any document or deliverable produced by a TM FORUM Collaboration Project Team (in which case the rules applicable to copyrights, as set forth in the TM FORUM IPR Policy, must be followed) or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by TM FORUM or its successors or assigns. 

This document and the information contained herein is provided on an "AS IS" basis and TM FORUM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY OWNERSHIP RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. 


Direct inquiries to the TM Forum office: 
 
240 Headquarters Plaza,
East Tower - 10th Floor,
Morristown, NJ  07960 USA
Tel No.  +1 973 944 5100
Fax No.  +1 973 944 5110
TM Forum Web Page: www.tmforum.org
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/sid/org/tmforum/tip/service/spec/cfs" xmlns:cfs="http://www.tmforum.org/xml/sid/org/tmforum/tip/service/serv/cfs" xmlns:rfs="http://www.tmforum.org/xml/sid/org/tmforum/tip/service/spec/rfs" xmlns:spec="http://www.tmforum.org/xml/sid/org/tmforum/tip/product/spec" xmlns:entity="http://www.tmforum.org/xml/tip/internal/entity" xmlns:role="http://www.tmforum.org/xml/sid/org/tmforum/tip/service/spec/cfs/role" xmlns:base="http://www.tmforum.org/xml/tip/cbe/base" targetNamespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/service/spec/cfs" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13.0">
   <xsd:annotation>
      <xsd:documentation>
         <pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: SID_Model
                        at version: 13.0
      for all artifacts in package: org.tmforum.tip.service.spec.cfs
      Model Description:
      Model Project for SID xsd generation
      Package Description:
      
      Package data summary information:
            entities: 5
 Association Classes: 1
           datatypes: 0
        enumerations: 0
              events: 0
          exceptions: 0
      </pre>
      </xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/service/serv/cfs" schemaLocation="sid_org_tmforum_tip_service_serv_cfs.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/service/spec/rfs" schemaLocation="sid_org_tmforum_tip_service_spec_rfs.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/product/spec" schemaLocation="sid_org_tmforum_tip_product_spec.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/entity" schemaLocation="internal_entity.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/service/spec/cfs/role" schemaLocation="sid_org_tmforum_tip_service_spec_cfs_role.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/cbe/base" schemaLocation="common_cbe_base.xsd"/><!-- ******************************* --><!-- Package Enumeration definitions --><!-- ******************************* --><!-- **************************** --><!-- Package Datatype definitions --><!-- **************************** --><!-- ************************** --><!-- package Entity definitions --><!-- ************************** -->
   <xsd:element name="customerFacingServiceSpec" type="tns:CustomerFacingServiceSpec"/>
   <xsd:complexType name="CustomerFacingServiceSpec" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>A CustomerFacingServiceSpec defines the properties (attributes) common to a particular CustomerFacingService used to realize the associated Product(s). This entity serves as a common basis to build any set of CustomerFacingServices that the service provider needs.</p>
            <p>This entity  is  abstract</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="productSpecification" type="spec:ArrayOfProductSpecification" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation shared</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association ProdSpecRealizedAsCFServiceSpec</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="customerFacingServiceSpecRole" type="role:ArrayOfCustomerFacingServiceSpecRole" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association CFSSpecHasCFSRoles</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="customerFacingServiceSpecVersion" type="tns:ArrayOfCustomerFacingServiceSpecVersion" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association CFSSpecVersionDetails</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="customerFacingServiceSpecComposite" type="tns:CustomerFacingServiceSpecComposite" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation shared</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association HasCustomerFacingServiceSpecs</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="resourceFacingServiceSpec" type="rfs:ArrayOfResourceFacingServiceSpec" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..*</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association RequiresResourceFacingServiceSpec</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="customerFacingService" type="cfs:ArrayOfCustomerFacingService" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association SpecifiesCustomerFacingService</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfCustomerFacingServiceSpec">
      <xsd:sequence>
         <xsd:element name="item" type="tns:CustomerFacingServiceSpec" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="customerFacingServiceSpecAtomic" type="tns:CustomerFacingServiceSpecAtomic"/>
   <xsd:complexType name="CustomerFacingServiceSpecAtomic">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is an abstract base class for defining CustomerFacingServiceSpecifications that do not have any subordinate CustomerFacingServiceSpecifications. In other words, a CustomerFacingServiceSpecAtomic is a stand-alone CustomerFacingServiceSpecification, and doesn't require any supporting CustomerFacingServiceSpecifications to define the invariant characteristics (i.e., non-changing attributes, methods, relationships, and constraints) of any CustomerFacingServices that it serves as a template for.

Please see the DEN-ng Service Model whitepaper for more information and examples.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfCustomerFacingServiceSpecAtomic">
      <xsd:sequence>
         <xsd:element name="item" type="tns:CustomerFacingServiceSpecAtomic" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="customerFacingServiceSpecComposite" type="tns:CustomerFacingServiceSpecComposite"/>
   <xsd:complexType name="CustomerFacingServiceSpecComposite">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is an abstract base class that defines an integrated set of CustomerFacingServices that collectively meets the needs of a Service requested by a Customer via a Product. For example, the Customer may have requested "GoldService", which is a ServicePackage that defines a set of ServiceBundles, each of which has its own QoS. Each individual CustomerFacingService that is part of the ServicePackage can be derived from a CustomerFacingServiceSpecification. In this case, a CustomerFacingServiceSpecComposite will aggregate all of the individual CustomerFacingServiceSpecifications into a single named object.



This object is a stand-alone object. However, it consists of other CustomerFacingServiceSpecComposite and/or CustomerFacingServiceSpecAtomic entities. That is the primary difference between this entity and the CustomerFacingServiceSpecAtomic entity.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="customerFacingServiceSpec" type="tns:ArrayOfCustomerFacingServiceSpec" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association HasCustomerFacingServiceSpecs</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfCustomerFacingServiceSpecComposite">
      <xsd:sequence>
         <xsd:element name="item" type="tns:CustomerFacingServiceSpecComposite" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="customerFacingServiceSpecVersion" type="tns:CustomerFacingServiceSpecVersion"/>
   <xsd:complexType name="CustomerFacingServiceSpecVersion">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="customerFacingServiceSpec" type="tns:CustomerFacingServiceSpec" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation shared</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association CFSSpecVersionDetails</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfCustomerFacingServiceSpecVersion">
      <xsd:sequence>
         <xsd:element name="item" type="tns:CustomerFacingServiceSpecVersion" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="iPsecVPNServiceSpecification" type="tns:IPsecVPNServiceSpecification"/>
   <xsd:complexType name="IPsecVPNServiceSpecification">
      <xsd:annotation>
         <xsd:documentation>
            <p>This class represents a generic specification for implementing an IPsec VPN Service.

Please see the DEN-ng MPLS VPN model for more details.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="iPsecVPNService" type="cfs:ArrayOfIPsecVPNService" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association SpecifiesIPsecVPNServices</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfIPsecVPNServiceSpecification">
      <xsd:sequence>
         <xsd:element name="item" type="tns:IPsecVPNServiceSpecification" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- ************************************* --><!-- Package Association Class definitions --><!-- ************************************* -->
   <xsd:element name="cFSSpecVersionDetails" type="tns:CFSSpecVersionDetails"/>
   <xsd:complexType name="CFSSpecVersionDetails">
      <xsd:annotation>
         <xsd:documentation>
            <p>This class defines the semantics of the modifiesCFSSpec aggregation. Specifically, it enables an application to define which set of versions of this CustomerFacingServiceSpecification are appropriate for a given task.This aggregation represents the set of versions of this CustomerFacingServiceSpecification. The semantics of this aggregation are implemented with the CFSSpecVersionDetails class.</p>
            <p>This association class  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="cfsSpecVerValidFor" type="base:TimePeriod" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>This attribute defines a time period which this particular CustomerFacingServiceSpecVersion is applicable. This enables past versions of a ServiceSpecification to be designated as no longer applicable.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="cfsSpecPreferredVersionToUse" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>This attribute defines the preferred Version of this CustomerFacingServiceSpecification to use.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="cfsSpecMinVersionForUse" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>This attribute defines the minimal version of this CustomerFacingServiceSpecification to use.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfCFSSpecVersionDetails">
      <xsd:sequence>
         <xsd:element name="item" type="tns:CFSSpecVersionDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- ************************** --><!-- package Event definitions --><!-- ************************** --><!-- ************************** --><!-- package Exception definitions --><!-- ************************** -->
</xsd:schema>