Templates/SIDOCSEntity/resources/sid_org_tmforum_tip_enterprise_risk_sec_vuln_score.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.7.0.201207021234 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company, Optare Solutions/TIP_Soap_Generator(1.2) (1.2)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) TeleManagement Forum 2012. All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published, and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this section are included on all such copies and derivative works. However, this document itself may not be modified in any way, including by removing the copyright notice or references to TM FORUM, except as needed for the purpose of developing any document or deliverable produced by a TM FORUM Collaboration Project Team (in which case the rules applicable to copyrights, as set forth in the TM FORUM IPR Policy, must be followed) or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by TM FORUM or its successors or assigns. 

This document and the information contained herein is provided on an "AS IS" basis and TM FORUM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY OWNERSHIP RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. 


Direct inquiries to the TM Forum office: 
 
240 Headquarters Plaza,
East Tower - 10th Floor,
Morristown, NJ  07960 USA
Tel No.  +1 973 944 5100
Fax No.  +1 973 944 5110
TM Forum Web Page: www.tmforum.org
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln/score" xmlns:vuln="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln" xmlns:notifications="http://www.tmforum.org/xml/tip/common/notifications" xmlns:scordef="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln/scordef" xmlns:entity="http://www.tmforum.org/xml/tip/internal/entity" xmlns:alg="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln/scordef/alg" xmlns:base="http://www.tmforum.org/xml/tip/cbe/base" targetNamespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln/score" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13.0">
   <xsd:annotation>
      <xsd:documentation>
         <pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: SID_Model
                        at version: 13.0
      for all artifacts in package: org.tmforum.tip.enterprise.risk.sec.vuln.score
      Model Description:
      Model Project for SID xsd generation
      Package Description:
      
      Package data summary information:
            entities: 5
 Association Classes: 0
           datatypes: 0
        enumerations: 0
              events: 0
          exceptions: 0
      </pre>
      </xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln" schemaLocation="sid_org_tmforum_tip_enterprise_risk_sec_vuln.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/common/notifications" schemaLocation="common_notifications.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln/scordef" schemaLocation="sid_org_tmforum_tip_enterprise_risk_sec_vuln_scordef.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/entity" schemaLocation="internal_entity.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln/scordef/alg" schemaLocation="sid_org_tmforum_tip_enterprise_risk_sec_vuln_scordef_alg.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/cbe/base" schemaLocation="common_cbe_base.xsd"/><!-- ******************************* --><!-- Package Enumeration definitions --><!-- ******************************* --><!-- **************************** --><!-- Package Datatype definitions --><!-- **************************** --><!-- ************************** --><!-- package Entity definitions --><!-- ************************** -->
   <xsd:element name="atomicSecurityVulnerabilityMetric" type="tns:AtomicSecurityVulnerabilityMetric"/>
   <xsd:complexType name="AtomicSecurityVulnerabilityMetric">
      <xsd:annotation>
         <xsd:documentation>
            <p>A type of SecurityVulnerabilityMetric that does not have any subordinate SecurityVulnerabilityMetrics, that is, an AtomicSecurityVulnerabilityMetric is a leaf-level SecurityVulnerabilityMetric.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfAtomicSecurityVulnerabilityMetric">
      <xsd:sequence>
         <xsd:element name="item" type="tns:AtomicSecurityVulnerabilityMetric" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="compositeSecurityVulnerabilityMetric" type="tns:CompositeSecurityVulnerabilityMetric"/>
   <xsd:complexType name="CompositeSecurityVulnerabilityMetric">
      <xsd:annotation>
         <xsd:documentation>
            <p>A type of SecurityVulnerabilityMetric that is formed by aggregating other SecurityVulnerabilityMetrics, which may be Composite or Atomic SecurityVulnerabilityMetrics.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="securityVulnerabilityMetricValue2" type="tns:ArrayOfSecurityVulnerabilityMetric" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association CompositeSecurityVulnerabilityMetricComprisedOf</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfCompositeSecurityVulnerabilityMetric">
      <xsd:sequence>
         <xsd:element name="item" type="tns:CompositeSecurityVulnerabilityMetric" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="securityVulnerabilityMetric" type="tns:SecurityVulnerabilityMetric"/>
   <xsd:complexType name="SecurityVulnerabilityMetric" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>The metrics used for scoring a particular type of security vulnerability.</p>
            <p>This entity  is  abstract</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="date" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>This is the date associated with the metric associated with this security vulnerability</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="securityVulnerabilityCategory" type="vuln:SecurityVulnerabilityCategoryAssignment" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecurityVulnerabilityMetricAssignedTo</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="secVulnerabilityScoringMetricDefnAssignment" type="scordef:SecVulnerabilityScoringMetricDefnAssignment" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecurityVulnerabilityScoringMetricDefnAssignmentDescribes</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="compositeSecurityVulnerabilityMetric" type="tns:CompositeSecurityVulnerabilityMetric" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association CompositeSecurityVulnerabilityMetricComprisedOf</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="securityVulnerabilityMetricValue" type="tns:ArrayOfSecurityVulnerabilityMetricValue" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecurityVulnerabilityAssigned</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="securityVulnerabilityScore" type="tns:ArrayOfSecurityVulnerabilityScore" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecurityVulnerabilityMetricMeasuredBy</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfSecurityVulnerabilityMetric">
      <xsd:sequence>
         <xsd:element name="item" type="tns:SecurityVulnerabilityMetric" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="securityVulnerabilityMetricValue" type="tns:SecurityVulnerabilityMetricValue"/>
   <xsd:complexType name="SecurityVulnerabilityMetricValue">
      <xsd:annotation>
         <xsd:documentation>
            <p>The value assigned to a SecurityVulnerabilityMetric based on one or more standard values defined by SecurityVulnerabilityMetricValueDefn.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="validFor" type="base:TimePeriod" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The period of time that this value was assiged to a particular metric.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="secVulnerabilityMetricValueDefn" type="scordef:SecVulnerabilityMetricValueDefn" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecVulnerabilityMetricValueDefnDefines</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="securityVulnerabilityMetric" type="tns:SecurityVulnerabilityMetric" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecurityVulnerabilityAssigned</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="securityVulnerabilityScore" type="tns:SecurityVulnerabilityScore" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecurityVulnerabilityScoreCalculatedBasedUpon</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfSecurityVulnerabilityMetricValue">
      <xsd:sequence>
         <xsd:element name="item" type="tns:SecurityVulnerabilityMetricValue" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="securityVulnerabilityScore" type="tns:SecurityVulnerabilityScore"/>
   <xsd:complexType name="SecurityVulnerabilityScore">
      <xsd:annotation>
         <xsd:documentation>
            <p>The risk value calculated by the scoring system for a SecurityVulnerability.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="iD" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A unique identifier for the SecurityVulnerabilityScore.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="date" type="xsd:dateTime" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The date that the SecurityVulnerabilityScore was calculated.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="vulnerabilityScore" type="xsd:long" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The value of the SecurityVulnerabilityScore calculated using a SecurityVulnerabilityScoringAlgorithm.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The purpose of the of the score.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="secVulnerabilityScoreAlgorithm" type="alg:SecVulnerabilityScoreAlgorithm" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecVulnerabilityScoreAlgorithmUsedToCalculate</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="securityVulnerabilityMetric" type="tns:SecurityVulnerabilityMetric" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecurityVulnerabilityMetricMeasuredBy</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="securityVulnerabilityMetricValue" type="tns:ArrayOfSecurityVulnerabilityMetricValue" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecurityVulnerabilityScoreCalculatedBasedUpon</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfSecurityVulnerabilityScore">
      <xsd:sequence>
         <xsd:element name="item" type="tns:SecurityVulnerabilityScore" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SecurityVulnerabilityScoreAVCN">
      <xsd:complexContent>
         <xsd:extension base="notifications:AVCNotification">
            <xsd:sequence>
               <xsd:element name="iD" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A unique identifier for the SecurityVulnerabilityScore.</p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="date" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The date that the SecurityVulnerabilityScore was calculated.</p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="vulnerabilityScore" type="xsd:long" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The value of the SecurityVulnerabilityScore calculated using a SecurityVulnerabilityScoringAlgorithm.</p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="securityVulnerabilityScoreAVCN" type="tns:SecurityVulnerabilityScoreAVCN">
      <xsd:annotation>
         <xsd:documentation>
			   SecurityVulnerabilityScore Attribute Value Change Event. Event that is sent when the attribute values of a(an) SecurityVulnerabilityScore have changed. 
            </xsd:documentation>
      </xsd:annotation>
   </xsd:element><!-- ************************************* --><!-- Package Association Class definitions --><!-- ************************************* --><!-- ************************** --><!-- package Event definitions --><!-- ************************** --><!-- ************************** --><!-- package Exception definitions --><!-- ************************** -->
</xsd:schema>