Templates/SIDOCSEntity/resources/sid_org_tmforum_tip_cbe_perf_thr.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.7.0.201207021234 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company, Optare Solutions/TIP_Soap_Generator(1.2) (1.2)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) TeleManagement Forum 2012. All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published, and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this section are included on all such copies and derivative works. However, this document itself may not be modified in any way, including by removing the copyright notice or references to TM FORUM, except as needed for the purpose of developing any document or deliverable produced by a TM FORUM Collaboration Project Team (in which case the rules applicable to copyrights, as set forth in the TM FORUM IPR Policy, must be followed) or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by TM FORUM or its successors or assigns. 

This document and the information contained herein is provided on an "AS IS" basis and TM FORUM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY OWNERSHIP RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. 


Direct inquiries to the TM Forum office: 
 
240 Headquarters Plaza,
East Tower - 10th Floor,
Morristown, NJ  07960 USA
Tel No.  +1 973 944 5100
Fax No.  +1 973 944 5110
TM Forum Web Page: www.tmforum.org
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf/thr" xmlns:perf="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf" xmlns:nrb="http://www.tmforum.org/xml/tip/resource/res/nrb" xmlns:job="http://www.tmforum.org/xml/tip/cbe/job" xmlns:notifications="http://www.tmforum.org/xml/tip/common/notifications" xmlns:mon="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf/mon" xmlns:problem="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/problem" xmlns:alarm="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/trouble/alarm" xmlns:sched="http://www.tmforum.org/xml/tip/cbe/time/sched" xmlns:entity="http://www.tmforum.org/xml/tip/internal/entity" xmlns:spec="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf/spec" xmlns:base="http://www.tmforum.org/xml/tip/cbe/base" targetNamespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf/thr" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13.0">
   <xsd:annotation>
      <xsd:documentation>
         <pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: SID_Model
                        at version: 13.0
      for all artifacts in package: org.tmforum.tip.cbe.perf.thr
      Model Description:
      Model Project for SID xsd generation
      Package Description:
      
      Package data summary information:
            entities: 2
 Association Classes: 0
           datatypes: 6
        enumerations: 3
              events: 0
          exceptions: 0
      </pre>
      </xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf" schemaLocation="sid_org_tmforum_tip_cbe_perf.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/resource/res/nrb" schemaLocation="common_resource_res_nrb.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/cbe/job" schemaLocation="common_cbe_job.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/common/notifications" schemaLocation="common_notifications.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf/mon" schemaLocation="sid_org_tmforum_tip_cbe_perf_mon.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/problem" schemaLocation="sid_org_tmforum_tip_cbe_problem.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/trouble/alarm" schemaLocation="sid_org_tmforum_tip_resource_trouble_alarm.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/cbe/time/sched" schemaLocation="common_cbe_time_sched.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/entity" schemaLocation="internal_entity.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf/spec" schemaLocation="sid_org_tmforum_tip_cbe_perf_spec.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/cbe/base" schemaLocation="common_cbe_base.xsd"/><!-- ******************************* --><!-- Package Enumeration definitions --><!-- ******************************* -->
   <xsd:simpleType name="ThresholdComparator">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="GT">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "GT"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="GE">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "GE"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="EQ">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "EQ"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="NEQ">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "NEQ"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="LT">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "LT"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="LE">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "LE"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfThresholdComparator">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ThresholdComparator" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="ThresholdCondition">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="Raise">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "Raise"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Clear">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "Clear"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfThresholdCondition">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ThresholdCondition" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="ThresholdType">
      <xsd:annotation>
         <xsd:documentation>
            <p>The Threshold Type may be either "LogicDefinition" or "PreDefined".</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="LogicDefinition">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "LogicDefinition"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="PreDefined">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "PreDefined"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfThresholdType">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ThresholdType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- **************************** --><!-- Package Datatype definitions --><!-- **************************** -->
   <xsd:element name="performanceAlarmSpecification" type="tns:PerformanceAlarmSpecification"/>
   <xsd:complexType name="PerformanceAlarmSpecification">
      <xsd:annotation>
         <xsd:documentation>
            <p>The specification of how to populate the alarm fields when generating a threshold crossing alarm.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="perfAlamSpecSeverity" type="alarm:PerceivedSeverity" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>A value for the PerceivedSeverity attribute as part of a threshold crossing alarm definition.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  mandatory</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="perfAlarmSpecProbableCause" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>A value for the ProbableCause attribute as part of a threshold crossing alarm definition.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  invariant</p>
                  <p>This attribute  is  mandatory</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="perfAlarmSpecAlarmType" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>A value for the AlarmType attribute as part of a threshold crossing alarm definition.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  mandatory</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="perfAlarmSpecSpecificProblem" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>A value for the SpecificProblem attribute as part of a threshold crossing alarm definition.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="perfAlarmSpecAdditionalText" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>A value for the AdditionalText attribute as part of a threshold crossing alarm definition.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="perfAlarmThresholdCrossingDescription" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>A specific description of the threshold crossing (intended to be populated e under the alarm under CrossedThreshold structure).</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="performanceConsequence" type="tns:PerformanceConsequence" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>The Performance alarm specification is part of of a Performance threshold consequence.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPerformanceAlarmSpecification">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PerformanceAlarmSpecification" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="performanceConsequence" type="tns:PerformanceConsequence"/>
   <xsd:complexType name="PerformanceConsequence">
      <xsd:annotation>
         <xsd:documentation>
            <p>A Consequence can be applied as a result of a threshold crossing or a threshold ceasing to be crossed.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>A word, term, or phrase by which a PerformanceConsequence is known and distinguished from other PerformanceConsequences.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>A narrative that explains in detail what the PerforrmanceConsequence is.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="prescribedAction" type="xsd:string" minOccurs="1" maxOccurs="1" default="Alarm">
            <xsd:annotation>
               <xsd:documentation>
                  <p>Recommended remedy for a violated Performance threshold.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  invariant</p>
                  <p>This attribute  is  mandatory</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPerformanceConsequence">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PerformanceConsequence" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="performanceThresholdRule" type="tns:PerformanceThresholdRule"/>
   <xsd:complexType name="PerformanceThresholdRule" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>A base entity for concrete definition of thresholds.</p>
            <p>This datatype  is  abstract</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="thresholdRuleCondition" type="tns:ThresholdCondition" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>A threshold may have two possible values: "Raise" - a threshold was crossed or "Clear" - a threshold ceased crossing.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  invariant</p>
                  <p>This attribute  is  mandatory</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="thresholdRuleSeverity" type="alarm:PerceivedSeverity" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>A threshold can be generated in different severity levels. A crossing for each level may require a different condition and possibly trigger a different consequence. The supported severity levels are equivalent to the possible severity level of alarms.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  invariant</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="performanceConsequence" type="tns:ArrayOfPerformanceConsequence" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>A threshold crossing or a threshold ceased to be crossing results in a Performance consequence.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPerformanceThresholdRule">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PerformanceThresholdRule" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="performanceThresholdRuleDefinition" type="tns:PerformanceThresholdRuleDefinition"/>
   <xsd:complexType name="PerformanceThresholdRuleDefinition">
      <xsd:annotation>
         <xsd:documentation>
            <p>Various types of threshold logic can be implemented by this entity. For example: Indicator &gt; Value.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="tns:PerformanceThresholdRule">
            <xsd:sequence>
               <xsd:element name="conformanceTarget" type="xsd:long" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A value used to determine if the Performance threshold is crossed or ceased to be crossed.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="conformanceComparator" type="tns:ThresholdComparator" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>An operator that when applied on a value specifies whether a Performance threshold is crossed or ceased to be crossed.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="conformancePeriod" type="base:Duration" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>An interval of time during which the conformanceTarget must be measured.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="thresholdTarget" type="xsd:long" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A percent that is used to specify when a warning should be used that indicates a Performance threshold is in danger of being crossed.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="toleranceTarget" type="xsd:long" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A percent that specifies the allowable variation of a conformanceTarget.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="tolerancePeriod" type="base:Duration" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>An interval of time over which the toleranceTarget is acceptable before a Performance threshold Consequence is initiated.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="gracePeriods" type="xsd:int" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The number of allowed crossing occurrences in reference to the conformancePeriod without a Performance threshold Consequence being initiated.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPerformanceThresholdRuleDefinition">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PerformanceThresholdRuleDefinition" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="performanceThresholdRulePreDefined" type="tns:PerformanceThresholdRulePreDefined"/>
   <xsd:complexType name="PerformanceThresholdRulePreDefined">
      <xsd:annotation>
         <xsd:documentation>
            <p>1. A pre-defined threshold is a "black-box" logic that resides in the PM Producing Application. A PM consuming application can execute it assigning values to its parameters.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="tns:PerformanceThresholdRule">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPerformanceThresholdRulePreDefined">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PerformanceThresholdRulePreDefined" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="performanceThresholdRulePreDefinedParam" type="tns:PerformanceThresholdRulePreDefinedParam"/>
   <xsd:complexType name="PerformanceThresholdRulePreDefinedParam">
      <xsd:annotation>
         <xsd:documentation>
            <p>The parameters that are associated to a pre-defined threshold.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="thresholdParams" type="base:AttributeValuePair" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>A name-value pair representing a predefined threshold parameters.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="performanceThresholdPreDefined" type="tns:PerformanceThresholdRulePreDefined" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPerformanceThresholdRulePreDefinedParam">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PerformanceThresholdRulePreDefinedParam" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- ************************** --><!-- package Entity definitions --><!-- ************************** -->
   <xsd:element name="measurementThresholdJob" type="tns:MeasurementThresholdJob"/>
   <xsd:complexType name="MeasurementThresholdJob">
      <xsd:annotation>
         <xsd:documentation>
            <p>A job for evaluating thresholds defined over performance indicators.</p>
            <p>This entity  is  optional</p>
            <p>This entity  is  extendable</p>
            <p>This entity   generates Object Creation notifications</p>
            <p>This entity   generates Object Deletion notifications</p>
            <p>This entity   does not generate Object Discovery notifications (NA)</p>
            <p>This entity generates Attribute Value Change notifications.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="mon:MeasurementJob">
            <xsd:sequence>
               <xsd:element name="performanceThreshold" type="entity:EntityIdentifier" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A Measurement Threshold Job evaluates a Performance threshold in a specific context and time schedule.</p>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association ThresholdJobEvaluatesThreshold</p>
                        <p>This association end  is  passed by id</p>
                        <p>This association end  is  mandatory</p>
                        <p>This association end  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfMeasurementThresholdJob">
      <xsd:sequence>
         <xsd:element name="item" type="tns:MeasurementThresholdJob" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MeasurementThresholdJobAVCN">
      <xsd:complexContent>
         <xsd:extension base="notifications:AVCNotification">
            <xsd:sequence>
               <xsd:element name="granularity" type="mon:Granularity" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The sampling rate of Performance Indicators as determined when they are produced. In many cases a different granularity of an indicator will be reflected in a different indicator value (e.g. a gauge)</p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="monitoredObjectsCriteria" type="mon:MonitoredObjectsCriteria" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Monitored objects are specified by the MonitoredObjectsCriteria.</p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="lastModifiedTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>
                           <p>Defines the time when the management job was last modified. </p>
                        </p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="adminState" type="nrb:AdministrativeState" minOccurs="0" maxOccurs="1" default="2">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>
                           <p>The administrative state of the management job</p>
                        </p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="jobPriority" type="xsd:int" minOccurs="0" maxOccurs="1" default="5">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>
                           <p>The priority of the management job.</p>
                           <p>The way the management application will use the JobPriority to schedule job execution is application specific and outside of the scope. Integer, limited to a range of 1 to 10.</p>
                        </p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="executionState" type="job:ExecutionState" minOccurs="0" maxOccurs="1" default="Executing">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>
                           <p>The execution state of the management job.</p>
                           <p>It is used to indicate a failure in the execution of the job. </p>
                        </p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="scheduleDefinition" type="sched:ScheduleDefinition" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>
                           <p>If the management job is a regular one, then it will include a schedule definition.</p>
                           <p>Not present for one-time jobs.</p>
                        </p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="performanceThreshold" type="entity:EntityIdentifier" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A Measurement Threshold Job evaluates a Performance threshold in a specific context and time schedule.</p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  passed by id</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="trackingRecord" type="problem:ArrayOfTrackingRecord" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Allows the tracking of modifications on the measurement job.
The tracking records should not be returned by default with the measurement job to allow retrieving the job without the tracking records.
Whether the tracking records is stored with the measurement job or outside of it is implementation specific.</p>
                        <p>This attribute  has  multiplicity *</p>
                        <p>This attribute  is  passed by value</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="measurementThresholdJobAVCN" type="tns:MeasurementThresholdJobAVCN">
      <xsd:annotation>
         <xsd:documentation>
			   MeasurementThresholdJob Attribute Value Change Event. Event that is sent when the attribute values of a(an) MeasurementThresholdJob have changed. 
            </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="MeasurementThresholdJobOCN">
      <xsd:complexContent>
         <xsd:extension base="notifications:OCNotification">
            <xsd:sequence>
               <xsd:element name="object" type="tns:MeasurementThresholdJob" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="measurementThresholdJobOCN" type="tns:MeasurementThresholdJobOCN">
      <xsd:annotation>
         <xsd:documentation>Event that is sent if a(an) MeasurementThresholdJob instance has been created.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="MeasurementThresholdJobODelN">
      <xsd:complexContent>
         <xsd:extension base="notifications:ODelNotification">
            <xsd:sequence>
               <xsd:element name="object" type="tns:MeasurementThresholdJob" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="measurementThresholdJobODelN" type="tns:MeasurementThresholdJobODelN">
      <xsd:annotation>
         <xsd:documentation>Event that is sent if a(an) MeasurementThresholdJob instance has been deleted.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="performanceThreshold" type="tns:PerformanceThreshold"/>
   <xsd:complexType name="PerformanceThreshold">
      <xsd:annotation>
         <xsd:documentation>
            <p>A threshold base entity containing threshold rules.</p>
            <p>This entity  is  optional</p>
            <p>This entity  is  extendable</p>
            <p>This entity   does not generate Object Creation notifications (NA)</p>
            <p>This entity   generates Object Deletion notifications</p>
            <p>This entity   does not generate Object Discovery notifications (NA)</p>
            <p>This entity generates Attribute Value Change notifications.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A word, term, or phrase by which a Performance threshold is known and distinguished from other thresholds.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  invariant</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC disabled (NA)</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A narrative that explains in detail what the Performance threshold is.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  invariant</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled (NA)</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="thresholdType" type="tns:ThresholdType" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A threshold can have one of two possible types: LogicDefinition - an actual definition of a threshold logic, PreDefined - a pre-defined logic as agreed between a PM consumer and a PM producer.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC disabled (NA)</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="monitoredClassCriteria" type="mon:MonitoredClassCriteria" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A Performance threshold is defined over a monitored objects class criteria.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled (NA)</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="thresholdRule" type="tns:ArrayOfPerformanceThresholdRule" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A PerformanceThreshold contains a set of Performance threshold rules of different conditions (Raise, Clear) and different severities.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                        <p>This attribute  is  AVC disabled (NA)</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="performanceIndicator" type="perf:ArrayOfPerformanceIndicator" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association PerformanceIndicatorMeasuredUsing</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="measurementThresholdJob" type="tns:ArrayOfMeasurementThresholdJob" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The Performance Threshold is evaluated by Measurement threshold jobs in various kinds of scope and time scheduling definitions.</p>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association ThresholdJobEvaluatesThreshold</p>
                        <p>This association end  is  passed by value</p>
                        <p>This association end  is  optional</p>
                        <p>This association end  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="performanceIndicatorSpecification" type="spec:ArrayOfPerformanceIndicatorSpecification" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A Performance threshold defines crossing over a Performance threshold specification. By using this definition, an instance of this indicator specification will be evaluated by a threshold job.</p>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association PerformanceIndicatorSpecMeasuredBy</p>
                        <p>This association end  is  passed by value</p>
                        <p>This association end  is  optional</p>
                        <p>This association end  is  AVC disabled (NA)</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPerformanceThreshold">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PerformanceThreshold" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PerformanceThresholdAVCN">
      <xsd:complexContent>
         <xsd:extension base="notifications:AVCNotification">
            <xsd:sequence>
               <xsd:element name="measurementThresholdJob" type="tns:ArrayOfMeasurementThresholdJob" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The Performance Threshold is evaluated by Measurement threshold jobs in various kinds of scope and time scheduling definitions.</p>
                        <p>This attribute  has  multiplicity *</p>
                        <p>This attribute  is  passed by value</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="performanceThresholdAVCN" type="tns:PerformanceThresholdAVCN">
      <xsd:annotation>
         <xsd:documentation>
			   PerformanceThreshold Attribute Value Change Event. Event that is sent when the attribute values of a(an) PerformanceThreshold have changed. 
            </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="PerformanceThresholdODelN">
      <xsd:complexContent>
         <xsd:extension base="notifications:ODelNotification">
            <xsd:sequence>
               <xsd:element name="object" type="tns:PerformanceThreshold" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="performanceThresholdODelN" type="tns:PerformanceThresholdODelN">
      <xsd:annotation>
         <xsd:documentation>Event that is sent if a(an) PerformanceThreshold instance has been deleted.</xsd:documentation>
      </xsd:annotation>
   </xsd:element><!-- ************************************* --><!-- Package Association Class definitions --><!-- ************************************* --><!-- ************************** --><!-- package Event definitions --><!-- ************************** --><!-- ************************** --><!-- package Exception definitions --><!-- ************************** -->
</xsd:schema>