Templates/SIDOCSEntity/resources/sid_org_tmforum_tip_enterprise_risk_sec_vuln_scordef_alg.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.7.0.201207021234 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company, Optare Solutions/TIP_Soap_Generator(1.2) (1.2)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) TeleManagement Forum 2012. All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published, and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this section are included on all such copies and derivative works. However, this document itself may not be modified in any way, including by removing the copyright notice or references to TM FORUM, except as needed for the purpose of developing any document or deliverable produced by a TM FORUM Collaboration Project Team (in which case the rules applicable to copyrights, as set forth in the TM FORUM IPR Policy, must be followed) or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by TM FORUM or its successors or assigns. 

This document and the information contained herein is provided on an "AS IS" basis and TM FORUM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY OWNERSHIP RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. 


Direct inquiries to the TM Forum office: 
 
240 Headquarters Plaza,
East Tower - 10th Floor,
Morristown, NJ  07960 USA
Tel No.  +1 973 944 5100
Fax No.  +1 973 944 5110
TM Forum Web Page: www.tmforum.org
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln/scordef/alg" xmlns:notifications="http://www.tmforum.org/xml/tip/common/notifications" xmlns:score="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln/score" xmlns:scordef="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln/scordef" xmlns:entity="http://www.tmforum.org/xml/tip/internal/entity" xmlns:base="http://www.tmforum.org/xml/tip/cbe/base" targetNamespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln/scordef/alg" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13.0">
   <xsd:annotation>
      <xsd:documentation>
         <pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: SID_Model
                        at version: 13.0
      for all artifacts in package: org.tmforum.tip.enterprise.risk.sec.vuln.scordef.alg
      Model Description:
      Model Project for SID xsd generation
      Package Description:
      
      Package data summary information:
            entities: 5
 Association Classes: 0
           datatypes: 0
        enumerations: 0
              events: 0
          exceptions: 0
      </pre>
      </xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/common/notifications" schemaLocation="common_notifications.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln/score" schemaLocation="sid_org_tmforum_tip_enterprise_risk_sec_vuln_score.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln/scordef" schemaLocation="sid_org_tmforum_tip_enterprise_risk_sec_vuln_scordef.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/entity" schemaLocation="internal_entity.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/cbe/base" schemaLocation="common_cbe_base.xsd"/><!-- ******************************* --><!-- Package Enumeration definitions --><!-- ******************************* --><!-- **************************** --><!-- Package Datatype definitions --><!-- **************************** --><!-- ************************** --><!-- package Entity definitions --><!-- ************************** -->
   <xsd:element name="secVulnerabilityGeneralMbr" type="tns:SecVulnerabilityGeneralMbr"/>
   <xsd:complexType name="SecVulnerabilityGeneralMbr">
      <xsd:annotation>
         <xsd:documentation>
            <p>A type of SecVulnerabilityScoringAlgorithmMember that indicates some combination of delimiter, operator, value should be used at this point in the algorithm. The combination is dependent on the value(s) present for the three attributes that describe this entity.

Notes: For example, "20 *" , "*", "/".</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="delimiter" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A character used to specify the boundary between separate members.

Notes: For example, ";", ",", ":"</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="value" type="xsd:long" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A number used in the algorithm to calculate the security vulernability score.

Notes: For example, a value of of 0.395 is used when the Access Vector value is L (local) or the value 20 as a multiplier.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="operator" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A mathematical symbol, term, or other entity that describes an operation.

Notes: For example, case of, *, /.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfSecVulnerabilityGeneralMbr">
      <xsd:sequence>
         <xsd:element name="item" type="tns:SecVulnerabilityGeneralMbr" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="secVulnerabilityMetricDefnMbr" type="tns:SecVulnerabilityMetricDefnMbr"/>
   <xsd:complexType name="SecVulnerabilityMetricDefnMbr">
      <xsd:annotation>
         <xsd:documentation>
            <p>A type of SecVulnerabilityScoringAlgorithmMember that indicates the score of the associated SecurityVulnerabilityMetric should be used at this point in the algorithm.

Notes: For example, the score for the Access Vector should be used at this point in the algorithm Exploitability score = 20 * Access Vector score * Authentification score * Access Complexity score.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="secVulnerabilityScoringDefnMetric" type="scordef:SecVulnerabilityScoringMetricDefnAssignment" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecVulnerabilityScoringDefnMetricUsedAs</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfSecVulnerabilityMetricDefnMbr">
      <xsd:sequence>
         <xsd:element name="item" type="tns:SecVulnerabilityMetricDefnMbr" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="secVulnerabilityMetricValueDefnMbr" type="tns:SecVulnerabilityMetricValueDefnMbr"/>
   <xsd:complexType name="SecVulnerabilityMetricValueDefnMbr">
      <xsd:annotation>
         <xsd:documentation>
            <p>A type of SecVulnerabilityScoringAlgorithmMember that indicates the value of the associated SecurityVulnerabilityMetricValue should be used at this point in the algorithm.

Notes: For example, Access Vector = case of Access Vector value of L: .395, where L is the value of the Acess Vector's security vulnerability metric value; A: .646; N: 1.0.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="secVulnerabilityMetricValueDefn" type="scordef:SecVulnerabilityMetricValueDefn" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecVulnerabilityMetricValueDefnUsedAs</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfSecVulnerabilityMetricValueDefnMbr">
      <xsd:sequence>
         <xsd:element name="item" type="tns:SecVulnerabilityMetricValueDefnMbr" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="secVulnerabilityScoreAlgorithm" type="tns:SecVulnerabilityScoreAlgorithm"/>
   <xsd:complexType name="SecVulnerabilityScoreAlgorithm">
      <xsd:annotation>
         <xsd:documentation>
            <p>A step-by-step procedure for calculating the a security vulnerability score.

Notes: For example, BaseScore = round_to_1_decimal(((0.6 * Impact) + (0.4 * Exploitability) / 1.5) * f(Impact)).</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="version" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A number or text used to specify that a SecVulnerabilityScoreAlgorithm differs in certain respects from an earlier SecVulnerabilityScoreAlgorithm.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="iD" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A unique identifier for the SecVulnerabilityScoringAlgorithm.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A word, term, or phrase by which the SecVulnerabilityScoringAlgorithmMember is known and distinguished from other SecVulnerabilityScoringAlgorithmMembers.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A narrative that explains the security vulnerability score algorithm.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="validFor" type="base:TimePeriod" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The period of time for which a SecVulnerabilityScoringAlgorithmMember is applicable.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="secVulnerabilityScoringMetricDefnAssignment" type="scordef:SecVulnerabilityScoringMetricDefnAssignment" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecVulnerabilityScoringMetricDefnAssignmentScoredUsing</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="secVulnerabilityScoreAlgorithmMember" type="tns:ArrayOfSecVulnerabilityScoreAlgorithmMember" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecVulnerabilityScoreAlgorithmDefinedBy</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="securityVulnerabilityScore" type="score:ArrayOfSecurityVulnerabilityScore" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecVulnerabilityScoreAlgorithmUsedToCalculate</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfSecVulnerabilityScoreAlgorithm">
      <xsd:sequence>
         <xsd:element name="item" type="tns:SecVulnerabilityScoreAlgorithm" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SecVulnerabilityScoreAlgorithmAVCN">
      <xsd:complexContent>
         <xsd:extension base="notifications:AVCNotification">
            <xsd:sequence>
               <xsd:element name="iD" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A unique identifier for the SecVulnerabilityScoringAlgorithm.</p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A word, term, or phrase by which the SecVulnerabilityScoringAlgorithmMember is known and distinguished from other SecVulnerabilityScoringAlgorithmMembers.</p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="secVulnerabilityScoreAlgorithmAVCN" type="tns:SecVulnerabilityScoreAlgorithmAVCN">
      <xsd:annotation>
         <xsd:documentation>
			   SecVulnerabilityScoreAlgorithm Attribute Value Change Event. Event that is sent when the attribute values of a(an) SecVulnerabilityScoreAlgorithm have changed. 
            </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="secVulnerabilityScoreAlgorithmMember" type="tns:SecVulnerabilityScoreAlgorithmMember"/>
   <xsd:complexType name="SecVulnerabilityScoreAlgorithmMember" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>A fragment of an algorithm that represents a security vulnerability metric definition (score), a security vulnerability metric value definition, or a general fragment which represents a delimiter, operator, or a value.</p>
            <p>This entity  is  abstract</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="sequence" type="xsd:int" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The order in which the SecurityVulnerabilityScoreAlgorithmMember is used in a SecurityVulnerabilityScoreAlgorithm.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="iD" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A unique identifier for the SecurityVulnerabilityScoreAlgorithmMember.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A word, term, or phrase by which the SecurityVulnerabilityScoreAlgorithmMember is known and distinguished from other SecurityVulnerabilityScoreAlgorithmMembers.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A narrative that explains the SecurityVulnerabilityScoreAlgorithmMember.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="validFor" type="base:TimePeriod" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The period of time for which a SecurityVulnerabilityScoreAlgorithm is applicable.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="secVulnerabilityScoreAlgorithm" type="tns:SecVulnerabilityScoreAlgorithm" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecVulnerabilityScoreAlgorithmDefinedBy</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfSecVulnerabilityScoreAlgorithmMember">
      <xsd:sequence>
         <xsd:element name="item" type="tns:SecVulnerabilityScoreAlgorithmMember" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- ************************************* --><!-- Package Association Class definitions --><!-- ************************************* --><!-- ************************** --><!-- package Event definitions --><!-- ************************** --><!-- ************************** --><!-- package Exception definitions --><!-- ************************** -->
</xsd:schema>