Templates/SIDOCSEntity/resources/sid_org_tmforum_tip_cbe_perf_mon_coll.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.7.0.201207021234 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company, Optare Solutions/TIP_Soap_Generator(1.2) (1.2)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) TeleManagement Forum 2012. All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published, and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this section are included on all such copies and derivative works. However, this document itself may not be modified in any way, including by removing the copyright notice or references to TM FORUM, except as needed for the purpose of developing any document or deliverable produced by a TM FORUM Collaboration Project Team (in which case the rules applicable to copyrights, as set forth in the TM FORUM IPR Policy, must be followed) or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by TM FORUM or its successors or assigns. 

This document and the information contained herein is provided on an "AS IS" basis and TM FORUM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY OWNERSHIP RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. 


Direct inquiries to the TM Forum office: 
 
240 Headquarters Plaza,
East Tower - 10th Floor,
Morristown, NJ  07960 USA
Tel No.  +1 973 944 5100
Fax No.  +1 973 944 5110
TM Forum Web Page: www.tmforum.org
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf/mon/coll" xmlns:nrb="http://www.tmforum.org/xml/tip/resource/res/nrb" xmlns:notifications="http://www.tmforum.org/xml/tip/common/notifications" xmlns:job="http://www.tmforum.org/xml/tip/cbe/job" xmlns:mon="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf/mon" xmlns:problem="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/problem" xmlns:sched="http://www.tmforum.org/xml/tip/cbe/time/sched" xmlns:entity="http://www.tmforum.org/xml/tip/internal/entity" xmlns:spec="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf/spec" xmlns:base="http://www.tmforum.org/xml/tip/cbe/base" targetNamespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf/mon/coll" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13.0">
   <xsd:annotation>
      <xsd:documentation>
         <pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: SID_Model
                        at version: 13.0
      for all artifacts in package: org.tmforum.tip.cbe.perf.mon.coll
      Model Description:
      Model Project for SID xsd generation
      Package Description:
      
      Package data summary information:
            entities: 2
 Association Classes: 0
           datatypes: 0
        enumerations: 1
              events: 0
          exceptions: 0
      </pre>
      </xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/resource/res/nrb" schemaLocation="common_resource_res_nrb.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/common/notifications" schemaLocation="common_notifications.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/cbe/job" schemaLocation="common_cbe_job.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf/mon" schemaLocation="sid_org_tmforum_tip_cbe_perf_mon.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/problem" schemaLocation="sid_org_tmforum_tip_cbe_problem.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/cbe/time/sched" schemaLocation="common_cbe_time_sched.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/entity" schemaLocation="internal_entity.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf/spec" schemaLocation="sid_org_tmforum_tip_cbe_perf_spec.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/cbe/base" schemaLocation="common_cbe_base.xsd"/><!-- ******************************* --><!-- Package Enumeration definitions --><!-- ******************************* -->
   <xsd:simpleType name="CollectionResolution">
      <xsd:annotation>
         <xsd:documentation>
            <p>Sampling rate of the collection of perfomance indicators.

Supported values are : 1mn, 5mn, 15mn, 30mn, 1h, 24h, not applicable.
Note that litterals cannot start by a digit, so they are prefixed by a letter.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="G_1MN">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "G_1MN"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="G_5MN">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "G_5MN"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="G_15MN">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "G_15MN"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="G_30MN">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "G_30MN"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="G_1H">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "G_1H"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="G_24H">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "G_24H"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfCollectionResolution">
      <xsd:sequence>
         <xsd:element name="item" type="tns:CollectionResolution" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- **************************** --><!-- Package Datatype definitions --><!-- **************************** --><!-- ************************** --><!-- package Entity definitions --><!-- ************************** -->
   <xsd:element name="adhocCollection" type="tns:AdhocCollection"/>
   <xsd:complexType name="AdhocCollection">
      <xsd:annotation>
         <xsd:documentation>
            <p>A PM query for collecting performance indicators of a certain time range.</p>
            <p>This entity  is  optional</p>
            <p>This entity  is  extendable</p>
            <p>This entity   does not generate Object Creation notifications</p>
            <p>This entity   does not generate Object Deletion notifications</p>
            <p>This entity   does not generate Object Discovery notifications (NA)</p>
            <p>This entity generates Attribute Value Change notifications.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="job:ManagementJob">
            <xsd:sequence>
               <xsd:element name="consumingApplicationId" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The identifier of the application that consumes performance indicators.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  invariant</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="producingApplicationId" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The identifier of the application that produces performance indicators.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  invariant</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="granularity" type="mon:Granularity" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The sampling rate of Performance Indicators as determined when they are produced. In many cases a different granularity of an indicator will be reflected in a different indicator value (e.g. a gauge)</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  invariant</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="outputFormat" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The file format that is used for transferring the performance data between applications.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  invariant</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="collectionPeriod" type="base:TimePeriod" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The time range of the requested Performance Indicators.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  invariant</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="monitoredObjectsCriteria" type="mon:MonitoredObjectsCriteria" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Monitored objects are specified by the MonitoredObjectsCriteria.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  invariant</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="performanceIndicatorGroupSpecification" type="spec:ArrayOfPerformanceIndicatorGroupSpecification" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The requested indicator groups are specified using PerformanceIndicatorGroupSpecification.</p>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association AdhocCollectionSpecificesIndicatorGroup</p>
                        <p>This association end  is  invariant</p>
                        <p>This association end  is  passed by value</p>
                        <p>This association end  is  optional</p>
                        <p>This association end  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="performanceIndicatorSpecification" type="entity:ArrayOfEntityIdentifier" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The requested indicators are specified using PerformanceIndicatorSpecification.</p>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association AdhocCollectionSpecifiesIndicator</p>
                        <p>This association end  is  invariant</p>
                        <p>This association end  is  passed by id</p>
                        <p>This association end  is  optional</p>
                        <p>This association end  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="trackingRecord" type="problem:ArrayOfTrackingRecord" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Allows the tracking of modifications on the adhoc collection.
The tracking records should not be returned by default with the adhoc collection to allow retrieving the adhoc collection without the tracking records.
Whether the tracking records is stored with the adhoc collection or outside of it is implementation specific.</p>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association AdhocCollectionUsesTrackingRecord</p>
                        <p>This association end  is  passed by value</p>
                        <p>This association end  is  optional</p>
                        <p>This association end  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfAdhocCollection">
      <xsd:sequence>
         <xsd:element name="item" type="tns:AdhocCollection" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AdhocCollectionAVCN">
      <xsd:complexContent>
         <xsd:extension base="notifications:AVCNotification">
            <xsd:sequence>
               <xsd:element name="lastModifiedTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>
                           <p>Defines the time when the management job was last modified. </p>
                        </p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="adminState" type="nrb:AdministrativeState" minOccurs="0" maxOccurs="1" default="2">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>
                           <p>The administrative state of the management job</p>
                        </p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="jobPriority" type="xsd:int" minOccurs="0" maxOccurs="1" default="5">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>
                           <p>The priority of the management job.</p>
                           <p>The way the management application will use the JobPriority to schedule job execution is application specific and outside of the scope. Integer, limited to a range of 1 to 10.</p>
                        </p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="executionState" type="job:ExecutionState" minOccurs="0" maxOccurs="1" default="Executing">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>
                           <p>The execution state of the management job.</p>
                           <p>It is used to indicate a failure in the execution of the job. </p>
                        </p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="scheduleDefinition" type="sched:ScheduleDefinition" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>
                           <p>If the management job is a regular one, then it will include a schedule definition.</p>
                           <p>Not present for one-time jobs.</p>
                        </p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="adhocCollectionAVCN" type="tns:AdhocCollectionAVCN">
      <xsd:annotation>
         <xsd:documentation>
			   AdhocCollection Attribute Value Change Event. Event that is sent when the attribute values of a(an) AdhocCollection have changed. 
            </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="measurementCollectionJob" type="tns:MeasurementCollectionJob"/>
   <xsd:complexType name="MeasurementCollectionJob">
      <xsd:annotation>
         <xsd:documentation>
            <p>A job for collecting performance indicators.</p>
            <p>This entity  is  mandatory</p>
            <p>This entity  is  extendable</p>
            <p>This entity   generates Object Creation notifications</p>
            <p>This entity   generates Object Deletion notifications</p>
            <p>This entity   does not generate Object Discovery notifications (NA)</p>
            <p>This entity generates Attribute Value Change notifications.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="mon:MeasurementJob">
            <xsd:sequence>
               <xsd:element name="outputFormat" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The file format that is used for transferring the performance data between applications.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  invariant</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC disabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="reportingPeriod" type="mon:ReportingPeriod" minOccurs="1" maxOccurs="1" default="R_5MN">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The rate of collecting Performance Indicators reports.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="productionJob" type="entity:ArrayOfEntityIdentifier" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A collection job maybe attached to a production job. In such a case operations such as create job and delete job will be applied on the pair of jobs.</p>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association ProductionJobHasCollectionJob</p>
                        <p>This association end  is  passed by id</p>
                        <p>This association end  is  optional</p>
                        <p>This association end  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfMeasurementCollectionJob">
      <xsd:sequence>
         <xsd:element name="item" type="tns:MeasurementCollectionJob" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MeasurementCollectionJobAVCN">
      <xsd:complexContent>
         <xsd:extension base="notifications:AVCNotification">
            <xsd:sequence>
               <xsd:element name="reportingPeriod" type="mon:ReportingPeriod" minOccurs="0" maxOccurs="1" default="R_5MN">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The rate of collecting Performance Indicators reports.</p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="granularity" type="mon:Granularity" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The sampling rate of Performance Indicators as determined when they are produced. In many cases a different granularity of an indicator will be reflected in a different indicator value (e.g. a gauge)</p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="monitoredObjectsCriteria" type="mon:MonitoredObjectsCriteria" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Monitored objects are specified by the MonitoredObjectsCriteria.</p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="lastModifiedTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>
                           <p>Defines the time when the management job was last modified. </p>
                        </p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="adminState" type="nrb:AdministrativeState" minOccurs="0" maxOccurs="1" default="2">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>
                           <p>The administrative state of the management job</p>
                        </p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="jobPriority" type="xsd:int" minOccurs="0" maxOccurs="1" default="5">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>
                           <p>The priority of the management job.</p>
                           <p>The way the management application will use the JobPriority to schedule job execution is application specific and outside of the scope. Integer, limited to a range of 1 to 10.</p>
                        </p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="executionState" type="job:ExecutionState" minOccurs="0" maxOccurs="1" default="Executing">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>
                           <p>The execution state of the management job.</p>
                           <p>It is used to indicate a failure in the execution of the job. </p>
                        </p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="scheduleDefinition" type="sched:ScheduleDefinition" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>
                           <p>If the management job is a regular one, then it will include a schedule definition.</p>
                           <p>Not present for one-time jobs.</p>
                        </p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="productionJob" type="entity:ArrayOfEntityIdentifier" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A collection job maybe attached to a production job. In such a case operations such as create job and delete job will be applied on the pair of jobs.</p>
                        <p>This attribute  has  multiplicity *</p>
                        <p>This attribute  is  passed by id</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="trackingRecord" type="problem:ArrayOfTrackingRecord" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Allows the tracking of modifications on the measurement job.
The tracking records should not be returned by default with the measurement job to allow retrieving the job without the tracking records.
Whether the tracking records is stored with the measurement job or outside of it is implementation specific.</p>
                        <p>This attribute  has  multiplicity *</p>
                        <p>This attribute  is  passed by value</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="measurementCollectionJobAVCN" type="tns:MeasurementCollectionJobAVCN">
      <xsd:annotation>
         <xsd:documentation>
			   MeasurementCollectionJob Attribute Value Change Event. Event that is sent when the attribute values of a(an) MeasurementCollectionJob have changed. 
            </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="MeasurementCollectionJobOCN">
      <xsd:complexContent>
         <xsd:extension base="notifications:OCNotification">
            <xsd:sequence>
               <xsd:element name="object" type="tns:MeasurementCollectionJob" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="measurementCollectionJobOCN" type="tns:MeasurementCollectionJobOCN">
      <xsd:annotation>
         <xsd:documentation>Event that is sent if a(an) MeasurementCollectionJob instance has been created.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="MeasurementCollectionJobODelN">
      <xsd:complexContent>
         <xsd:extension base="notifications:ODelNotification">
            <xsd:sequence>
               <xsd:element name="object" type="tns:MeasurementCollectionJob" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="measurementCollectionJobODelN" type="tns:MeasurementCollectionJobODelN">
      <xsd:annotation>
         <xsd:documentation>Event that is sent if a(an) MeasurementCollectionJob instance has been deleted.</xsd:documentation>
      </xsd:annotation>
   </xsd:element><!-- ************************************* --><!-- Package Association Class definitions --><!-- ************************************* --><!-- ************************** --><!-- package Event definitions --><!-- ************************** --><!-- ************************** --><!-- package Exception definitions --><!-- ************************** -->
</xsd:schema>