Templates/SIDOCSEntity/resources/sid_org_tmforum_tip_cbe_perf.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.7.0.201207021234 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company, Optare Solutions/TIP_Soap_Generator(1.2) (1.2)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) TeleManagement Forum 2012. All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published, and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this section are included on all such copies and derivative works. However, this document itself may not be modified in any way, including by removing the copyright notice or references to TM FORUM, except as needed for the purpose of developing any document or deliverable produced by a TM FORUM Collaboration Project Team (in which case the rules applicable to copyrights, as set forth in the TM FORUM IPR Policy, must be followed) or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by TM FORUM or its successors or assigns. 

This document and the information contained herein is provided on an "AS IS" basis and TM FORUM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY OWNERSHIP RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. 


Direct inquiries to the TM Forum office: 
 
240 Headquarters Plaza,
East Tower - 10th Floor,
Morristown, NJ  07960 USA
Tel No.  +1 973 944 5100
Fax No.  +1 973 944 5110
TM Forum Web Page: www.tmforum.org
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf" xmlns:notifications="http://www.tmforum.org/xml/tip/common/notifications" xmlns:entity="http://www.tmforum.org/xml/tip/internal/entity" xmlns:thr="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf/thr" xmlns:base="http://www.tmforum.org/xml/tip/cbe/base" targetNamespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13.0">
   <xsd:annotation>
      <xsd:documentation>
         <pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: SID_Model
                        at version: 13.0
      for all artifacts in package: org.tmforum.tip.cbe.perf
      Model Description:
      Model Project for SID xsd generation
      Package Description:
      
      Package data summary information:
            entities: 2
 Association Classes: 1
           datatypes: 0
        enumerations: 2
              events: 0
          exceptions: 0
      </pre>
      </xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/common/notifications" schemaLocation="common_notifications.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/entity" schemaLocation="internal_entity.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/perf/thr" schemaLocation="sid_org_tmforum_tip_cbe_perf_thr.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/cbe/base" schemaLocation="common_cbe_base.xsd"/><!-- ******************************* --><!-- Package Enumeration definitions --><!-- ******************************* -->
   <xsd:simpleType name="CollectionType">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="Gauge">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "Gauge"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Status_Inspection">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "Status_Inspection"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Cumulative">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "Cumulative"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Delta">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "Delta"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Discrete_Event">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "Discrete_Event"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfCollectionType">
      <xsd:sequence>
         <xsd:element name="item" type="tns:CollectionType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="IndicatorType">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="Int">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "Int"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="String">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "String"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Float">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "Float"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Double">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "Double"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfIndicatorType">
      <xsd:sequence>
         <xsd:element name="item" type="tns:IndicatorType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- **************************** --><!-- Package Datatype definitions --><!-- **************************** --><!-- ************************** --><!-- package Entity definitions --><!-- ************************** -->
   <xsd:element name="performanceIndicator" type="tns:PerformanceIndicator"/>
   <xsd:complexType name="PerformanceIndicator" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>A numerical value or text determined for a PerformanceIndicatorSpecification. For example, a value of .005 ms that represents average packet delay.</p>
            <p>This entity  is  abstract</p>
            <p>This entity  is  optional</p>
            <p>This entity  is  extendable</p>
            <p>This entity   does not generate Object Creation notifications (NA)</p>
            <p>This entity   does not generate Object Deletion notifications (NA)</p>
            <p>This entity   does not generate Object Discovery notifications (NA)</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="value" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A discrete value determined for the PerformanceIndicator.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="performanceConsequence" type="thr:ArrayOfPerformanceConsequence" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="performanceThreshold" type="thr:ArrayOfPerformanceThreshold" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association PerformanceIndicatorMeasuredUsing</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="performanceIndicator" type="tns:ArrayOfPerformanceIndicator" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association PerformanceIndicatorRelationship</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="performanceIndicator1" type="tns:ArrayOfPerformanceIndicator" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association PerformanceIndicatorRelationship</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="performanceIndicatorSpecification" type="entity:EntityIdentifier" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association PerformanceIndicatorSpecDefines</p>
                        <p>This association end  is  passed by id</p>
                        <p>This association end  is  optional</p>
                        <p>This association end  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPerformanceIndicator">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PerformanceIndicator" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="performanceIndicatorGroup" type="tns:PerformanceIndicatorGroup"/>
   <xsd:complexType name="PerformanceIndicatorGroup">
      <xsd:annotation>
         <xsd:documentation>
            <p>A group of indicators (instances), usually reported in the same message by the equipment or the EMS.</p>
            <p>This entity  is  optional</p>
            <p>This entity  is  extendable</p>
            <p>This entity   does not generate Object Creation notifications (NA)</p>
            <p>This entity   does not generate Object Deletion notifications (NA)</p>
            <p>This entity   does not generate Object Discovery notifications (NA)</p>
            <p>This entity generates Attribute Value Change notifications.</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="performanceIndicatorGroupSpecification" type="entity:EntityIdentifier" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association PerformanceIndictorGroupSpecificationDefines</p>
                        <p>This association end  is  passed by id</p>
                        <p>This association end  is  optional</p>
                        <p>This association end  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPerformanceIndicatorGroup">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PerformanceIndicatorGroup" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PerformanceIndicatorGroupAVCN">
      <xsd:complexContent>
         <xsd:extension base="notifications:AVCNotification">
            <xsd:sequence>
               <xsd:element name="performanceIndicatorGroupSpecification" type="entity:EntityIdentifier" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  passed by id</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="performanceIndicatorGroupAVCN" type="tns:PerformanceIndicatorGroupAVCN">
      <xsd:annotation>
         <xsd:documentation>
			   PerformanceIndicatorGroup Attribute Value Change Event. Event that is sent when the attribute values of a(an) PerformanceIndicatorGroup have changed. 
            </xsd:documentation>
      </xsd:annotation>
   </xsd:element><!-- ************************************* --><!-- Package Association Class definitions --><!-- ************************************* -->
   <xsd:element name="performanceIndicatorRelationship" type="tns:PerformanceIndicatorRelationship"/>
   <xsd:complexType name="PerformanceIndicatorRelationship">
      <xsd:annotation>
         <xsd:documentation>
            <p>An association between two PerformanceIndicators, such as one indicator derived from another.</p>
            <p>This association class  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="relationshipType" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>A categorization of the relationship, such as derived from, composite/atomic, and so forth.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dateCreated" type="xsd:date" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>The date the relationship was established.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="validFor" type="base:TimePeriod" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>The period for which a PerformanceIndicatorRelationship applies.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPerformanceIndicatorRelationship">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PerformanceIndicatorRelationship" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- ************************** --><!-- package Event definitions --><!-- ************************** --><!-- ************************** --><!-- package Exception definitions --><!-- ************************** -->
</xsd:schema>