OrderCare/resources/schema/common_cbe_base.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.7.0.201206291233 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company/TIP_Soap_Generator(1.1) (1.1)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) 2010-2012 Members of the TIP Open Source Community

Licensed to Members of the TIP Open Source Community under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
Members of the TIP Open Source Community licences this file to You under the Apache License,
Version 2.0 (the 'License'); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an 'AS IS' BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/tip/cbe/base" targetNamespace="http://www.tmforum.org/xml/tip/cbe/base" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.1">
   <xsd:annotation>
      <xsd:documentation>
         <pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: TIP_Common_Model
                        at version: 1.1
      for all artifacts in package: org.tmforum.tip.cbe.base
      Model Description:
      TIP Framework Common Model
      Package Description:
      
      Package data summary information:
            entities: 0
 Association Classes: 0
           datatypes: 8
        enumerations: 3
              events: 0
          exceptions: 0
      </pre>
      </xsd:documentation>
   </xsd:annotation><!-- ******************************* --><!-- Package Enumeration definitions --><!-- ******************************* -->
   <xsd:simpleType name="DaysOfMonth">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="D_1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_1"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_2">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_2"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_3">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_3"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_4">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_4"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_5">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_5"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_6">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_6"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_7">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_7"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_8">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_8"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_9">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_9"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_10">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_10"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_11">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_11"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_12">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_12"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_13">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_13"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_14">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_14"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_15">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_15"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_16">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_16"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_17">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_17"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_18">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_18"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_19">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_19"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_20">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_20"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_21">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_21"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_22">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_22"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_23">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_23"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_24">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_24"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_25">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_25"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_26">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_26"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_27">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_27"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_28">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_28"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_29">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_29"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_30">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_30"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="D_31">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "D_31"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfDaysOfMonth">
      <xsd:sequence>
         <xsd:element name="item" type="tns:DaysOfMonth" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="DaysOfWeek">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="Sunday">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "Sunday"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Monday">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "Monday"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Tuesday">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "Tuesday"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Wednesday">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "Wednesday"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Thursday">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "Thursday"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Friday">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "Friday"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Saturday">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "Saturday"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfDaysOfWeek">
      <xsd:sequence>
         <xsd:element name="item" type="tns:DaysOfWeek" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="RecurrentInterval">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="RI_1MN">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "RI_1MN"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="RI_5MN">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "RI_5MN"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="RI_15MN">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "RI_15MN"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="RI_30MN">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "RI_30MN"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="RI_1H">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "RI_1H"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="RI_24H">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "RI_24H"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="RI_1M">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "RI_1M"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="NA">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value "NA"</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfRecurrentInterval">
      <xsd:sequence>
         <xsd:element name="item" type="tns:RecurrentInterval" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- **************************** --><!-- Package Datatype definitions --><!-- **************************** -->
   <xsd:element name="attributeValuePair" type="tns:AttributeValuePair"/>
   <xsd:complexType name="AttributeValuePair">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
            <p>This datatype  is  not extendable</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="attributeName" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="attributeValue" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfAttributeValuePair">
      <xsd:sequence>
         <xsd:element name="item" type="tns:AttributeValuePair" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="costRate" type="tns:CostRate"/>
   <xsd:complexType name="CostRate">
      <xsd:annotation>
         <xsd:documentation>
            <p>A base / value business entity used to represent a cost per time unit. e.g. $10/hr, 33 pence/min</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="numerator" type="tns:Money" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="denominator" type="tns:Duration" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfCostRate">
      <xsd:sequence>
         <xsd:element name="item" type="tns:CostRate" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="duration" type="tns:Duration"/>
   <xsd:complexType name="Duration" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>A base / value business entity used to represent a length of time.Duration is a type of Quantity</p>
            <p>This datatype  is  abstract</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="units" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="amount" type="xsd:long" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfDuration">
      <xsd:sequence>
         <xsd:element name="item" type="tns:Duration" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="money" type="tns:Money"/>
   <xsd:complexType name="Money">
      <xsd:annotation>
         <xsd:documentation>
            <p>A base / value business entity used to represent money</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="units" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>Currency.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="amount" type="xsd:long" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>A positive floating point number.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfMoney">
      <xsd:sequence>
         <xsd:element name="item" type="tns:Money" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="quantity" type="tns:Quantity"/>
   <xsd:complexType name="Quantity" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>A base / value business entity used to represent measurements.</p>
            <p>This datatype  is  abstract</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="units" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>The unit of measure for the quantity, such as meters, cubic yards, kilograms [ISO 1000].</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="amount" type="xsd:long" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfQuantity">
      <xsd:sequence>
         <xsd:element name="item" type="tns:Quantity" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="range" type="tns:Range"/>
   <xsd:complexType name="Range" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
            <p>This datatype  is  abstract</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="lowerValue" type="tns:Quantity" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="upperValue" type="tns:Quantity" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfRange">
      <xsd:sequence>
         <xsd:element name="item" type="tns:Range" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="rate" type="tns:Rate"/>
   <xsd:complexType name="Rate" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>A base / value business entity used to represent the change in one quantity in terms of another</p>
            <p>This datatype  is  abstract</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="numerator" type="tns:Quantity" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="denominator" type="tns:Quantity" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfRate">
      <xsd:sequence>
         <xsd:element name="item" type="tns:Rate" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="timePeriod" type="tns:TimePeriod"/>
   <xsd:complexType name="TimePeriod">
      <xsd:annotation>
         <xsd:documentation>
            <p>A base / value business entity used to represent a period of time, between two timepoints</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="startDateTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An instant of time, starting at the TimePeriod</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="endDateTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>An instant of time, ending at the TimePeriod</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfTimePeriod">
      <xsd:sequence>
         <xsd:element name="item" type="tns:TimePeriod" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- ************************** --><!-- package Entity definitions --><!-- ************************** --><!-- ************************************* --><!-- Package Association Class definitions --><!-- ************************************* --><!-- ************************** --><!-- package Event definitions --><!-- ************************** --><!-- ************************** --><!-- package Exception definitions --><!-- ************************** -->
</xsd:schema>