OrderCare/resources/schema/OCS_Configuration_Operation_ETL_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			xmlns:etl="http://www.telefonica.com/schemas/SOAP/cw_etltool/_import" 
            xmlns:oo="http://www.telefonica.com/schemas/SOAP/OCSOperation/v1/types" 
			xmlns:oe="http://www.telefonica.com/schemas/SOAP/OCSEntity/v1/types" 
			targetNamespace="http://www.telefonica.com/schemas/SOAP/cw_etltool/_import" elementFormDefault="qualified">
	<xsd:import namespace="http://www.telefonica.com/schemas/SOAP/OCSOperation/v1/types" schemaLocation="OCS_Operation_v1.xsd"/>
	<xsd:import namespace="http://www.telefonica.com/schemas/SOAP/OCSEntity/v1/types" schemaLocation="OCS_Entity_v1.xsd"/>
	<xsd:element name="CreateEntity" type="etl:CreateEntityType"/>
	<xsd:complexType name="CreateEntityType">
		<xsd:sequence>
			<xsd:element name="actionCommonInfo" type="oo:ActionCommonInfoType"/>
			<xsd:element name="oCSEntityList" type="oe:ArrayOfOCSEntityType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DeleteEntity" type="etl:DeleteEntityType"/>
	<xsd:complexType name="DeleteEntityType">
		<xsd:sequence>
			<xsd:element name="actionCommonInfo" type="oo:ActionCommonInfoType"/>
			<xsd:element name="oCSEntityList" type="oe:ArrayOfOCSEntityType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ChangeEntity" type="etl:ChangeEntityType"/>
	<xsd:complexType name="ChangeEntityType">
		<xsd:sequence>
			<xsd:element name="actionCommonInfo" type="oo:ActionCommonInfoType"/>
			<xsd:element name="oCSEntityList" type="oe:ArrayOfOCSEntityType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema> 
