OrderCare/resources/schema/sid_org_tmforum_tip_resource_res_tip_nra.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.7.0.201207021234 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company, Optare Solutions/TIP_Soap_Generator(1.2) (1.2)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) TeleManagement Forum 2012. All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published, and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this section are included on all such copies and derivative works. However, this document itself may not be modified in any way, including by removing the copyright notice or references to TM FORUM, except as needed for the purpose of developing any document or deliverable produced by a TM FORUM Collaboration Project Team (in which case the rules applicable to copyrights, as set forth in the TM FORUM IPR Policy, must be followed) or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by TM FORUM or its successors or assigns. 

This document and the information contained herein is provided on an "AS IS" basis and TM FORUM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY OWNERSHIP RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. 


Direct inquiries to the TM Forum office: 
 
240 Headquarters Plaza,
East Tower - 10th Floor,
Morristown, NJ  07960 USA
Tel No.  +1 973 944 5100
Fax No.  +1 973 944 5110
TM Forum Web Page: www.tmforum.org
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/tip/nra" targetNamespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/tip/nra" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13.0">
   <xsd:annotation>
      <xsd:documentation>
         <pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: SID_Model
                        at version: 13.0
      for all artifacts in package: org.tmforum.tip.resource.res.tip.nra
      Model Description:
      Model Project for SID xsd generation
      Package Description:
      
      Package data summary information:
            entities: 0
 Association Classes: 0
           datatypes: 1
        enumerations: 3
              events: 0
          exceptions: 0
      </pre>
      </xsd:documentation>
   </xsd:annotation><!-- ******************************* --><!-- Package Enumeration definitions --><!-- ******************************* -->
   <xsd:simpleType name="AlarmStatus">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="0">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value 0</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="5">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value 5</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="6">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value 6</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="2">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value 2</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="4">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value 4</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="3">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value 3</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value 1</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfAlarmStatus">
      <xsd:sequence>
         <xsd:element name="item" type="tns:AlarmStatus" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="ArcQIStatus">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="0">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value 0</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="2">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value 2</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value 1</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfArcQIStatus">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ArcQIStatus" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="ArcState">
      <xsd:annotation>
         <xsd:documentation>
            <p/>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="0">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value 0</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value 1</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="2">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value 2</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="3">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This literal  has  value 3</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ArrayOfArcState">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ArcState" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- **************************** --><!-- Package Datatype definitions --><!-- **************************** -->
   <xsd:element name="ituArcStateAndStatusList" type="tns:ItuArcStateAndStatusList"/>
   <xsd:complexType name="ItuArcStateAndStatusList">
      <xsd:annotation>
         <xsd:documentation>
            <p>This data type contains a list of ITU Alarm Reporting Control (ARC) states and statuses. Each element of the list identifies a state or status and provides its relevant value.
See R_TMF518_NRB_I_0004.</p>
            <p>This datatype  is  not extendable</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="m3100_ALARM_STATUS" type="tns:AlarmStatus" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="m3100_ARC_QI_STATUS" type="tns:ArcQIStatus" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="m3100_ARC_STATE" type="tns:ArcState" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="m3100_NALM_QI_INTERVAL" type="xsd:int" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>This attribute contains the No ALarM reporting Qualified Inhibit interval. Alarm Reporting is turned off until the managed entity is qualified problem-free for a specified persistence interval.
Values between 0 and 5940 are allowed which identify an interval between 0 and 99 hours with a one-minute granularity. The value "0" indicates that the timer is not running (i.e. no adjustments in time taking place).
See ITU-T Recommendation M.3100.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="m3100_NALM_TI_INTERVAL" type="xsd:int" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>Thia attribute contains the No ALarM reporting Timed Inhibit interval. Alarm Reporting is turned off for a specified timed interval.
Values between 0 and 5940 are allowed which identify an interval between 0 and 99 hours with a one-minute granularity. The value "0" indicates that the timer is not running (i.e. no adjustments in time taking place).
See ITU-T Recommendation M.3100.</p>
                  <p>This element is generated from an attribute.</p>
                  <p>This attribute  is  optional</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfItuArcStateAndStatusList">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ItuArcStateAndStatusList" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- ************************** --><!-- package Entity definitions --><!-- ************************** --><!-- ************************************* --><!-- Package Association Class definitions --><!-- ************************************* --><!-- ************************** --><!-- package Event definitions --><!-- ************************** --><!-- ************************** --><!-- package Exception definitions --><!-- ************************** -->
</xsd:schema>