OrderCare/resources/schema/sid_org_tmforum_tip_resource_res_compound.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.7.0.201207021234 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company, Optare Solutions/TIP_Soap_Generator(1.2) (1.2)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) TeleManagement Forum 2012. All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published, and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this section are included on all such copies and derivative works. However, this document itself may not be modified in any way, including by removing the copyright notice or references to TM FORUM, except as needed for the purpose of developing any document or deliverable produced by a TM FORUM Collaboration Project Team (in which case the rules applicable to copyrights, as set forth in the TM FORUM IPR Policy, must be followed) or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by TM FORUM or its successors or assigns. 

This document and the information contained herein is provided on an "AS IS" basis and TM FORUM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY OWNERSHIP RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. 


Direct inquiries to the TM Forum office: 
 
240 Headquarters Plaza,
East Tower - 10th Floor,
Morristown, NJ  07960 USA
Tel No.  +1 973 944 5100
Fax No.  +1 973 944 5110
TM Forum Web Page: www.tmforum.org
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/compound" xmlns:cpd="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/spec/cpd" xmlns:tp="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/log/trans/tp" xmlns:vnrole="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/vnrole" xmlns:entity="http://www.tmforum.org/xml/tip/internal/entity" xmlns:hw="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/phy/hw" xmlns:network="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/log/network" targetNamespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/compound" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13.0">
   <xsd:annotation>
      <xsd:documentation>
         <pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: SID_Model
                        at version: 13.0
      for all artifacts in package: org.tmforum.tip.resource.res.compound
      Model Description:
      Model Project for SID xsd generation
      Package Description:
      The Resource ABE contains entities that are used to represent the various aspects of a Resource.

CompoundResource is a set of entities that shows how to aggregate PhysicalResources and LogicalResources into aggregate entities that has physical and logical characteristics and behavior. This enables designers to represent Resources that have physical and logical characteristics and behavior as a single entity.
      Package data summary information:
            entities: 8
 Association Classes: 0
           datatypes: 0
        enumerations: 0
              events: 0
          exceptions: 0
      </pre>
      </xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/spec/cpd" schemaLocation="sid_org_tmforum_tip_resource_spec_cpd.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/log/trans/tp" schemaLocation="sid_org_tmforum_tip_resource_res_log_trans_tp.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/vnrole" schemaLocation="sid_org_tmforum_tip_resource_res_vnrole.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/entity" schemaLocation="internal_entity.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/phy/hw" schemaLocation="sid_org_tmforum_tip_resource_res_phy_hw.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/log/network" schemaLocation="sid_org_tmforum_tip_resource_res_log_network.xsd"/><!-- ******************************* --><!-- Package Enumeration definitions --><!-- ******************************* --><!-- **************************** --><!-- Package Datatype definitions --><!-- **************************** --><!-- ************************** --><!-- package Entity definitions --><!-- ************************** -->
   <xsd:element name="compoundAspectCompoundResourceDetails" type="tns:CompoundAspectCompoundResourceDetails"/>
   <xsd:complexType name="CompoundAspectCompoundResourceDetails">
      <xsd:annotation>
         <xsd:documentation>
            <p>This class is a concrete class that defines the semantics of aggregating CompoundResources into a CompoundResource using the CompoundResourceAspects aggregation.

In the DEN-ng system view, OCL is used to mandate the presence of at least one PhysicalResource and at least one LogicalResource. The aggregation of CompoundResources are optional.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfCompoundAspectCompoundResourceDetails">
      <xsd:sequence>
         <xsd:element name="item" type="tns:CompoundAspectCompoundResourceDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="compoundResource" type="tns:CompoundResource"/>
   <xsd:complexType name="CompoundResource" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is the abstract base class for all composite entities that are inherently manageable and make up a Product. The key difference between Resource and CompoundResource is that Resource describes either a Physical or a Logical entity (through its PhysicalResource and LogicalResource hierarchies). In contrast, CompoundResource is used to describe managed entities that are collections of other managed entities. A key point is that each managed entity that is part of a CompoundResource can be individually managed as either a PhysicalResource or a LogicalResource.</p>
            <p>This entity  is  abstract</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="resourceCollection" type="tns:ResourceCollection" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation shared</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association HasCompoundResources</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="networkDomain" type="network:ArrayOfNetworkDomain" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association ScopesCompoundResource</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="compoundResourceRole" type="tns:ArrayOfCompoundResourceRole" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association RolesDescribeCompoundResourceDetails</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfCompoundResource">
      <xsd:sequence>
         <xsd:element name="item" type="tns:CompoundResource" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="compoundResourceRole" type="tns:CompoundResourceRole"/>
   <xsd:complexType name="CompoundResourceRole">
      <xsd:annotation>
         <xsd:documentation>
            <p>A CompoundResourceRole is a role that is defined by the interaction between PhysicalResourceRoles and LogicalResourceRoles. There must be at least one or more PhysicalResourceRoles and one or more LogicalResourceRoles to form a CompoundResourceRole. However, neither a PhysicalResourceRole nor a LogicalResourceRole has to belong to a CompoundResourceRole.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="_compoundResourceSpec" type="cpd:CompoundResourceSpec" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="resourceRole" type="vnrole:ArrayOfResourceRole" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association HasResourceRoles</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="compoundResource" type="tns:CompoundResource" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation shared</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association RolesDescribeCompoundResourceDetails</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="compoundresourcespec" type="cpd:CompoundResourceSpec" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation shared</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SpecifiesCompoundResourceRoles</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfCompoundResourceRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:CompoundResourceRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="logicalAspectCompoundResourceDetails" type="tns:LogicalAspectCompoundResourceDetails"/>
   <xsd:complexType name="LogicalAspectCompoundResourceDetails">
      <xsd:annotation>
         <xsd:documentation>
            <p>This class is a concrete class that defines the semantics of aggregating LogcalResources into a CompoundResource using the CompoundResourceAspects aggregation.

In the DEN-ng system view, OCL is used to mandate the presence of at least one PhysicalResource and at least one LogicalResource. The aggregation of CompoundResources are optional.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfLogicalAspectCompoundResourceDetails">
      <xsd:sequence>
         <xsd:element name="item" type="tns:LogicalAspectCompoundResourceDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="physicalAspectCompoundResourceDetails" type="tns:PhysicalAspectCompoundResourceDetails"/>
   <xsd:complexType name="PhysicalAspectCompoundResourceDetails">
      <xsd:annotation>
         <xsd:documentation>
            <p>This class is a concrete class that defines the semantics of aggregating PhysicalResources into a CompoundResource using the CompoundResourceAspects aggregation.

In the DEN-ng system view, OCL is used to mandate the presence of at least one PhysicalResource and at least one LogicalResource. The aggregation of CompoundResources are optional.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPhysicalAspectCompoundResourceDetails">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PhysicalAspectCompoundResourceDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="resourceCollection" type="tns:ResourceCollection"/>
   <xsd:complexType name="ResourceCollection" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>A ResourceCollection is an entity that is individually manageable. It is an aggregate entity consisting of ResourceElement and optionally ResourceCollection entities. As such, a ResourceCollection represents a set of PhysicalResources and LogicalResources that collectively represent a managed entity.

For example, a Network is a subclass of ResourceCollection. A Network can be made up of other Networks and/or SubNetworks (the latter is defined in the ITU-T's G.805 Recommendation). Each Network or SubNetwork can, in the DEN-ng model, be made up of physical and logical components, gathered together and represented by a ResourceCollection. Each node in the network can be represented by a ResourceElement. The HasCompoundResources aggregation enables a ResourceCollection to aggregate ResourceElements and optionally ResourceCollections as well.</p>
            <p>This entity  is  abstract</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="compoundResource" type="tns:ArrayOfCompoundResource" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..*</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association HasCompoundResources</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfResourceCollection">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ResourceCollection" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="resourceElement" type="tns:ResourceElement"/>
   <xsd:complexType name="ResourceElement" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>A ResourceElement is an entity that is individually manageable. It is an aggregate entity consisting of both physical and logical aspects of a managed resource. For example, a Router is a ResourceElement. Different PhysicalResource objects can model the physical aspects of the Router in detail (e.g., its Cards, the number and type of PhysicalPorts that are on each Card, and so forth), and different LogicalResource objects can model the logical aspects of the Router in detail (e.g., what Software it is running, how many DeviceInterfaces of what type are currently enabled, if there are any outstanding Faults or Alarms, and so forth). ReourceElement aggregates all PhysicalResource and LogicalResource objects, enabling a high-level view of the physical and logical aspects of the Resource to be provided.</p>
            <p>This entity  is  abstract</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfResourceElement">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ResourceElement" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="resourcePort" type="tns:ResourcePort"/>
   <xsd:complexType name="ResourcePort">
      <xsd:annotation>
         <xsd:documentation>
            <p>The ResourcePort class was defined in DEN-ng because many of the ITU and IETF specifications refer to a "port", but use this as both a physical as well as a logical concept. This will enable the semantics of the ITU and IETF specifications to be correctly mined and used in the DEN-ng specification.

The ResourcePort class abstracts the concept of a set of Ports from G.805, and is a type of ResourceElement that consists only of logical termination points (TrailTerminationPointSource, TrailTerminationPointSink, and TrailTerminationPointBiDirectional, to be precise) and PhysicalPorts. This enables the ResourcePort to take on the physical and logical characteristics of a "port" as defined in G.805.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="isEdgeResourcePort" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>This is a Boolean attribute. If the value of this attribute is TRUE, then this ResourcePort is located at the edge of a Network or SubNetwork.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="terminationPoint" type="tp:ArrayOfTerminationPoint" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..*</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association TPAspectCompoundResourceDetails</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="physicalPort" type="hw:ArrayOfPhysicalPort" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..*</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association PPortAspectCompoundResourceDetails</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfResourcePort">
      <xsd:sequence>
         <xsd:element name="item" type="tns:ResourcePort" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- ************************************* --><!-- Package Association Class definitions --><!-- ************************************* --><!-- ************************** --><!-- package Event definitions --><!-- ************************** --><!-- ************************** --><!-- package Exception definitions --><!-- ************************** -->
</xsd:schema>