OrderCare/resources/schema/sid_org_tmforum_tip_cbe_agreement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 *  Generated with Tigerstripe Workbench 0.7.0.201207021234 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company, Optare Solutions/TIP_Soap_Generator(1.2) (1.2)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
-->
<!--
Copyright (C) TeleManagement Forum 2012. All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published, and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this section are included on all such copies and derivative works. However, this document itself may not be modified in any way, including by removing the copyright notice or references to TM FORUM, except as needed for the purpose of developing any document or deliverable produced by a TM FORUM Collaboration Project Team (in which case the rules applicable to copyrights, as set forth in the TM FORUM IPR Policy, must be followed) or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by TM FORUM or its successors or assigns. 

This document and the information contained herein is provided on an "AS IS" basis and TM FORUM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY OWNERSHIP RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. 


Direct inquiries to the TM Forum office: 
 
240 Headquarters Plaza,
East Tower - 10th Floor,
Morristown, NJ  07960 USA
Tel No.  +1 973 944 5100
Fax No.  +1 973 944 5110
TM Forum Web Page: www.tmforum.org
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/agreement" xmlns:time="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/time" xmlns:offer="http://www.tmforum.org/xml/sid/org/tmforum/tip/product/offer" xmlns:bi="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/bi" xmlns:sls="http://www.tmforum.org/xml/sid/org/tmforum/tip/service/perf/sls" xmlns:entity="http://www.tmforum.org/xml/tip/internal/entity" xmlns:base="http://www.tmforum.org/xml/tip/cbe/base" targetNamespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/agreement" elementFormDefault="qualified" attributeFormDefault="unqualified" version="13.0">

	<xsd:annotation>
		<xsd:documentation>
			<pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: SID_Model
                        at version: 13.0
      for all artifacts in package: org.tmforum.tip.cbe.agreement
      Model Description:
      Model Project for SID xsd generation
      Package Description:
      
      Package data summary information:
            entities: 7
 Association Classes: 0
           datatypes: 0
        enumerations: 0
              events: 0
          exceptions: 0
      </pre>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/time" schemaLocation="sid_org_tmforum_tip_cbe_time.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/product/offer" schemaLocation="sid_org_tmforum_tip_product_offer.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/cbe/bi" schemaLocation="sid_org_tmforum_tip_cbe_bi.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/service/perf/sls" schemaLocation="sid_org_tmforum_tip_service_perf_sls.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/xml/tip/internal/entity" schemaLocation="internal_entity.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/xml/tip/cbe/base" schemaLocation="common_cbe_base.xsd"/>
	<!-- ******************************* -->
	<!-- Package Enumeration definitions -->
	<!-- ******************************* -->
	<!-- **************************** -->
	<!-- Package Datatype definitions -->
	<!-- **************************** -->
	<!-- ************************** -->
	<!-- package Entity definitions -->
	<!-- ************************** -->
	<xsd:element name="agreement" type="tns:Agreement"/>
	<xsd:complexType name="Agreement">
		<xsd:annotation>
			<xsd:documentation>
				<p>A type of BusinessInteraction that represents a contract or arrangement, either written or verbal and sometimes enforceable by law.</p>
				<p>This entity  is  optional</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="entity:EntityBase">
				<xsd:sequence>
					<xsd:element name="agreementDocumentNumber" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p>A reference number assigned to an Agreement that follows a prescribed numbering system.</p>
								<p>This element is generated from an attribute.</p>
								<p>This attribute  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="agreementStatementOfIntent" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p>An overview and goals of the Agreement.</p>
								<p>This element is generated from an attribute.</p>
								<p>This attribute  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="agreementPeriod" type="base:TimePeriod" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p>The time period during which the Agreement is in effect.</p>
								<p>This element is generated from an attribute.</p>
								<p>This attribute  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="agreementApproval" type="tns:ArrayOfAgreementApproval" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p/>
								<p>This element is generated from an association end.</p>
								<p>This association end  has  multiplicity *</p>
								<p>This association end  has  aggregation none</p>
								<p>This association end  is  navigable</p>
								<p>This association end  is  an end of association AgreementAcceptedVia</p>
								<p>This association end  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="agreementItem" type="tns:ArrayOfAgreementItem" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p/>
								<p>This element is generated from an association end.</p>
								<p>This association end  has  multiplicity *</p>
								<p>This association end  has  aggregation none</p>
								<p>This association end  is  navigable</p>
								<p>This association end  is  an end of association AgreementConsistsOf</p>
								<p>This association end  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="agreementTermOrCondition" type="tns:ArrayOfAgreementTermOrCondition" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p/>
								<p>This element is generated from an association end.</p>
								<p>This association end  has  multiplicity *</p>
								<p>This association end  has  aggregation none</p>
								<p>This association end  is  navigable</p>
								<p>This association end  is  an end of association AgreementGovernedBy</p>
								<p>This association end  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="appointment" type="time:ArrayOfAppointment" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p/>
								<p>This element is generated from an association end.</p>
								<p>This association end  has  multiplicity *</p>
								<p>This association end  has  aggregation none</p>
								<p>This association end  is  navigable</p>
								<p>This association end  is  unique</p>
								<p>This association end  is  an end of association AgreementResultsIn</p>
								<p>This association end  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfAgreement">
		<xsd:sequence>
			<xsd:element name="item" type="tns:Agreement" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="agreementApproval" type="tns:AgreementApproval"/>
	<xsd:complexType name="AgreementApproval">
		<xsd:annotation>
			<xsd:documentation>
				<p>A group of AgreementAuthorizations required from the BusinessParticipants involved in the Agreement.</p>
				<p>This entity  is  optional</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="entity:EntityBase">
				<xsd:sequence>
					<xsd:element name="agreement" type="tns:Agreement" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p/>
								<p>This element is generated from an association end.</p>
								<p>This association end  has  multiplicity 0..1</p>
								<p>This association end  has  aggregation shared</p>
								<p>This association end  is  navigable</p>
								<p>This association end  is  an end of association AgreementAcceptedVia</p>
								<p>This association end  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="agreementAuthorization" type="tns:ArrayOfAgreementAuthorization" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p/>
								<p>This element is generated from an association end.</p>
								<p>This association end  has  multiplicity *</p>
								<p>This association end  has  aggregation none</p>
								<p>This association end  is  navigable</p>
								<p>This association end  is  an end of association AgreementApprovalRepresentedBy</p>
								<p>This association end  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfAgreementApproval">
		<xsd:sequence>
			<xsd:element name="item" type="tns:AgreementApproval" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="agreementAuthorization" type="tns:AgreementAuthorization"/>
	<xsd:complexType name="AgreementAuthorization">
		<xsd:annotation>
			<xsd:documentation>
				<p>BusinessParticpant responsible for approving an Agreement.</p>
				<p>This entity  is  optional</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="entity:EntityBase">
				<xsd:sequence>
					<xsd:element name="agreementAuthorizationState" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p>Current status of the authorization, for example in process, approved, rejected.</p>
								<p>This element is generated from an attribute.</p>
								<p>This attribute  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="agreementAuthorizationDate" type="base:TimePeriod" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p>The date associated with the status.</p>
								<p>This element is generated from an attribute.</p>
								<p>This attribute  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="agreementSignatureRepresentation" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p>Indication that represents whether the signature is a physical paper signature or a digital signature.</p>
								<p>This element is generated from an attribute.</p>
								<p>This attribute  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="agreementApproval" type="tns:AgreementApproval" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p/>
								<p>This element is generated from an association end.</p>
								<p>This association end  has  multiplicity 0..1</p>
								<p>This association end  has  aggregation shared</p>
								<p>This association end  is  navigable</p>
								<p>This association end  is  an end of association AgreementApprovalRepresentedBy</p>
								<p>This association end  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="businessInteractionRole" type="bi:BusinessInteractionRole" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p/>
								<p>This element is generated from an association end.</p>
								<p>This association end  has  multiplicity 0..1</p>
								<p>This association end  has  aggregation none</p>
								<p>This association end  is  navigable</p>
								<p>This association end  is  an end of association AgreementAuthorizationSignedBy</p>
								<p>This association end  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfAgreementAuthorization">
		<xsd:sequence>
			<xsd:element name="item" type="tns:AgreementAuthorization" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="agreementItem" type="tns:AgreementItem"/>
	<xsd:complexType name="AgreementItem">
		<xsd:annotation>
			<xsd:documentation>
				<p>The purpose for an Agreement expressed in terms of a Product, Service, Resource, and/or their respective specifications, inherited from BusinessInteractionItem.</p>
				<p>This entity  is  optional</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="entity:EntityBase">
				<xsd:sequence>
					<xsd:element name="agreement" type="tns:Agreement" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p/>
								<p>This element is generated from an association end.</p>
								<p>This association end  has  multiplicity 0..1</p>
								<p>This association end  has  aggregation shared</p>
								<p>This association end  is  navigable</p>
								<p>This association end  is  an end of association AgreementConsistsOf</p>
								<p>This association end  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="agreementTermOrCondition" type="tns:ArrayOfAgreementTermOrCondition" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p/>
								<p>This element is generated from an association end.</p>
								<p>This association end  has  multiplicity *</p>
								<p>This association end  has  aggregation none</p>
								<p>This association end  is  navigable</p>
								<p>This association end  is  an end of association AgreementItemGovernedBy</p>
								<p>This association end  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfAgreementItem">
		<xsd:sequence>
			<xsd:element name="item" type="tns:AgreementItem" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="agreementTermOrCondition" type="tns:AgreementTermOrCondition"/>
	<xsd:complexType name="AgreementTermOrCondition">
		<xsd:annotation>
			<xsd:documentation>
				<p>Aspects of the Agreement not formally specified elsewhere in the Agreement and that cannot be captured elsewhere in a formal notation, or automatically monitored and require a more human level of management.</p>
				<p>This entity  is  optional</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="entity:EntityBase">
				<xsd:sequence>
					<xsd:element name="term_conditionNumber" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p>Unique number assigned for reference.</p>
								<p>This element is generated from an attribute.</p>
								<p>This attribute  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="description" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p>Text that explains the AgreementTermOrCondition.</p>
								<p>This element is generated from an attribute.</p>
								<p>This attribute  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="validFor" type="base:TimePeriod" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p>The period of time during which the AgreementTermOrCondition applies.</p>
								<p>This element is generated from an attribute.</p>
								<p>This attribute  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="agreement" type="tns:Agreement" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p/>
								<p>This element is generated from an association end.</p>
								<p>This association end  has  multiplicity 0..1</p>
								<p>This association end  has  aggregation shared</p>
								<p>This association end  is  navigable</p>
								<p>This association end  is  an end of association AgreementGovernedBy</p>
								<p>This association end  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="agreementItem" type="tns:ArrayOfAgreementItem" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p/>
								<p>This element is generated from an association end.</p>
								<p>This association end  has  multiplicity *</p>
								<p>This association end  has  aggregation none</p>
								<p>This association end  is  navigable</p>
								<p>This association end  is  an end of association AgreementItemGovernedBy</p>
								<p>This association end  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="productOfferingTerm" type="offer:ArrayOfProductOfferingTerm" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p/>
								<p>This element is generated from an association end.</p>
								<p>This association end  has  multiplicity *</p>
								<p>This association end  has  aggregation none</p>
								<p>This association end  is  navigable</p>
								<p>This association end  is  unique</p>
								<p>This association end  is  an end of association ProductTermAppearsAs</p>
								<p>This association end  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfAgreementTermOrCondition">
		<xsd:sequence>
			<xsd:element name="item" type="tns:AgreementTermOrCondition" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="serviceLevelAgreement" type="tns:ServiceLevelAgreement"/>
	<xsd:complexType name="ServiceLevelAgreement">
		<xsd:annotation>
			<xsd:documentation>
				<p>A service level agreement (SLA) is a type of agreement that represents a formal negotiated agreement between two parties designed to create a common understanding about products, services, priorities, responsibilities, and so forth. The SLA is a set of appropriate procedures and targets formally or informally agreed between parties in order to achieve and maintain specified Quality of Service.</p>
				<p>This entity  is  optional</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="entity:EntityBase">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfServiceLevelAgreement">
		<xsd:sequence>
			<xsd:element name="item" type="tns:ServiceLevelAgreement" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="serviceLevelAgreementItem" type="tns:ServiceLevelAgreementItem"/>
	<xsd:complexType name="ServiceLevelAgreementItem">
		<xsd:annotation>
			<xsd:documentation>
				<p>The purpose for a ServiceLevelAgreement expressed in terms of a Product, Service, Resource, and/or their respective specifications, inherited from BusinessInteractionItem and in terms of ServiceLevelSpecification(s).</p>
				<p>This entity  is  optional</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="entity:EntityBase">
				<xsd:sequence>
					<xsd:element name="serviceLevelSpecification" type="sls:ArrayOfServiceLevelSpecification" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<p/>
								<p>This element is generated from an association end.</p>
								<p>This association end  has  multiplicity *</p>
								<p>This association end  has  aggregation none</p>
								<p>This association end  is  navigable</p>
								<p>This association end  is  an end of association ServLevelAgreementItemQualityMeasuredUsing</p>
								<p>This association end  is  optional</p>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfServiceLevelAgreementItem">
		<xsd:sequence>
			<xsd:element name="item" type="tns:ServiceLevelAgreementItem" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ************************************* -->
	<!-- Package Association Class definitions -->
	<!-- ************************************* -->
	<!-- ************************** -->
	<!-- package Event definitions -->
	<!-- ************************** -->
	<!-- ************************** -->
	<!-- package Exception definitions -->
	<!-- ************************** -->
</xsd:schema>
