OrderCare/resources/schema/sid_org_tmforum_tip_resource_res_log_role.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.7.0.201207021234 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company, Optare Solutions/TIP_Soap_Generator(1.2) (1.2)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) TeleManagement Forum 2012. All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published, and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this section are included on all such copies and derivative works. However, this document itself may not be modified in any way, including by removing the copyright notice or references to TM FORUM, except as needed for the purpose of developing any document or deliverable produced by a TM FORUM Collaboration Project Team (in which case the rules applicable to copyrights, as set forth in the TM FORUM IPR Policy, must be followed) or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by TM FORUM or its successors or assigns. 

This document and the information contained herein is provided on an "AS IS" basis and TM FORUM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY OWNERSHIP RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. 


Direct inquiries to the TM Forum office: 
 
240 Headquarters Plaza,
East Tower - 10th Floor,
Morristown, NJ  07960 USA
Tel No.  +1 973 944 5100
Fax No.  +1 973 944 5110
TM Forum Web Page: www.tmforum.org
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/log/role" xmlns:itf="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/log/itf" xmlns:serv="http://www.tmforum.org/xml/sid/org/tmforum/tip/service/serv" xmlns:log="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/spec/log" xmlns:role1="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/spec/log/role" xmlns:role="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/phy/role" xmlns:entity="http://www.tmforum.org/xml/tip/internal/entity" targetNamespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/log/role" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13.0">
   <xsd:annotation>
      <xsd:documentation>
         <pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: SID_Model
                        at version: 13.0
      for all artifacts in package: org.tmforum.tip.resource.res.log.role
      Model Description:
      Model Project for SID xsd generation
      Package Description:
      
      Package data summary information:
            entities: 15
 Association Classes: 0
           datatypes: 0
        enumerations: 0
              events: 0
          exceptions: 0
      </pre>
      </xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/log/itf" schemaLocation="sid_org_tmforum_tip_resource_res_log_itf.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/service/serv" schemaLocation="sid_org_tmforum_tip_service_serv.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/spec/log" schemaLocation="sid_org_tmforum_tip_resource_spec_log.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/spec/log/role" schemaLocation="sid_org_tmforum_tip_resource_spec_log_role.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/resource/res/phy/role" schemaLocation="sid_org_tmforum_tip_resource_res_phy_role.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/entity" schemaLocation="internal_entity.xsd"/><!-- ******************************* --><!-- Package Enumeration definitions --><!-- ******************************* --><!-- **************************** --><!-- Package Datatype definitions --><!-- **************************** --><!-- ************************** --><!-- package Entity definitions --><!-- ************************** -->
   <xsd:element name="aggregationInterface" type="tns:AggregationInterface"/>
   <xsd:complexType name="AggregationInterface">
      <xsd:annotation>
         <xsd:documentation>
            <p>This role defines a DeviceInterface that functions as an AggregationInterface - that is, an interface on the aggregation portion of the network. The objective of this role is to enable the definition of Policies such that all AggregationInterfaces in a particular Domain can receive the same common configuration commands.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfAggregationInterface">
      <xsd:sequence>
         <xsd:element name="item" type="tns:AggregationInterface" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="cPELogicalDeviceRole" type="tns:CPELogicalDeviceRole"/>
   <xsd:complexType name="CPELogicalDeviceRole">
      <xsd:annotation>
         <xsd:documentation>
            <p>This class defines required logical features to implement the specific role of a CPE (Customer Premise Edge) device, as used in a Product or Service.

Please see the DEN-ng Resource model for more details.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfCPELogicalDeviceRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:CPELogicalDeviceRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="coreInterface" type="tns:CoreInterface"/>
   <xsd:complexType name="CoreInterface">
      <xsd:annotation>
         <xsd:documentation>
            <p>This role defines a DeviceInterface that functions as an CoreInterface - that is, an interface in the core of the network. The objective of this role is to enable the definition of Policies such that all CoreInterfaces in a particular Domain can receive the same common configuration commands.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfCoreInterface">
      <xsd:sequence>
         <xsd:element name="item" type="tns:CoreInterface" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="deviceInterfaceRole" type="tns:DeviceInterfaceRole"/>
   <xsd:complexType name="DeviceInterfaceRole" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is a base class for representing different types of roles that can be associated with a particular DeviceInterface.</p>
            <p>This entity  is  abstract</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="logicalDeviceRole" type="tns:ArrayOfLogicalDeviceRole" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation shared</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association LogicalDeviceUsesInterfaceRoles</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="deviceInterface" type="itf:DeviceInterface" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation shared</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association DeviceInterfaceTakesOn</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfDeviceInterfaceRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:DeviceInterfaceRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="edgeInterface" type="tns:EdgeInterface"/>
   <xsd:complexType name="EdgeInterface">
      <xsd:annotation>
         <xsd:documentation>
            <p>This role defines a DeviceInterface that functions as an EdgeInterface - that is, an interface on the edge of the network. The objective of this role is to enable the definition of Policies such that all EdgeInterfaces in a particular Domain can receive the same common configuration commands.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfEdgeInterface">
      <xsd:sequence>
         <xsd:element name="item" type="tns:EdgeInterface" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="firewallRole" type="tns:FirewallRole"/>
   <xsd:complexType name="FirewallRole">
      <xsd:annotation>
         <xsd:documentation>
            <p>This class abstracts the different routing capabilities necessary for a LogicalDevice to have. This helps simplify the modeling of (especially) network devices, which have many different sets of capabilities. For example, most routers can do routing, forwarding, and firewalling of traffic. By modeling these capabilities as three roles, router functionality is both abstracted as well as categorized, so that the differences between firewalling done by a router and firewalling done by a dedicated firewall device can be differentiated.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfFirewallRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:FirewallRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="logicalDeviceRole" type="tns:LogicalDeviceRole"/>
   <xsd:complexType name="LogicalDeviceRole" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>This class defines required logical features to implement the different roles played by different LogicalDevices that are used in a Product or Service.

Please see the DEN-ng Resource model for more details.</p>
            <p>This entity  is  abstract</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="deviceInterfaceRole" type="tns:ArrayOfDeviceInterfaceRole" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association LogicalDeviceUsesInterfaceRoles</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="physicalDeviceRole" type="role:ArrayOfPhysicalDeviceRole" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association RequiresHardwareSupportFor</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfLogicalDeviceRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:LogicalDeviceRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="logicalResourceRole" type="tns:LogicalResourceRole"/>
   <xsd:complexType name="LogicalResourceRole" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>This is an abstract base class that defines the concept of various types of roles that can be associated with LogicalResources.</p>
            <p>This entity  is  abstract</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="logicalResourceSpec" type="log:LogicalResourceSpec" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation shared</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association SpecifiesLogicalResourceRoles</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="logicalResourceRoleSpec" type="role1:LogicalResourceRoleSpec" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation shared</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association SpecifiesLogicalResourceRoles</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="service" type="serv:ArrayOfService" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  an end of association ServiceRunBy</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfLogicalResourceRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:LogicalResourceRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="pELogicalDeviceRole" type="tns:PELogicalDeviceRole"/>
   <xsd:complexType name="PELogicalDeviceRole">
      <xsd:annotation>
         <xsd:documentation>
            <p>This class defines required logical features to implement the specific role of a PE (Provider Edge) device, as used in a Product or Service.

Please see the DEN-ng Resource model for more details.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPELogicalDeviceRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PELogicalDeviceRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="pLogicalDeviceRole" type="tns:PLogicalDeviceRole"/>
   <xsd:complexType name="PLogicalDeviceRole">
      <xsd:annotation>
         <xsd:documentation>
            <p>This class defines required logical features to implement the specific role of a P (Provider Core) device, as used in a Product or Service.

Please see the DEN-ng Resource model for more details.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfPLogicalDeviceRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:PLogicalDeviceRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="routingRole" type="tns:RoutingRole"/>
   <xsd:complexType name="RoutingRole">
      <xsd:annotation>
         <xsd:documentation>
            <p>This class abstracts the different routing capabilities necessary for a LogicalDevice to have. This helps simplify the modeling of (especially) network devices, which have many different sets of capabilities. For example, most routers can do routing, forwarding, and firewalling of traffic. By modeling these capabilities as three roles, router functionality is both abstracted as well as categorized, so that the differences between routing done by a router and routing done by a L3 switch can be differentiated.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfRoutingRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:RoutingRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="siteInterfaceRole" type="tns:SiteInterfaceRole"/>
   <xsd:complexType name="SiteInterfaceRole">
      <xsd:annotation>
         <xsd:documentation>
            <p>This role defines a Customer Site - that is, an interface to a set of Customers. The objective of this role is to enable the definition of Policies such that all Customers in this Site can receive the same Services (e.g., routing announcements, traffic marking, etc.).</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfSiteInterfaceRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:SiteInterfaceRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="switchingRole" type="tns:SwitchingRole"/>
   <xsd:complexType name="SwitchingRole">
      <xsd:annotation>
         <xsd:documentation>
            <p>This class abstracts the different routing capabilities necessary for a LogicalDevice to have. This helps simplify the modeling of (especially) network devices, which have many different sets of capabilities. For example, most routers can do routing, forwarding, and firewalling of traffic. By modeling these capabilities as three roles, switch functionality is both abstracted as well as categorized, so that the differences between forwarding traffic done by a router and forwarding traffic done by a L3 switch can be differentiated.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfSwitchingRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:SwitchingRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="userNameResourceRole" type="tns:UserNameResourceRole"/>
   <xsd:complexType name="UserNameResourceRole">
      <xsd:annotation>
         <xsd:documentation>
            <p>UserNameResourceRole represents the role of a logical resource as user name in a system. User names can be managed in a dedicated specific pool or can be shared with other resource pools in which case phone number or email address can also be used as user names in the system.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfUserNameResourceRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:UserNameResourceRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="vPNLogicalDeviceRole" type="tns:VPNLogicalDeviceRole"/>
   <xsd:complexType name="VPNLogicalDeviceRole">
      <xsd:annotation>
         <xsd:documentation>
            <p>A VPNRole is the superclass for various types of VPN role classes. For example, MPLS VPNs will use the CPELogicalDeviceRole, PELogicalDeviceRole, and PLogicalDeviceRole subclasses of this class to abstract functonality required for the CPE, PE, and P roles of an MPLS VPN. Other types of VPNs will use other subclasses of the VPNRole class. The advantage of this class is that it enables different types of VPN roles to be specified by an MPLSVPNServiceSpecification.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfVPNLogicalDeviceRole">
      <xsd:sequence>
         <xsd:element name="item" type="tns:VPNLogicalDeviceRole" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType><!-- ************************************* --><!-- Package Association Class definitions --><!-- ************************************* --><!-- ************************** --><!-- package Event definitions --><!-- ************************** --><!-- ************************** --><!-- package Exception definitions --><!-- ************************** -->
</xsd:schema>