OrderCare/resources/schema/sid_org_tmforum_tip_enterprise_risk_sec_vuln_scordef.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.7.0.201207021234 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company, Optare Solutions/TIP_Soap_Generator(1.2) (1.2)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) TeleManagement Forum 2012. All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published, and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this section are included on all such copies and derivative works. However, this document itself may not be modified in any way, including by removing the copyright notice or references to TM FORUM, except as needed for the purpose of developing any document or deliverable produced by a TM FORUM Collaboration Project Team (in which case the rules applicable to copyrights, as set forth in the TM FORUM IPR Policy, must be followed) or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by TM FORUM or its successors or assigns. 

This document and the information contained herein is provided on an "AS IS" basis and TM FORUM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY OWNERSHIP RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. 


Direct inquiries to the TM Forum office: 
 
240 Headquarters Plaza,
East Tower - 10th Floor,
Morristown, NJ  07960 USA
Tel No.  +1 973 944 5100
Fax No.  +1 973 944 5110
TM Forum Web Page: www.tmforum.org
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln/scordef" xmlns:vuln="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln" xmlns:notifications="http://www.tmforum.org/xml/tip/common/notifications" xmlns:score="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln/score" xmlns:entity="http://www.tmforum.org/xml/tip/internal/entity" xmlns:alg="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln/scordef/alg" xmlns:base="http://www.tmforum.org/xml/tip/cbe/base" targetNamespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln/scordef" attributeFormDefault="unqualified" elementFormDefault="qualified" version="13.0">
   <xsd:annotation>
      <xsd:documentation>
         <pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: SID_Model
                        at version: 13.0
      for all artifacts in package: org.tmforum.tip.enterprise.risk.sec.vuln.scordef
      Model Description:
      Model Project for SID xsd generation
      Package Description:
      
      Package data summary information:
            entities: 6
 Association Classes: 0
           datatypes: 0
        enumerations: 0
              events: 0
          exceptions: 0
      </pre>
      </xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln" schemaLocation="sid_org_tmforum_tip_enterprise_risk_sec_vuln.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/common/notifications" schemaLocation="common_notifications.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln/score" schemaLocation="sid_org_tmforum_tip_enterprise_risk_sec_vuln_score.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/entity" schemaLocation="internal_entity.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/sid/org/tmforum/tip/enterprise/risk/sec/vuln/scordef/alg" schemaLocation="sid_org_tmforum_tip_enterprise_risk_sec_vuln_scordef_alg.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/cbe/base" schemaLocation="common_cbe_base.xsd"/><!-- ******************************* --><!-- Package Enumeration definitions --><!-- ******************************* --><!-- **************************** --><!-- Package Datatype definitions --><!-- **************************** --><!-- ************************** --><!-- package Entity definitions --><!-- ************************** -->
   <xsd:element name="atomicSecVulScoringMetricDefn" type="tns:AtomicSecVulScoringMetricDefn"/>
   <xsd:complexType name="AtomicSecVulScoringMetricDefn">
      <xsd:annotation>
         <xsd:documentation>
            <p>A type of SecurityVulnerabilityMetricDefn that does not have any subordinate SecurityVulnerabilityMetricDefns, that is, an AtomicSecurityVulnerabilityMetricDefn is a leaf-level SecurityVulnerabilityMetric.

Notes: Examples include Base Metrics - Access Vector, Authentication, and Access Complexity.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfAtomicSecVulScoringMetricDefn">
      <xsd:sequence>
         <xsd:element name="item" type="tns:AtomicSecVulScoringMetricDefn" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="compositeSecVulScoringMetricDefn" type="tns:CompositeSecVulScoringMetricDefn"/>
   <xsd:complexType name="CompositeSecVulScoringMetricDefn">
      <xsd:annotation>
         <xsd:documentation>
            <p>A type of SecurityVulnerabilityMetricDefn that is formed by aggregating other SecurityVulnerabilityMetricDefns, which may be Composite or Atomic SecurityVulnerabilityMetricDefns.

Notes: A Base Score Metric which is made up of Base Exploitability and Base Impact, Base Exploitability made up of Acess Vector, Authentication, and so forth.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="secVulnerabilityScoringMetricDefn" type="tns:ArrayOfSecVulnerabilityScoringMetricDefn" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association CompositeSecVulScoringMetricDefnComprisedOf</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfCompositeSecVulScoringMetricDefn">
      <xsd:sequence>
         <xsd:element name="item" type="tns:CompositeSecVulScoringMetricDefn" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="secVulnerabilityMetricValueDefn" type="tns:SecVulnerabilityMetricValueDefn"/>
   <xsd:complexType name="SecVulnerabilityMetricValueDefn">
      <xsd:annotation>
         <xsd:documentation>
            <p>A standard value for a defined scoring metric (SecVulnerabilityScoringMetricDefn). Each metric has multiple instances which represent multiple values.

Notes: For example, Base Metric Access Vector has three pre-defined values - L/Local, A/Adjacent Network, and N/Network.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A narrative that explains the purpose of the of the SecVulnerabilityMetricValueDefn.

Notes: As an example, L (local) is defined by NIST per the CCSS Report 7502 as "A vulnerability actively exploitable with only local access requires the exploiter to have either physical access to the vulnerable system or a local (shell) account".</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A word, term, or phrase by which the SecVulnerabilityMetricValueDefn is known and distinguished from other SecVulnerabilityMetricValueDefns.

Notes: For example, Base Metric Access Vector has three named values - Local, Adjacent Network, and Network.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="value" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A discrete value that the SecVulnerabilityMetricValueDefn can take on.

Notes: For example, Base Metric Access Vector has three values - L, A, and N.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="validFor" type="base:TimePeriod" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The period of time for which a SecVulnerabilityMetricValueDefn is applicable.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="securityVulnerabilityMetricValue" type="score:ArrayOfSecurityVulnerabilityMetricValue" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecVulnerabilityMetricValueDefnDefines</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="metricValueDefnSecVulnerabilityMbr" type="alg:ArrayOfSecVulnerabilityMetricValueDefnMbr" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecVulnerabilityMetricValueDefnUsedAs</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="secVulnerabilityScoringMetricDefn" type="tns:SecVulnerabilityScoringMetricDefn" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecVulnerabilityScoringMetricDefnTakesOn</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfSecVulnerabilityMetricValueDefn">
      <xsd:sequence>
         <xsd:element name="item" type="tns:SecVulnerabilityMetricValueDefn" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SecVulnerabilityMetricValueDefnAVCN">
      <xsd:complexContent>
         <xsd:extension base="notifications:AVCNotification">
            <xsd:sequence>
               <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A narrative that explains the purpose of the of the SecVulnerabilityMetricValueDefn.

Notes: As an example, L (local) is defined by NIST per the CCSS Report 7502 as "A vulnerability actively exploitable with only local access requires the exploiter to have either physical access to the vulnerable system or a local (shell) account".</p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A word, term, or phrase by which the SecVulnerabilityMetricValueDefn is known and distinguished from other SecVulnerabilityMetricValueDefns.

Notes: For example, Base Metric Access Vector has three named values - Local, Adjacent Network, and Network.</p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="value" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A discrete value that the SecVulnerabilityMetricValueDefn can take on.

Notes: For example, Base Metric Access Vector has three values - L, A, and N.</p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="secVulnerabilityMetricValueDefnAVCN" type="tns:SecVulnerabilityMetricValueDefnAVCN">
      <xsd:annotation>
         <xsd:documentation>
			   SecVulnerabilityMetricValueDefn Attribute Value Change Event. Event that is sent when the attribute values of a(an) SecVulnerabilityMetricValueDefn have changed. 
            </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="secVulnerabilityScoringMetricDefn" type="tns:SecVulnerabilityScoringMetricDefn"/>
   <xsd:complexType name="SecVulnerabilityScoringMetricDefn" abstract="true">
      <xsd:annotation>
         <xsd:documentation>
            <p>The definition of a metric which may be categorized into three groups (Base, Temporal, and Environmental). These three groups are further decomposed into groupings for exploitability and/or impact which define metrics used to score vulnerability severity.

Notes: For example, Base Metrics are grouped into Base Exploitability and Base Impact Metrics. Base Exploitability Metrics include Access Vector, Authentication, and Access Complexity Metrics.</p>
            <p>This entity  is  abstract</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="datatype" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A kind of value that the associated SecVulnerabilityScoringMetricValueDefn can take on, such as numeric, text, and so forth.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A narrative that explains the purpose of the of the SecVulnerabilityMetricDefn.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A word, term, or phrase by which the SecVulnerabilityMetricDefn is known and distinguished from other SecVulnerabilityMetricDefns.


Notes: The name for the metric may be assigned by NIST. Examples include Base Metrics, Temporal Metrics, Environmental Metrics, Exploitability and Impact Metrics.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="validFor" type="base:TimePeriod" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The period of time for which a SecVulnerabilityMetricDefn is applicable.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="scoringSequence" type="xsd:int" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The order in which the score for the metric is calculated. This ensures that a metric's score upon which another is dependent is calculated first.

Notes: For example, the Base Exploitability Score is calculated after the Access Vector, Authentication, and Access Complexity scores are calculated. Also, the Base Score has to be calculated from the Base Metrics before scoring the Temporal and/or Environmental Metrics.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="compositeSecVulScoringMetricDefn" type="tns:CompositeSecVulScoringMetricDefn" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association CompositeSecVulScoringMetricDefnComprisedOf</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="secVulnerabilityScoringDefnMetric" type="tns:ArrayOfSecVulnerabilityScoringMetricDefnAssignment" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecVulnerabilityScoringMetricDefnDescribes</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="secVulnerabilityMetricValueDefn" type="tns:ArrayOfSecVulnerabilityMetricValueDefn" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecVulnerabilityScoringMetricDefnTakesOn</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfSecVulnerabilityScoringMetricDefn">
      <xsd:sequence>
         <xsd:element name="item" type="tns:SecVulnerabilityScoringMetricDefn" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="secVulnerabilityScoringMetricDefnAssignment" type="tns:SecVulnerabilityScoringMetricDefnAssignment"/>
   <xsd:complexType name="SecVulnerabilityScoringMetricDefnAssignment">
      <xsd:annotation>
         <xsd:documentation>
            <p>The scoring system specification defines three groups of metrics to determine a score a vulnerability.

Notes: The three types of metrics include Base Metrics, Temporal Metrics, and Environmental Metrics.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="validFor" type="base:TimePeriod" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>The period of time for which a SecVulnerabilityMetricValueDefnAssignment is applicable.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="secVulnerabilityScoringDefn" type="tns:SecVulnerabilityScoringSystem" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecVulnerabilityScoringDefnComposedOf</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="secVulnerabilityMetricDefnMbr" type="alg:ArrayOfSecVulnerabilityMetricDefnMbr" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecVulnerabilityScoringDefnMetricUsedAs</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="secVulnerabilityScoreEquation" type="alg:ArrayOfSecVulnerabilityScoreAlgorithm" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecVulnerabilityScoringMetricDefnAssignmentScoredUsing</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="secVulnerabilityScoringMetricDefn" type="tns:SecVulnerabilityScoringMetricDefn" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecVulnerabilityScoringMetricDefnDescribes</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="securityVulnerabilityMetric" type="score:ArrayOfSecurityVulnerabilityMetric" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecurityVulnerabilityScoringMetricDefnAssignmentDescribes</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfSecVulnerabilityScoringMetricDefnAssignment">
      <xsd:sequence>
         <xsd:element name="item" type="tns:SecVulnerabilityScoringMetricDefnAssignment" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="secVulnerabilityScoringSystem" type="tns:SecVulnerabilityScoringSystem"/>
   <xsd:complexType name="SecVulnerabilityScoringSystem">
      <xsd:annotation>
         <xsd:documentation>
            <p>A standardized method for vulnerability measurement and severity scoring.

Notes: Three scoring specifications have been created, one for each of the categories of system vulnerabilities defined by NIST SCAP. They include the Common Vulnerability Scoring System (CVSS) which address software flaw vulnerabilies (introduced in 2004/v2 in 2007), the Common Misuse Scoring System (CMSS) which was designed for measuring and scoring misuse vulnerabilities. And the Common Configuration Scoring System (CCSS) which addresses software security configuration issue vulnerabilities.</p>
            <p>This entity  is  optional</p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="entity:EntityBase">
            <xsd:sequence>
               <xsd:element name="version" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A number or text used to specify that a SecVulnerabilityScoringSystem differs in certain respects from an earlier SecVulnerabilityScoringSystem.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A narrative that defines the focus of each of the SecVulnerabilityScoringSystem.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A word, term, or phrase by which the SecVulnerabilityScoringSystem is known and distinguished from other SecVulnerabilityScoringSystems.

Notes: There are three scoring systems named as Common Configuration Scoring System, Common Misuse Scoring System, and Common Vulnerability Scoring System.</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="iD" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A unique identifier for the SecVulnerabilityScoringSystem.

Notes: The three scoring systems are identified as CCSS (Common Configuration Scoring System), CMSS (Common Misuse Scoring System), and CVSS (Common Vulnerability Scoring System).</p>
                        <p>This element is generated from an attribute.</p>
                        <p>This attribute  is  mandatory</p>
                        <p>This attribute  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="securityVulnerabilityCategory" type="vuln:ArrayOfSecurityVulnerabilityCategoryAssignment" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecurityVulnerabilityCategoryScoredUsing</p>
                        <p>This association end  is  passed by value</p>
                        <p>This association end  is  optional</p>
                        <p>This association end  is  AVC enabled</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="securityVulnerabilityCategoryType" type="vuln:SecurityVulnerabilityCategoryType" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity 0..1</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecurityVulnerabilityCategoryTypeDetermines</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="secVulnerabilityScoringDefnMetric" type="tns:ArrayOfSecVulnerabilityScoringMetricDefnAssignment" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This element is generated from an association end.</p>
                        <p>This association end  has  multiplicity *</p>
                        <p>This association end  has  aggregation none</p>
                        <p>This association end  is  navigable</p>
                        <p>This association end  is  unique</p>
                        <p>This association end  is  an end of association SecVulnerabilityScoringDefnComposedOf</p>
                        <p>This association end  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ArrayOfSecVulnerabilityScoringSystem">
      <xsd:sequence>
         <xsd:element name="item" type="tns:SecVulnerabilityScoringSystem" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SecVulnerabilityScoringSystemAVCN">
      <xsd:complexContent>
         <xsd:extension base="notifications:AVCNotification">
            <xsd:sequence>
               <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A narrative that defines the focus of each of the SecVulnerabilityScoringSystem.</p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A word, term, or phrase by which the SecVulnerabilityScoringSystem is known and distinguished from other SecVulnerabilityScoringSystems.

Notes: There are three scoring systems named as Common Configuration Scoring System, Common Misuse Scoring System, and Common Vulnerability Scoring System.</p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="iD" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>A unique identifier for the SecVulnerabilityScoringSystem.

Notes: The three scoring systems are identified as CCSS (Common Configuration Scoring System), CMSS (Common Misuse Scoring System), and CVSS (Common Vulnerability Scoring System).</p>
                        <p>This attribute  has  multiplicity 0..1</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="securityVulnerabilityCategory" type="vuln:ArrayOfSecurityVulnerabilityCategoryAssignment" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This attribute  has  multiplicity *</p>
                        <p>This attribute  is  passed by value</p>
                        <p>This attribute  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="secVulnerabilityScoringSystemAVCN" type="tns:SecVulnerabilityScoringSystemAVCN">
      <xsd:annotation>
         <xsd:documentation>
			   SecVulnerabilityScoringSystem Attribute Value Change Event. Event that is sent when the attribute values of a(an) SecVulnerabilityScoringSystem have changed. 
            </xsd:documentation>
      </xsd:annotation>
   </xsd:element><!-- ************************************* --><!-- Package Association Class definitions --><!-- ************************************* --><!-- ************************** --><!-- package Event definitions --><!-- ************************** --><!-- ************************** --><!-- package Exception definitions --><!-- ************************** -->
</xsd:schema>