Templates/OCSWS/resources/schema/UNICA_API_SOAP_OCSProvisioning_productManagement_services_v1_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.telefonica.com/schemas/UNICA/SOAP/OCSProvisioning/productManagement/v1/services"
    xmlns:pns="http://www.telefonica.com/schemas/UNICA/SOAP/OCSProvisioning/productManagement/v1/types"
    xmlns:uct="http://www.telefonica.com/schemas/UNICA/SOAP/common/v2"
    xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
    targetNamespace="http://www.telefonica.com/schemas/UNICA/SOAP/OCSProvisioning/productManagement/v1/services">

    <!-- PA1 -->

    <wsdl:import
        namespace="http://www.telefonica.com/wsdl/UNICA/SOAP/common/v2/faults"
        location="UNICA_API_SOAP_common_faults_v2_1.wsdl" />

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">
            <xsd:import
                namespace="http://www.telefonica.com/schemas/UNICA/SOAP/OCSProvisioning/productManagement/v1/types"
                schemaLocation="UNICA_API_SOAP_OCSProvisioning_productManagement_types_v1_1.xsd" />
            <xsd:import
                namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                schemaLocation="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
            <xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext"
                schemaLocation="http://schemas.xmlsoap.org/ws/2002/04/secext/secext.xsd" />
        </xsd:schema>
    </wsdl:types>

    <!-- Header -->
    <wsdl:message name="OCSHeaderInfo">
        <wsdl:part name="messageID" element="wsa:MessageID" />
        <wsdl:part name="replyTo" element="wsa:ReplyTo" />
        <wsdl:part name="security" element="wsse:Security" />
    </wsdl:message>

    <!-- Messages -->

    <wsdl:message name="SubscribeProductRequest">
        <wsdl:part name="parameters" element="pns:subscribeProduct" />
    </wsdl:message>
    <wsdl:message name="SubscribeProductResponse">
        <wsdl:part name="parameters" element="pns:subscribeProductResponse" />
    </wsdl:message>
    <wsdl:message name="UnsubscribeProductRequest">
        <wsdl:part name="parameters" element="pns:unsubscribeProduct" />
    </wsdl:message>
    <wsdl:message name="UnsubscribeProductResponse">
        <wsdl:part name="parameters" element="pns:unsubscribeProductResponse" />
    </wsdl:message>
    <wsdl:message name="QueryProductsBasicsRequest">
        <wsdl:part name="parameters" element="pns:queryProductsBasics" />
    </wsdl:message>
    <wsdl:message name="QueryProductsBasicsResponse">
        <wsdl:part name="parameters" element="pns:queryProductsBasicsResponse" />
    </wsdl:message>
    <wsdl:message name="ServerException">
      <wsdl:part name="ServerException" element="uct:serverException"/>
    </wsdl:message>
    <wsdl:message name="ClientException">
      <wsdl:part name="ClientException" element="uct:clientException"/>
    </wsdl:message>


    <!-- Port -->

    <wsdl:portType name="ProductManagementPort_v1_1">
        <wsdl:operation name="subscribeProduct">
            <wsdl:input message="tns:SubscribeProductRequest" />
            <wsdl:output message="tns:SubscribeProductResponse" />
            <wsdl:fault name="ClientException" message="tns:ClientException" />
            <wsdl:fault name="ServerException" message="tns:ServerException" />
        </wsdl:operation>
        <wsdl:operation name="unsubscribeProduct">
            <wsdl:input message="tns:UnsubscribeProductRequest" />
            <wsdl:output message="tns:UnsubscribeProductResponse" />
            <wsdl:fault name="ClientException" message="tns:ClientException" />
            <wsdl:fault name="ServerException" message="tns:ServerException" />
        </wsdl:operation>
        <wsdl:operation name="queryProductsBasics">
            <wsdl:input message="tns:QueryProductsBasicsRequest" />
            <wsdl:output message="tns:QueryProductsBasicsResponse" />
            <wsdl:fault name="ClientException" message="tns:ClientException" />
            <wsdl:fault name="ServerException" message="tns:ServerException" />
        </wsdl:operation>
    </wsdl:portType>

    <!-- Binding -->

    <wsdl:binding name="ProductManagementServiceSOAPBinding_v1_1"
        type="tns:ProductManagementPort_v1_1">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="subscribeProduct">
            <soap:operation soapAction="subscribeProduct"
                style="document" />
            <wsdl:input>
                <soap:header message="tns:OCSHeaderInfo"
                    part="messageID" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:OCSHeaderInfo"
                    part="messageID" use="literal" />
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ClientException">
                <soap:fault name="ClientException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="ServerException">
                <soap:fault name="ServerException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="unsubscribeProduct">
            <soap:operation soapAction="unsubscribeProduct"
                style="document" />
            <wsdl:input>
                <soap:header message="tns:OCSHeaderInfo"
                    part="messageID" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:OCSHeaderInfo"
                    part="messageID" use="literal" />
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ClientException">
                <soap:fault name="ClientException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="ServerException">
                <soap:fault name="ServerException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="queryProductsBasics">
            <soap:operation soapAction="queryProductsBasics"
                style="document" />
            <wsdl:input>
                <soap:header message="tns:OCSHeaderInfo"
                    part="messageID" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:OCSHeaderInfo"
                    part="messageID" use="literal" />
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ClientException">
                <soap:fault name="ClientException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="ServerException">
                <soap:fault name="ServerException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>

    <!-- Service -->

    <wsdl:service name="ProductManagementService_v1">
        <wsdl:port name="ProductManagement_v1_1"
            binding="tns:ProductManagementServiceSOAPBinding_v1_1">
            <soap:address
                location="http://localhost/UNICA/OCSProvisioning/ProductManagement_v1" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
	