Templates/OCSWS/resources/schema/UNICA_API_SOAP_OCSProvisioning_administration_services_v1_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- PA2 -->

<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.telefonica.com/schemas/UNICA/SOAP/OCSProvisioning/administration/v1/services"
    xmlns:adns="http://www.telefonica.com/schemas/UNICA/SOAP/OCSProvisioning/administration/v1/types"
    xmlns:uct="http://www.telefonica.com/schemas/UNICA/SOAP/common/v2"
    xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/04/secext"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
    targetNamespace="http://www.telefonica.com/schemas/UNICA/SOAP/OCSProvisioning/administration/v1/services">
    
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">
            <xsd:import namespace="http://www.telefonica.com/schemas/UNICA/SOAP/OCSProvisioning/administration/v1/types"
                schemaLocation="UNICA_API_SOAP_OCSProvisioning_administration_types_v1_1.xsd"/>
            <xsd:import namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                schemaLocation="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
            <xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext"
                schemaLocation="http://schemas.xmlsoap.org/ws/2002/04/secext/secext.xsd" />
	        <xsd:import namespace="http://www.telefonica.com/schemas/UNICA/SOAP/common/v2"
  			    schemaLocation="UNICA_API_SOAP_common_types_v2_1.xsd"/>	
        </xsd:schema>
    </wsdl:types>
    
    <!--
        Header
    -->
    <wsdl:message name="OCSHeaderInfo">
        <wsdl:part name="messageID" element="wsa:MessageID" />
        <wsdl:part name="replyTo" element="wsa:ReplyTo" />
        <wsdl:part name="security" element="wsse:Security" />
    </wsdl:message>
  
    <!--
        Messages
    -->
        
    <wsdl:message name="QueryOperationResultRequest">
        <wsdl:part name="parameters" element="adns:queryOperationResult" />
    </wsdl:message>
    <wsdl:message name="QueryOperationResultResponse">
        <wsdl:part name="parameters" element="adns:queryOperationResultResponse" />
    </wsdl:message>

    <wsdl:message name="ServerException">
      <wsdl:part name="ServerException" element="uct:serverException"/>
    </wsdl:message>
    <wsdl:message name="ClientException">
      <wsdl:part name="ClientException" element="uct:clientException"/>
    </wsdl:message>
    
    <!--
        Port
    -->

    <wsdl:portType name="AdministrationPort_v1_1">
        <wsdl:operation name="queryOperationResult">
            <wsdl:input message="tns:QueryOperationResultRequest" />
            <wsdl:output message="tns:QueryOperationResultResponse" />
            <wsdl:fault name="ClientException" message="tns:ClientException"/>
            <wsdl:fault name="ServerException" message="tns:ServerException"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- Binding -->

    <wsdl:binding name="AdministrationServiceSOAPBinding_v1_1" type="tns:AdministrationPort_v1_1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="queryOperationResult">
            <soap:operation soapAction="queryOperationResult" style="document" />
            <wsdl:input>
                <soap:header message="tns:OCSHeaderInfo" part="messageID" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:OCSHeaderInfo" part="messageID" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ClientException">
                <soap:fault name="ClientException" use="literal"/>
            </wsdl:fault>
             <wsdl:fault name="ServerException">
                <soap:fault name="ServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>    
    
    </wsdl:binding>
    
    <!--
        Service
    -->

    <wsdl:service name="AdministrationService_v1">
        <wsdl:port name="Administration_v1_1" binding="tns:AdministrationServiceSOAPBinding_v1_1">
            <soap:address location="http://localhost/UNICA/OCSProvisioning/Administration_v1"/>
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>
    
